@use '@packages/frontend-shared/src/styles/shared.scss';

html {
  @apply h-screen overflow-hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/**
 * Utilities
 * -------------------------
 */

// Hides the scrollbar when overflow: auto. Use this sparingly -- it's not accessible!
.hide-scrollbar {
  scrollbar-width: 0; // Firefox

  // Chrome
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

// used to style the spec bridge needed for cy.origin.
iframe.spec-bridge-iframe {
  border: none;
  height: 100%;
  position: fixed;
  visibility: hidden;
  width: 100%;
  // NOTE: Please do NOT remove top/left styles from the .spec-bridge-iframe.
  // This is needed to overlay the spec bridge on top of the AUT/Reporter to avoid performance issues in Electron when the iframe is outside the viewport.
  // Full size of the iframe is needed for cy.screenshot to work properly
  top: 0;
  left: 0;
}

// for runner/screenshot/screenshot.cy.tsx
body {
  margin: 0; 
}
#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header, #footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: silver;
}

// for runner/screenshot/screenshot.cy.tsx
html, body {
  margin: 0;
  padding: 0;
}
* {
box-sizing: content-box;
}
.wrapper {
  width: 1500px;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper > div {
  border: 5px solid orange;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background: rgba(233,171,88,.5);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
