.extension-message {
  text-align: center;
  padding: 50px;
  padding-top: 150px;

  p {
    font-size: 200%;
    color: #333;

    small {
      font-size: 60%;
      color: #aaa;
    }
  }

  .btn {
    margin-top: 20px;
  }

}