$fa-font-path: "/__cypress/static/css/fonts";

$pass: #08c18d;

$fail: #e94f5f;

$pending: #428BCA;

$yellow-lightest: #ffffee;

$header-height: 46px;

// Bootstrap variable overrides

$btn-font-weight: 500 !default;
$btn-default-color: #4f4f4f !default;

$brand-primary: #476fc9;

$border-radius-base:        2px !default;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-bg:                         #262a2f !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 5%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 #81838d !default;
$navbar-inverse-link-hover-color:           #c7c9d4 !default;
$navbar-inverse-link-active-color:          #dcdde3 !default;
$navbar-inverse-link-active-bg:             #16191d !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                #dfe0e5 !default;
