.reporter {
  .instruments-container {
    .route-alias-name {
      border-radius: 10px;
      background-color: $yellow-medium;
      color: #777888;
      padding: 0px 5px;
      display: inline-block;
    }

    .instrument-content {
      background-color: #eef1f4;
      border-bottom: 1px solid #d9d9d9;
      border-left: 1px solid #ECECEC;
      border-radius: 0 3px 3px;
      border-right: 1px solid #ECECEC;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
      margin-bottom: 10px;
      overflow: auto;
      padding: 3px 10px;
    }

    .instrument-content h3,
    h2,
    h1:first-child {
      margin-top: 0;
    }

    table {
      margin-bottom: 0;

      th {
        font-weight: 200;
      }

      td {
        font-family: $monospace;
        font-size: 11px;
      }
    }

    .call-count {
      white-space: nowrap;
    }

    .no-calls .call-count,
    .no-responses .route-num-responses {
      color: $fail;
    }
  }

  .no-agents .instruments-container,
  .no-routes .instruments-container {
    display: none;
  }
}
