#updates-available {
  text-align: center;
  background-color: #D9EDF7;
  position: absolute;
  bottom: $footer-height;
  width: 100%;
  color: #3A87AD;
  line-height: $footer-height;

  strong {
    margin-left: 10px;

    &:hover {
      color: darken(#3A87AD, 15%);
      cursor: pointer;
    }
  }
}

#footer {
  background-color: $light-gray;
  position: fixed;
  width: 100%;
  border-top: 1px solid #DCDEE4;
  z-index: 10;
  bottom: 0;

  span:hover, .dropup.open {
    cursor: pointer;
  }

  span:hover {
    i {
      color: #47484C;
    }
  }

  .dropup.open {
    i {
      color: #47484C;
    }
  }

  i {
    color: #7A7B80;
    font-size: 24px;
    line-height: $footer-height;
    margin: 0 10px 0 5px;
  }

  .dropdown-menu {
    margin-right: 5px;
    margin-bottom: -10px;
  }
}