#login {
  text-align: center;
  padding-top: 20px;

  h3 {
    margin-bottom: 25px;
  }

  .alert-danger a {
    cursor: pointer;
    color: #a94442;
    text-decoration: underline;
  }

}

.btn-login {
  line-height: 24px;

  &:active, &:focus {
    outline: 0
  }

  i {
    font-size: 18px;
    position: relative;
    top: 1px;
    padding-right: 3px;
  }
}

.login-spinner {
  margin-top: 20px;
}