#organize-page {

  .outer-files-container {
    @include list-columns(100%);
    margin-bottom: 0;
  }

  .file, .folder {

    color: #69727e;
    font-weight: 500;

    i {
      color: #476fc9;
      margin-right: 5px;
    }

  }

  .list-as-table>.folder {

    &>div>div:last-child {
      padding: 0;
    }
  }

  .list-as-table>.file {

    &>div:first-child {
      @include responsive-width(75%);
    }

    &>div:last-child {
      @include responsive-width(25%);
      text-align: right;
    }
  }


  // need to refactor to be calculated using sass
  .outer-files-container.list-as-table>.folder,
  .outer-files-container.list-as-table>.file {

    &>div>div:first-child {
      padding-left: 20px;
      padding-right: 20px;
    }

    &>div>div:last-child {

      &>.list-as-table>.folder,
      &>.list-as-table>.file {

        &>div>div:first-child {
          padding-left: 40px;
        }

        &>div>div:last-child {

          &>.list-as-table>.folder,
          &>.list-as-table>.file {

            &>div>div:first-child {
              padding-left: 60px;
            }

          }

        }

      }

    }

  } // end of folder/files styles



}