#organize-page {
  h4 {
    // margin: 0;

    i {
      font-size: 80%;
    }

  }

  .block-panel {
    padding: 10px;
  }

  ul {
    margin: 5px 0 5px 7px;
    padding-left: 11px;

    & > li > ul h4 {
      font-size: 125%;
    }
  }

  li {
    list-style: none;
    position: relative;
  }

  ul.outer-files-container li > ul {
    border-left: 1px dotted #999;
  }

  ul.outer-files-container li > ul > li {
    &:before {
      // border-left: 1px dotted #999;
      border-bottom: 1px dotted #999;
      position: absolute;
      width: 10px;
      height: 11px;
      content: "";
      margin-left: -12px;
    }
  }

  // li.file {
  //   list-style: disc;
  //   list-style-position: inside;
  //   padding-left: 0;
  //   margin-left: 0;
  // }
}