#test-container {
  background-color: #222;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 33%;
}

#test-specs {
  background-color: #222;
  border: 1px solid #191919;
  border-top: 0;
  border-bottom: 0;
  padding-left: 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  #specs-container {
    background-color: #3C3E43;
    padding-left: 0;
    border-left: 1px solid #191919;
    width: 100%;
    height: 100%;

    #specs-list {
      box-shadow: 0 1px 2px #373737;
      border-bottom: 1px solid #222;
      margin-bottom: 0;
    }

    li {
      list-style-type: none;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  ul.runnables {
    padding-left: 0;
    border-top: 1px solid #222;

    li.runnable {
      width: 100%;
      color: #ddd;
      border-bottom: 1px solid #222;
      border-top: 1px solid #515151;
      background-color: lighten(#3C3E43, 3%);
      overflow: auto;
      line-height: 18px;
      padding-left: 0;
      text-shadow: 0 1px 1px #000;

      .runnable-wrapper {
        padding: 5px;
        position: relative;
        overflow: hidden;

        .runnable-content-region {
          overflow: auto;

          .runnable-state {
            width: 80%;
            float: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .suite-title {
              color: lighten(#8D7D77, 13%);
              // color: lighten(#1C7EBB, 25%);
              // font-variant: small-caps;
              text-transform: uppercase;
              // font-size: 13px;
            }
          }

          .runnable-controls {
            width: 50px;
            float: right;
          }
        }
      }

      pre {
        margin-bottom: 0;
        padding-bottom: 2px;
        margin-left: 18px;
        white-space: pre-wrap;
        clear: both;

        &:empty {
          display: none;
        }
      }

      &.hover {
        background-color: lighten(#3C3E43, 5%);
        cursor: pointer;
      }

      &.active {
        background-color: lighten(#3C3E43, 10%);
        // box-shadow: -3px 0 0 #999 inset;

        .commands-container {
          border-bottom: 1px solid #666;
        }

        .runnables {
          .runnable-wrapper:after {
            position: absolute;
            top: -3px;
            right: -3px;
            width: 7px;
            height: 7px;
            background-color: lighten(#3C3E43, 40%);
            content: "";
            transform: rotate(45deg);
            text-shadow: 0 0 0;
          }
        }

        &.hover {
          background-color: lighten(#3C3E43, 13%)
        }
      }

      .suite-state, .test-state {
        width: 12px;
        display: inline-block;
        margin-right: 3px;
        text-align: left;
      }

      .suite-state  {
        margin-left: 1px;

        i {
          padding-left: 2px;
          font-size: 16px;
          color: #999;
        }
      }

      &.processing > .runnable-wrapper {
        .suite-state i,
        .test-state i {
          @extend .#{$fa-css-prefix}-refresh;
          @extend .fa-spin;
          color: #888;
        }
      }

      &.test.failed > .runnable-wrapper {
        border-left: 1px solid #E94B3B;
      }

      &.failed > .runnable-wrapper {
        pre {
          color: lighten(#E94B3B, 4%);
        }

        .suite-title i {
          border-radius: 3px;
          background-color: lighten(#E94B3B, 2%);
          color: #FFF;
          padding: 0 4px 0 3px;
          font-size: 10px;
          margin-left: 2px;
        }

        .test-state i {
          @extend .#{$fa-css-prefix}-times;
          color: #E94B3B;
        }

        label {
          text-transform: uppercase;
        }
      }

      &.passed > .runnable-wrapper {
        // .suite-state i {
        //   color: #23AE89;
        // }

        .test-state i {
          @extend .#{$fa-css-prefix}-check;
          color: #23AE89;
        }
      }

      &.pending > .runnable-wrapper {
        // .suite-state {
        //   color: lighten(#428BCA, 20%);
        // }

        .test-title {
          color: lighten(#428BCA, 25%);
        }

        .test-state i {
          @extend .#{$fa-css-prefix}-circle-o-notch;
          color: lighten(#428BCA, 20%);
        }
      }
    }

    .commands-container {
      padding: 4px 10px;
      margin: 2px 30px 0 20px;
      box-shadow: 0 0 3px #222 inset;
      background-color: #404040;
      border-radius: 4px;
      color: #BBB;
      border-bottom: 1px solid #555;

      &:empty {
        display: none;
      }

      &>li {
        margin: 2px 0;
      }
      .command-method {
        color: #E0C85E;
        padding: 0 2px;
        display: inline-block;
        width: 34px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: .6px;
      }

      // .command-method {
      //   background-color: #23AE89;
      //   color: white;
      //   border-radius: 3px;
      //   padding: 0 2px;
      //   display: inline-block;
      //   width: 30px;
      //   text-transform: uppercase;
      //   font-size: 11px;
      //   letter-spacing: .7px;
      // }

      .command-selector {
        color: #80B0FF;
      }

      .command-sequence {
        color: #F98E33;
      }
    }
  }
}

#test-page {
  position: relative;

  #specs-container {
    clear: both;
    padding-left: 0;
    float: left;

    pre {
      margin-bottom: 0;
      padding-bottom: 2px;
    }

    li {
      list-style-type: none;
      padding-left: 5px;
    }

    li {
      &.suite {
        font-family: "Raleway",Helvetica,sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding: 3px 10px 2px 5px;
      }

      &.test {
        font-size: 13px;
      }

      &.hover {
        background-color: #E5E5E5;
        border-left: 2px solid #3380FF;
        padding-left: 3px;
        cursor: pointer;
      }

      &.active {
        background-color: #FFF;
        box-shadow: 0 1px 2px #DDD;

        &:hover {
          padding-left: 5px;
          border-left: 0;
        }
      }

      pre.test-error {
        margin-top: 0;
        padding-left: 10px;
        margin-left: 4px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      label {
        padding: 1px 4px;
      }

      .suite-state i {
        font-size: 14px;
      }

      .test-state i {
        font-size: 12px;
      }

      &.processing {
        &>.suite-state i {
          @extend .#{$fa-css-prefix}-refresh;
          @extend .fa-spin;
          color: #888;
        }

        &>.test-state i {
          @extend .#{$fa-css-prefix}-refresh;
          @extend .fa-spin;
          color: #888;
        }
      }

      &.failed {
        &>pre {
          color: #E94B3B;
        }

        &>.suite-state i,
        &>.test-state i {
          @extend .#{$fa-css-prefix}-times;
          color: #E94B3B;
        }

        label {
          text-transform: uppercase;
        }
      }

      &.passed {
        &>.suite-state i,
        &>.test-state i {
          @extend .#{$fa-css-prefix}-check;
          color: #23AE89;
        }
      }

      &.pending {
        &>.suite-state i,
        &>.test-state i {
          @extend .#{$fa-css-prefix}-circle-o-notch;
          color: #428BCA;
        }
      }

      ul.runnables {
        padding-left: 12px;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 300;
        padding-left: 8px;
        margin-left: 4px;
        border-left: 1px dotted #CCC;
      }
    }
  }
}

#iframe-wrapper {
  position: absolute;
  right: 0;
  top: 27px;
  margin-right: 30px;

  #iframe-container {
    height: 100;
    width: 100%;
    position: relative;
    box-shadow: 0 0 12px #CCCCCC;

    header {
      overflow: auto;
      background-color: #FFF;
      border-radius: 5px 5px 0 0;
      line-height: 22px;
      padding: 5px 10px;
      color: #888;
      border: 1px solid #ddd;
      border-bottom: 0;

      #url-container {
        width: 65%;
      }

      i {
        cursor: pointer;
        font-size: 18px;
        margin-right: 10px;
        margin-top: 3px;
        float: left;

        &:hover {
          color: #555;
        }

        &.fa-expand, &.fa-compress, {
          margin-right: 0;
        }
      }

      .fa-caret-down {
        font-size: 14px;
      }

      input.url {
        box-shadow: inset 0 1px 2px #AAA;
        border-radius: 20px;
        border: 0;
        padding: 2px 10px;
        float: left;
        width: 70%;
      }
    }

    iframe {
      // display: none;
      z-index: 1;
      background-color: white;
      width: 900px;
      height: 700px;
      border: 1px solid #D5D5D5;
    }
  }
}


  // #ecl-panel, #ecl-xhr-panel {
  //   overflow: hidden;
  //   float: left;
  //   padding: 10px;

  //   ul {
  //     list-style-type: none;
  //     padding-left: 0;
  //     margin-bottom: 0;
  //     clear: both;

  //     li {
  //       padding: 5px 10px;
  //       margin: 0;
  //       list-style-type: none;
  //       border-bottom: 1px dotted #CCC;
  //       overflow: auto;

  //       &:last-child {
  //         border-bottom: 0;
  //       }

  //       & .title {
  //         display: block;
  //       }

  //       & .msg {
  //         display: block;
  //       }

  //       & .id {
  //         font-size: 11px;
  //         color: #999;
  //         margin-right: 5px
  //       }

  //       & .test {
  //         font-weight: 600
  //       }

  //       i {
  //         font-size: 10px;
  //         font-weight: 200;
  //         color: #999;
  //       }
  //     }
  //   }
  // }

  // #ecl-panel {
  //   ul li {
  //     padding-left: 20px;

  //     &.xhr:before,
  //     &.log:before,
  //     &.info:before,
  //     &.dom:before {
  //       @extend .#{$fa-css-prefix}-circle:before;
  //       @extend .fa;
  //       position: absolute;
  //       left: 13px;
  //       margin-top: 6px;
  //     }

  //     &.xhr:before {
  //       color: #FFB61C;
  //     }

  //     &.log:before {
  //       color: lighten(#9296A3, 20%);
  //     }

  //     &.info:before {
  //       color: #335397;
  //     }

  //     &.dom:before {
  //       color: #2EC1CC;
  //     }

  //     &.dom {
  //       cursor: pointer;
  //     }

  //     &.dom:hover {
  //       background-color: lighten(#1C7EBB, 50%);
  //     }

  //     &.dom.active {
  //       background-color: lighten(#1C7EBB, 43%);
  //     }
  //   }
  // }

  // #ecl-xhr-panel {
  //   float: left;
  //   margin-left: 20px;
  //   width: 400px;
  //   background-color: #FCF8E3;

  //   #xhr-header {
  //     border-bottom: 1px solid #ddd;
  //     float: left; width: 100%;
  //     font-weight: 600;
  //     span {
  //       float: left;
  //       width: 50%;
  //       padding-left: 10px;
  //     }
  //     span:last-child {
  //       padding-left: 5%;
  //     }
  //   }

  //   li {
  //     width: 100%;
  //     cursor: pointer;

  //     &:hover {
  //       background-color: darken(#FCF8E3, 5%)
  //     }
  //   }

  //   span {
  //     display: inline-block;
  //   }

  //   .method {
  //     width: 15%;
  //     color: #3380FF;
  //   }

  //   .url {
  //     width: 35%;
  //     color: #3380FF
  //   }

  //   .fa-chevron-right {
  //     width: 5%;
  //   }

  //   .status {
  //     width: 10%;
  //     color: #008000;
  //   }

  //   .body {
  //     width: 35%;
  //     color: #008000;
  //   }

  //   .processing {
  //     width: 45%;

  //     i {
  //       font-size: 15px;
  //       margin-right: 5px;
  //       color: #444;
  //     }
  //   }
  // }
