#test-page {
  position: relative;

  #specs-container {
    clear: both;
    padding-left: 0;
    float: left;

    pre {
      margin-bottom: 0;
      padding-bottom: 2px;
    }

    li {
      list-style-type: none;
      padding-left: 5px;
    }

    li {
      &.suite {
        font-family: "Raleway",Helvetica,sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding: 3px 10px 2px 5px;
      }

      &.test {
        font-size: 13px;
      }

      &.hover {
        background-color: #E5E5E5;
        border-left: 2px solid #3380FF;
        padding-left: 3px;
        cursor: pointer;
      }

      &.active {
        background-color: #FFF;
        box-shadow: 0 1px 2px #DDD;

        &:hover {
          padding-left: 5px;
          border-left: 0;
        }
      }

      pre.test-error {
        margin-top: 0;
        padding-left: 10px;
        margin-left: 4px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      label {
        padding: 1px 4px;
      }

      .suite-state i {
        font-size: 14px;
      }

      .test-state i {
        font-size: 12px;
      }

      &.processing {
        &>.suite-state i {
          @extend .#{$fa-css-prefix}-refresh;
          @extend .fa-spin;
          color: #888;
        }

        &>.test-state i {
          @extend .#{$fa-css-prefix}-refresh;
          @extend .fa-spin;
          color: #888;
        }
      }

      &.failed {
        &>pre {
          color: #E94B3B;
        }

        &>.suite-state i,
        &>.test-state i {
          @extend .#{$fa-css-prefix}-times;
          color: #E94B3B;
        }

        label {
          text-transform: uppercase;
        }
      }

      &.passed {
        &>.suite-state i,
        &>.test-state i {
          @extend .#{$fa-css-prefix}-check;
          color: #23AE89;
        }
      }

      &.pending {
        &>.suite-state i,
        &>.test-state i {
          @extend .#{$fa-css-prefix}-circle-o-notch;
          color: #428BCA;
        }
      }

      ul.runnables {
        padding-left: 12px;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 300;
        padding-left: 8px;
        margin-left: 4px;
        border-left: 1px dotted #CCC;
      }
    }
  }
}

#iframe-wrapper {
  position: absolute;
  right: 0;
  top: 27px;
  margin-right: 30px;

  #iframe-container {
    height: 100;
    width: 100%;
    position: relative;
    box-shadow: 0 0 12px #CCCCCC;

    header {
      overflow: auto;
      background-color: #FFF;
      border-radius: 5px 5px 0 0;
      line-height: 22px;
      padding: 5px 10px;
      color: #888;
      border: 1px solid #ddd;
      border-bottom: 0;

      #url-container {
        width: 65%;
      }

      i {
        cursor: pointer;
        font-size: 18px;
        margin-right: 10px;
        margin-top: 3px;
        float: left;

        &:hover {
          color: #555;
        }

        &.fa-expand, &.fa-compress, {
          margin-right: 0;
        }
      }

      .fa-caret-down {
        font-size: 14px;
      }

      input.url {
        box-shadow: inset 0 1px 2px #AAA;
        border-radius: 20px;
        border: 0;
        padding: 2px 10px;
        float: left;
        width: 70%;
      }
    }

    iframe {
      // display: none;
      z-index: 1;
      background-color: white;
      width: 900px;
      height: 700px;
      border: 1px solid #D5D5D5;
    }
  }
}

#panel-wrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  // background-color: #444;

  // &>li + li:empty {
  //   padding-left: 0;
  //   background-color: red;
  //   margin-right: 5px solid blue;
  // }

  &>li {
    // float: left;
    list-style-type: none;
    border-left: 1px solid #191919;
    border-right: 1px solid #191919;
    width: 300px;
    // margin-left: 5px;
    background-color: #3C3E43;

    // &:first-child {
      // margin-left: 0;
    // }

    &:empty {
      padding: 0;
      display: none;
    }

    &:hover {
      .panel-close,
      .panel-controls {
        display: inline-block;
      }
    }

    header {
      background-color: #1F2126;
      text-align: center;
      color: #888;
      padding: 3px 5px;
      border-top: 1px solid #000;
      box-shadow: 0 1px 0 #444 inset;
      position: relative;

      i.fa-circle {
        font-size: 11px;
        position: relative;
        top: -1px;
        margin-right: 2px;
      }

      .panel-close,
      .panel-controls {
        float: left;
        display: none;
        color: #999;
        position: absolute;
        cursor: pointer;

        i:hover {
          color: #DDD;
        }
      }

      .panel-close {
        left: 5px;
      }

      .panel-controls {
        right: 5px;
      }
    }

    .panel-content {
      height: 250px;

      ul {
        padding: 0;

        li {
          width: 100%;
          list-style-type: none;
          color: #ddd;
          padding: 2px 5px;
          border-bottom: 1px solid #222;
          border-top: 1px solid #515151;
          background-color: lighten(#3C3E43, 3%);

          &:hover {
            cursor: pointer;
            background-color: lighten(#3C3E43, 5%);
          }

          &:first-child {
            border-top: 0;
          }

          &:last-child {
            box-shadow: 0 1px 2px #373737;
          }
        }
      }
    }
  }



  // #ecl-panel, #ecl-xhr-panel {
  //   overflow: hidden;
  //   float: left;
  //   padding: 10px;

  //   ul {
  //     list-style-type: none;
  //     padding-left: 0;
  //     margin-bottom: 0;
  //     clear: both;

  //     li {
  //       padding: 5px 10px;
  //       margin: 0;
  //       list-style-type: none;
  //       border-bottom: 1px dotted #CCC;
  //       overflow: auto;

  //       &:last-child {
  //         border-bottom: 0;
  //       }

  //       & .title {
  //         display: block;
  //       }

  //       & .msg {
  //         display: block;
  //       }

  //       & .id {
  //         font-size: 11px;
  //         color: #999;
  //         margin-right: 5px
  //       }

  //       & .test {
  //         font-weight: 600
  //       }

  //       i {
  //         font-size: 10px;
  //         font-weight: 200;
  //         color: #999;
  //       }
  //     }
  //   }
  // }

  // #ecl-panel {
  //   ul li {
  //     padding-left: 20px;

  //     &.xhr:before,
  //     &.log:before,
  //     &.info:before,
  //     &.dom:before {
  //       @extend .#{$fa-css-prefix}-circle:before;
  //       @extend .fa;
  //       position: absolute;
  //       left: 13px;
  //       margin-top: 6px;
  //     }

  //     &.xhr:before {
  //       color: #FFB61C;
  //     }

  //     &.log:before {
  //       color: lighten(#9296A3, 20%);
  //     }

  //     &.info:before {
  //       color: #335397;
  //     }

  //     &.dom:before {
  //       color: #2EC1CC;
  //     }

  //     &.dom {
  //       cursor: pointer;
  //     }

  //     &.dom:hover {
  //       background-color: lighten(#1C7EBB, 50%);
  //     }

  //     &.dom.active {
  //       background-color: lighten(#1C7EBB, 43%);
  //     }
  //   }
  // }

  // #ecl-xhr-panel {
  //   float: left;
  //   margin-left: 20px;
  //   width: 400px;
  //   background-color: #FCF8E3;

  //   #xhr-header {
  //     border-bottom: 1px solid #ddd;
  //     float: left; width: 100%;
  //     font-weight: 600;
  //     span {
  //       float: left;
  //       width: 50%;
  //       padding-left: 10px;
  //     }
  //     span:last-child {
  //       padding-left: 5%;
  //     }
  //   }

  //   li {
  //     width: 100%;
  //     cursor: pointer;

  //     &:hover {
  //       background-color: darken(#FCF8E3, 5%)
  //     }
  //   }

  //   span {
  //     display: inline-block;
  //   }

  //   .method {
  //     width: 15%;
  //     color: #3380FF;
  //   }

  //   .url {
  //     width: 35%;
  //     color: #3380FF
  //   }

  //   .fa-chevron-right {
  //     width: 5%;
  //   }

  //   .status {
  //     width: 10%;
  //     color: #008000;
  //   }

  //   .body {
  //     width: 35%;
  //     color: #008000;
  //   }

  //   .processing {
  //     width: 45%;

  //     i {
  //       font-size: 15px;
  //       margin-right: 5px;
  //       color: #444;
  //     }
  //   }
  // }
}