#test-page {
  position: relative;

  #iframe-wrapper {
    position: absolute;
    right: 0;
    top: -51px;

    #iframe-container {
      height: 100;
      width: 100%;
      position: relative;
      box-shadow: 0 0 12px #CCCCCC;

      header {
        overflow: auto;
        background-color: #FFF;
        border-radius: 5px 5px 0 0;
        line-height: 22px;
        padding: 5px 10px;
        color: #888;
        border: 1px solid #ddd;
        border-bottom: 0;

        #url-container {
          width: 65%;
        }

        i {
          cursor: pointer;
          font-size: 18px;
          margin-right: 10px;
          margin-top: 3px;
          float: left;

          &:hover {
            color: #555;
          }

          &.fa-expand, &.fa-compress, {
            margin-right: 0;
          }
        }

        .fa-caret-down {
          font-size: 14px;
        }

        input.url {
          box-shadow: inset 0 1px 2px #AAA;
          border-radius: 20px;
          border: 0;
          padding: 2px 10px;
          float: left;
          width: 70%;
        }
      }

      iframe {
        display: none;
        z-index: 1;
        background-color: white;
        width: 900px;
        height: 700px;
        border: 1px solid #D5D5D5;
      }
    }
  }

  #specs-container {
    clear: both;
    padding-left: 0;
    float: left;

    pre {
      margin-bottom: 0;
      padding-bottom: 2px;
    }

    li {
      list-style-type: none;

    }

    li.suite {
      font-family: "Raleway",Helvetica,sans-serif;
      font-weight: 300;
      font-size: 16px;
      padding: 3px 10px 2px 5px;

      &.hover {
        background-color: #E5E5E5;
        border-left: 2px solid #3380FF;
        padding-left: 3px;
        cursor: pointer;
      }

      &.active {
        background-color: #FFF;
        box-shadow: 0 1px 2px #DDD;
      }

      &.pending {
        .suite-state i {
          @extend .#{$fa-css-prefix}-refresh;
          @extend .fa-spin;
          color: #888;
          font-size: 14px;
        }
      }

      &.failed {
        .suite-state i {
          @extend .#{$fa-css-prefix}-times;
          color: #E94B3B;
          font-size: 12px;
        }
      }

      &.passed {
        .suite-state i {
          @extend .#{$fa-css-prefix}-check;
          color: #23AE89;
          font-size: 12px;
        }
      }

      ul.test {
        padding-left: 12px;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 300;
        padding-left: 8px;
        margin-left: 4px;
        border-left: 1px dotted #CCC;

        .test-state {
          font-size: 10px;
        }

        li {
          padding: 0 5px;

          &.hover {
            background-color: #E5E5E5;
            border-left: 2px solid #3380FF;
            padding-left: 3px;
            cursor: pointer;
          }

          &.active {
            background-color: #FFF;
            box-shadow: 0 1px 2px #DDD;
          }

          label {
            padding: 1px 4px;
          }
        }

        pre.test-error {
          margin-top: 0;
          padding-left: 7px;
          margin-left: 4px;
          border-left: 1px solid #CCC;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        li.pending {
          color: #AAA;

          .test-state {
            color: #CCC;
          }
        }

        li.failed {
          color: #E94B3B;

          .test-state {
            color: #E94B3B;

            i {
              @extend .#{$fa-css-prefix}-times;
            }
          }

          label {
            text-transform: uppercase;
          }
        }

        li.passed {
          color: #23AE89;

          .test-state {
            color: #23AE89;

            i {
              @extend .#{$fa-css-prefix}-check;
            }
          }
        }
      }
    }
  }

  #ecl-panel-container {
    position: fixed;
    bottom: 0;

    #ecl-panel, #ecl-xhr-panel {
      overflow: hidden;
      float: left;
      padding: 10px;

      ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        clear: both;

        li {
          padding: 5px 10px;
          margin: 0;
          list-style-type: none;
          border-bottom: 1px dotted #CCC;
          overflow: auto;

          &:last-child {
            border-bottom: 0;
          }

          & .title {
            display: block;
          }

          & .msg {
            display: block;
          }

          & .id {
            font-size: 11px;
            color: #999;
            margin-right: 5px
          }

          & .test {
            font-weight: 600
          }

          i {
            font-size: 10px;
            font-weight: 200;
            color: #999;
          }
        }
      }
    }

    #ecl-panel {
      ul li {
        padding-left: 20px;

        &.xhr:before,
        &.log:before,
        &.info:before,
        &.dom:before {
          @extend .#{$fa-css-prefix}-circle:before;
          @extend .fa;
          position: absolute;
          left: 13px;
          margin-top: 6px;
        }

        &.xhr:before {
          color: #FFB61C;
        }

        &.log:before {
          color: lighten(#9296A3, 20%);
        }

        &.info:before {
          color: #335397;
        }

        &.dom:before {
          color: #2EC1CC;
        }

        &.dom {
          cursor: pointer;
        }

        &.dom:hover {
          background-color: lighten(#1C7EBB, 50%);
        }

        &.dom.active {
          background-color: lighten(#1C7EBB, 43%);
        }
      }
    }

    #ecl-xhr-panel {
      float: left;
      margin-left: 20px;
      width: 400px;
      background-color: #FCF8E3;

      #xhr-header {
        border-bottom: 1px solid #ddd;
        float: left; width: 100%;
        font-weight: 600;
        span {
          float: left;
          width: 50%;
          padding-left: 10px;
        }
        span:last-child {
          padding-left: 5%;
        }
      }

      li {
        width: 100%;
        cursor: pointer;

        &:hover {
          background-color: darken(#FCF8E3, 5%)
        }
      }

      span {
        display: inline-block;
      }

      .method {
        width: 15%;
        color: #3380FF;
      }

      .url {
        width: 35%;
        color: #3380FF
      }

      .fa-chevron-right {
        width: 5%;
      }

      .status {
        width: 10%;
        color: #008000;
      }

      .body {
        width: 35%;
        color: #008000;
      }

      .pending {
        width: 45%;

        i {
          font-size: 15px;
          margin-right: 5px;
          color: #444;
        }
      }
    }
  }

}