.banner {
  background-color: #FCF8E3;
  border: 1px solid #FAEBCC;
  color: #8A6D3B;
  font-size: 14px;
  width: 100%;

  code {
    background-color: #f5f5f5;
    border: none;
    padding: 1px 4px;
  }

  strong {
    color: #8A6D3B;
    font-size: 14px;
    text-decoration: underline;
  }
}
