.reporter-wrap {
  footer {
    flex-grow: 0;

    .selector-helper {
      display: none;
      padding: 6px 8px;
      position: relative;

      p {
        font-size: 12px;
        padding-right: 20px;
      }

      .selector {
        align-items: center;
        display: flex;
        position: relative;
      }

      .selector,
      .selector-input,
      .info .spacer {
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
      }

      .wrap {
        align-items: center;
         // needs a background to hide the copy-to-clipboard backer input
        background: #f6f6f6;
        display: flex;
        padding: 4px 6px;
      }

      .syntax-object { color: #e45649; }
      .syntax-operator { color: #383a42; }
      .syntax-method { color: #6478f2; }
      .syntax-string { color: #50a160; }

      .selector-input {
        input {
          border: solid 1px #d3d3d3;;
          color: #50a160;
          max-width: 160px;
          min-width: 26px;
          outline: none;
          padding: 2px 4px;

          // https://github.com/JedWatson/react-input-autosize#csp-and-the-ie-clear-indicator
          &::-ms-clear { display: none; }
        }
      }

      .copy-backer {
        font-size: 1px;
        left: 6px;
        position: absolute;
        top: 6px;
        z-index: -1;
      }

      .method {
        position: relative;

        .syntax-method {
          cursor: pointer;
          border-bottom: dotted 1px #6478f2;
        }

        .method-picker {
          background: #fff;
          border: solid 1px #d3d3d3;
          border-radius: 3px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          display: none;
          font-size: 12px;
          padding: 3px;
          position: absolute;
          left: 100%;
          top: -3px;

          div {
            border-radius: 3px;
            cursor: pointer;
            margin-top: 2px;
            padding: 3px 6px;

            &:first-child {
              margin-top: 0;
            }

            &:hover {
              background: #e3e3e3;
            }

            &.is-chosen {
              background: #6478f2;
              color: #f8f8f8;
            }
          }

        }

        &.is-showing .method-picker {
          display: block;
        }
      }

      .copy-to-clipboard {
        background: #e3e3e3;
        border: solid 1px #d3d3d3;
        border-radius: 3px;
        color: #333;
        margin-left: 4px;
        padding: 3px 6px;

        &:hover {
          background: #d3d3d3;
        }
      }

      .close {
        background: none;
        border: none;
        color: #4f4f4f;
        padding: 4px 6px;
        position: absolute;
        top: 0;
        right: 0;

        &:hover,
        &:focus {
          color: #111;
        }
      }

      .info {
        color: #50a160;
        display: flex;
        font-size: 12px;
        margin-top: 4px;

        &.is-invalid {
          color: $error;
        }

        .spacer {
          margin-right: 11px;
          visibility: hidden;
        }
      }
    }

    .controls {
      background: #f8f8f8;
      border-top: solid 1px #ccc;
      display: flex;

      button {
        background: none;
        border: none;
        color: #4f4f4f;
        cursor: pointer;
        border-radius: 0;
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        outline: 0;
        padding: 10px 16px;
        text-align: center;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        user-select: none;

        &:hover {
          background-color: #e9e9e9;
        }

        &:active {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
      }
    }

    &.showing-selector-helper {
      .selector-helper {
        display: block;
      }

      .controls button {
        background-color: #e9e9e9;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
  }
}
