pre {
  font-family: $font-mono;
  color: $color-default;
  background: #F7F7F7;
  font-size: 0.9em;
  padding: 1em;
  line-height: $line-height;
  code {
    border: none;
    display: block;
    padding: 0;
  }
  .comment {
    color: #9aa7b1;
  }
  .title {
    color: $color-stack;
  }
  .variable {
    color: $color-persian-red;
  }
  .attribute {
    color: $color-persian-red;
  }
  .tag {
    color: $color-persian-red;
  }
  .regexp {
    color: $color-persian-red;
  }
  .css {
    .id {
      color: $color-persian-red;
    }
    .class {
      color: $color-persian-red;
    }
    .pseudo {
      color: $color-persian-red;
    }
    .hexcolor {
      color: $color-boston-blue;
    }
    .rules .attribute {
      color: $color-limeade;
    }
  }
  .number {
    color: $color-carrot-orange;
  }
  .preprocessor {
    color: $color-carrot-orange;
  }
  .built-in {
    color: $color-carrot-orange;
  }
  .literal {
    color: $color-carrot-orange;
  }
  .params {
    color: $color-carrot-orange;
  }
  .constant {
    color: $color-carrot-orange;
  }
  .class {
    color: #459a82;
  }
  .string {
    color: #459a82;
  }
  .value {
    color: #459a82;
  }
  .inheritance {
    color: #459a82;
  }
  .header {
    color: #459a82;
  }
  .javascript {
    .title {
      color: $color-link;
    }
    .function {
      color: #996bb7;
    }
  }
  .keyword {
    color: $color-trendy-pink;
  }
  .html .doctype {
    color: $color-persian-red;
  }
  .perl .sub {
    color: $color-san-marino;
  }
  .coffeescript .title {
    color: $color-san-marino;
  }
}

code {
  margin: 0;
  padding: 0;
  border: 1px solid #E9E9EF;
  border-radius: 4px;
  outline: 0;
  font-weight: normal;
  font-family: inherit;
  font-size: 0.9em;
  vertical-align: baseline;
  font-family: $font-mono;
  color: #46af91;
  background: #F7F7F9;
  padding: 0 5px;
}

a code {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }
}

.highlight {
  background: #F7F7F7;
  padding: 10px 15px;
  color: $color-emperor;
  overflow: auto;
  margin: 0;

  &.shell {
    background: #252831;
    pre {
      color: #c4c5ca;
    }
  }

  table {
    margin: 0 !important;
    border: 0;
    th {
      padding: 0;
      border: 0;
    }
    td {
      padding: 0;
      border: 0;
    }
  }
  figcaption {
    margin: -5px 0 5px;
    font-size: 0.9em;
    color: $color-gray;
    &:before {
      content: "";
      display: table;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    a {
      float: right;
    }
  }
  pre {
    padding: 0;
    border: none;
    background: none;
  }
  .line {
    height: 22px;
    font-size: 0.9em;
  }
  .gutter {
    display: none;
  }
}
