@media screen {
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }
  .wrapper {
    max-width: $max-width;
    margin: 0 auto;
  }
  .inner {
    padding: 0 $gutter-width;
  }
  #article-toc-inner {
    padding: 0 $gutter-width;
  }
  .post {
    max-width: 800px;
  }
}

@media screen and(min-width: 769px) {
  #main-nav {
    display: block;
  }
  #lang-select-wrap {
    display: block;
  }
  #banner-title {
    padding-top: 100px;
    font-size: 50px;
  }
  #banner-start {
    padding: 60px 0;
    font-size: 18px;
  }
  #banner-share {
    display: block;
  }
  #intro-feature-list {
    flex-flow: row wrap;
  }
  .intro-feature-wrap {
    box-flex: 1;
    flex: 0 0 50%;
    padding-top: 50px;
  }
  .intro-feature {
    text-align: left;
    padding-left: 70px;
  }
  .intro-feature-icon {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 24px;
    width: 24px;
  }
  #intro-cmd-wrap {
    margin: 50px auto 0;
  }
  #sidebar {
    display: block;
  }
  #content-inner {
    margin-left: $sidebar-width;
  }
  .article-container {
    float: right;
    width: 100%;
  }
  .article-inner {
    margin-right: $sidebar-width;
  }
  #article-toc {
    display: block;
  }
  .article-edit-link {
    display: block;
  }
  #mobile-nav-toggle {
    display: none;
  }
  #footer {
    text-align: left;
  }
  #footer-copyright {
    float: left;
  }
  #footer-links {
    float: right;
    margin-top: 0;
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  width: $mobile-nav-width;
  left: -$mobile-nav-width;
  height: 100%;
  background: $color-background;
  transition: 0.4s;
  font-family: $font-title;
}
.mobile-nav-on {
  #mobile-nav {
    transform: translateX(100%);
  }
  #mobile-nav-toggle {
    opacity: 1;
  }
  .mobile-nav-toggle-bar {
    &:first-child {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:last-child {
      transform: rotate(-45deg);
    }
  }
  #container {
    transform: translateX(260px);
    overflow: hidden;
  }
  #mobile-nav-dimmer {
    opacity: 0.7;
    transform: translateX(-100%);
    transition: opacity 0.4s;
  }
}
#mobile-nav-inner {
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
}
#mobile-nav-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 25px;
  height: 20px;
  margin: auto;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s;
  &:active {
    opacity: 1;
  }
}
.mobile-nav-toggle-bar {
  background: $white;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: 0.4s;
  transform-origin: 0;
  border-radius: 2px;
  &:first-child {
    top: 0;
  }
  &:nth-child(2) {
    top: 9px;
  }
  &:last-child {
    top: 18px;
  }
}
.mobile-nav-link {
  color: $white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-nav-title {
  color: $color-link;
  font-weight: bold;
  padding: 10px 15px;
  line-height: 1;
  display: block;
  border-top: 1px solid $color-default;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mobile-nav-dimmer {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: $black;
  opacity: 0;
  transition: opacity 0.4s, transform 0s 0.4s;
}

#mobile-lang-select-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color-background;
  border-top: 1px solid $color-default;
}
#mobile-lang-select-label {
  line-height: 40px;
  color: $white;
  padding: 10px 15px;
  i {
    opacity: 0.7;
  }
  span {
    padding-left: 8px;
  }
}
#mobile-lang-select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
