.article-date {
  color: $color-gray;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  &:hover {
    color: $color-link-hover;
  }

}
.article-edit-link {
  float: right;
  color: $color-link;
  font-size: 14px;
  text-decoration: none;
  line-height: 36px;
  transition: 0.2s;
  display: none;
  &:hover {
    color: $color-link-hover;
  }
}

.article-heading:hover .article-anchor {
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

.article-anchor {
  margin-left: 10px;
  display: none;
  &:before {
    content: "#";
  }

}
.article-content {
  line-height: 1.6em;
  color: $color-default;
  p {
    margin: 1em 0;
  }
  ol {
    margin: 1em 0;
    margin-left: 20px;
    list-style: decimal;
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  ul {
    margin: 1em 0;
    margin-left: 20px;
    list-style: disc;
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  dl {
    margin: 1em 0;
    margin-left: 20px;
    list-style: square;
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  table {
    margin: 2em 0;
    width: 100%;
    border: 1px solid $color-border;
    border-bottom: 0;
    th {
      font-weight: bold;
      padding: 5px 15px;
      text-align: left;
      border-bottom: 1px solid #ebeef1;
    }
    td {
      padding: 5px 15px;
      border-bottom: 1px solid #ebeef1;
    }
    tr:nth-child(2n) {
      background: #f6f7f9;
    }
  }
  blockquote {
    margin: 1em 0;
    padding: 0 20px;
    position: relative;
    border: 1px solid $color-border;
    border-left: 5px solid $color-alto;
    footer {
      margin: 1em 0;
      font-style: italic;
      cite {
        &:before {
          content: "â€”";
          padding: 0 0.3em;
        }
        a {
          color: color-grey;
        }
      }
    }
  }
  iframe {
    margin: 2em 0;
  }
  .highlight {
    margin: 2em 0;
  }
  hr {
    border-color: #eee;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 0;
    border-width: 2px;
    border-style: solid;
    display: none;
  }
  h1 {
    font-size: 2em;
    line-height: 1em;
    font-weight: 900;
    margin: 2em 0 1em 0;
    padding: 0.5em 0;
    letter-spacing: 1px;
    border-bottom: 1px solid #eee;

    &:first-of-type {
      margin-top: 0.5em;
    }
  }
  h2 {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    margin: 3em 0 1em 0;
  }
  h3 {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
  }
  h4 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
  }
  h5 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
  }
  h6 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
  }
  a {
    color: $color-link;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: $color-link-hover;
      text-decoration: underline;
    }
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  li {
    margin: 0.5em 0;

    p {
      margin: 0;
    }
    table {
      margin: 2em 0;
    }
    blockquote {
      margin: 1em 0;
    }
    iframe {
      margin: 1em 0;
    }
    .highlight {
      margin: 2em 0;
    }
  }
  img {
    max-width: 100%;
  }
  video {
    max-width: 100%;
  }
  .note {
    &.warning {
      border-left-color: #f0ad4e;
      background-color: #fcf8f2;
    }
    &.info {
      border-left-color: #5bc0de;
      background-color: #f4f8fa;
    }
    &.success {
      border-left-color: #50af51;
      background-color: #f3f8f3;
    }
    &.danger {
      border-left-color: #d9534f;
      background-color: #fdf7f7;
    }
  }
  .note-title {
    margin: 1em 0;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
  }
}

.article-footer {
  margin: 4em 0;
  border-top: 1px solid $color-border;
  text-align: center;
  color: $color-gray;
  line-height: 1em;
  padding-top: 2em;
  position: relative;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.article-footer-prev, .article-footer-next {
  color: $color-link;
  text-decoration: none;
  font-weight: 500;
  font-family: $font-title;
  text-transform: uppercase;
  position: absolute;
  &:hover {
    color: $color-link-hover;
  }
  span {
    padding: 0 6px;
  }
}

.article-footer-prev {
  left: 0;
}

.article-footer-next {
  right: 0;
}

.article-footer-updated {
  font-size: 0.9em;
  font-family: $font-title;
  font-style: italic;
}

.article-header {
  padding-bottom: 20px;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.article-title {
  float: left;
  font-family: $font-title;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: $color-default;
  transition: 0.2s;
}

.article-inner {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.article {
  float: left;
  width: 100%;
  border: 1px solid #eee;
  padding: 60px 30px;
}
