#sidebar {
  width: $sidebar-width;
  float: left;
  padding-bottom: 40px;
  opacity: 0.8;
  margin-left: -$sidebar-width;
  display: none;
}
.sidebar-title {
  margin-top: 20px;
  font-size: 0.75;
  padding: 10px 7px;
  font-family: $font-title;
  font-weight: 600;
  color: $color-default;
  display: inline-block;
  line-height: 1;
}

#article-toc .sidebar-title {
  padding: 10px 0;
}

.sidebar-link {
  font-family: $font-sans;
  font-size: 0.9em;
  display: block;
  color: $color-link;
  text-decoration: none;
  padding: 7px;
  line-height: 1;
  position: relative;
  width: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.current {
    color: $color-link;
    font-weight: 500;
    background-color: #f1f4f7;
    &:hover {
      color: $color-link;
    }
  }
  &:hover {
    color: $color-link-hover;
  }
}
