# Each line is a file pattern followed by one or more owners.

# End-to-end team are owners of code within root packages concerning e2e testing, cli, and other utils
# Component-testing team are owners of code within packages concerning component testing

/.github/  @cypress-io/end-to-end
/browser-versions.json  @cypress-io/end-to-end @cypress-io/component-testing

/cli/  @cypress-io/end-to-end

/guides/  @cypress-io/end-to-end

/npm/angular @cypress-io/component-testing
/npm/create-cypress-tests @cypress-io/component-testing
/npm/cypress-schematic @cypress-io/component-testing
/npm/eslint-plugin-dev @cypress-io/end-to-end @cypress-io/component-testing
/npm/mount-utils @cypress-io/component-testing
/npm/react @cypress-io/component-testing
/npm/vue @cypress-io/component-testing
/npm/webpack-batteries-included-preprocessor @cypress-io/end-to-end @cypress-io/component-testing
/npm/webpack-dev-server @cypress-io/component-testing
/npm/webpack-preprocessor @cypress-io/end-to-end @cypress-io/component-testing

/packages/config/  @cypress-io/end-to-end
/packages/desktop-gui/  @cypress-io/end-to-end
/packages/driver/  @cypress-io/end-to-end
/packages/electron/  @cypress-io/end-to-end
/packages/errors/  @cypress-io/end-to-end @cypress-io/component-testing
/packages/example/  @cypress-io/end-to-end
/packages/extension/  @cypress-io/end-to-end
/packages/https-proxy/  @cypress-io/end-to-end
/packages/launcher/  @cypress-io/end-to-end
/packages/net-stubbing/  @cypress-io/end-to-end
/packages/network/  @cypress-io/end-to-end
/packages/proxy/  @cypress-io/end-to-end
/packages/data-context/  @cypress-io/end-to-end @cypress-io/component-testing
/packages/graphql/  @cypress-io/end-to-end @cypress-io/component-testing
/packages/reporter/  @cypress-io/end-to-end
/packages/resolve-dist/  @cypress-io/end-to-end
/packages/rewriter/  @cypress-io/end-to-end
/packages/root/  @cypress-io/end-to-end
/packages/runner/  @cypress-io/end-to-end
/packages/runner-ct/  @cypress-io/component-testing
/packages/runner-shared/  @cypress-io/end-to-end
/packages/server/  @cypress-io/end-to-end
/packages/socket/  @cypress-io/end-to-end
/packages/static/  @cypress-io/end-to-end
/packages/ts/  @cypress-io/end-to-end
/packages/ui-components/  @cypress-io/end-to-end
/packages/web-config/  @cypress-io/end-to-end

/patches/  @cypress-io/end-to-end

/scripts/  @cypress-io/end-to-end

/system-tests/ @cypress-io/end-to-end @cypress-io/component-testing
