html, body, a, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, abbr, acronym, address, big, cite, del, dfn, table, caption, td, th, ins, img, em, kbd, q, s, samp, small, strike, strong, sup, sub, var, tt, dl, dt, dd, ol, ul, li, form, fieldset, label, tr, thead, tfoot, tbody, legend, pre {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}
body {
  line-height: $line-height;
  background: $color-background;
  font-size: $font-size;
  font-weight: normal;
  font-family: $font-sans;
  color: $color-default;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  transition: 0.2s;

  img {
    border: none;
  }

  &.article-title:hover {
    color: $color-link-hover;
  }
}

table, caption, td, th {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  &:before {
    box-sizing: inherit;
  }
  &:after {
    box-sizing: inherit;
  }
}

button, select, input, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, button::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  margin: 0 auto;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.inner {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#content-wrap {
  background-color: white;
  border-top: 1px solid $color-background;
  border-bottom: 1px solid $color-background;
  padding-top: 40px;
  margin: -1px 0;
}

@media print {
  #header {
    display: none;
  }
  .article {
    padding: 0;
  }
  .article-anchor {
    display: none !important;
  }
  .article-content {
    font-size: 12pt;
    a {
      color: $color-default;
      text-decoration: underline;
      &:after {
        content: "(" attr(href) ")";
        font-size: 80%;
      }
    }
  }
  .article-footer {
    display: none;
  }
  .article-footer-prev {
    display: none;
  }
  .article-footer-next {
    display: none;
  }
  #comments {
    display: none;
  }
  #footer {
    display: none;
  }
}

#content {
  background-color: #fff;
  // border-right: 1px solid #eee;
  // border-left: 1px solid #eee;
  // margin-top: -50px;
  position: relative;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
#content-inner {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#container {
  transition: 0.4s;
  height: 100%;
}

.not-found h1 {
  text-align: center;
  font-size: 50px;
  line-height: 100px;
  margin: 100px 0;
}

i.fa {
  &.red {
    color: $color-red;
  }

  &.green {
    color: $color-green;
  }
}
