.faq {

  #content-inner {
    margin-left: 0;
  }

  .article-inner {
      margin-right: 350px;
  }

  #article-toc {
    width: 350px;
    margin-right: -350px;

    &.fixed {
      right: 350px;
    }

    #article-toc-inner {
      width: 350px;
    }
  }

  .toc-link {
    white-space: nowrap;
    overflow: hidden;
  }

  .article-footer, #sidebar, .article-header {
    display: none;
  }

  .article {
    h1 {
      &:first-of-type {
        margin-top: 0;
        border-top: 0;
      }
    }

    h2 {
      margin-top: 2em;
      padding-top: 2em;
    }
  }
}
