.faq {
  width: 750px;
  margin: 0 auto 50px;


  h1, h2, p {
    font-family: $font-title;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 800;
    margin: 2em 0 1em;

    &:first-of-type {
      margin-top: 1em;
    }
  }

  h2 {
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 1.5em 0 0.5em;
    font-weight: 500;
  }

  p {
    font-size: 1em;
  }
}
