.faq {

  .article ol {
    margin-left: 0;
    padding-left: 0;
  }

  #content-inner {
    margin-left: 0;
  }

  .sidebar-title {
    padding-left: 5px;
    margin-left: 5px;
    color: $color-default;
  }

  .article-inner {
      margin-right: 0;
      border-right: 0;
  }

  .toc-link {
    // white-space: nowrap;
    // overflow: hidden;
    padding-left: 0;
    background-color: #f5f5f5;
    padding: 5px 10px;
  }

  .toc-level-1 {

    a.toc-link {
      border-bottom: 1px solid #ddd;
      padding-left: 10px;

      &:before {
        content: '>'
      }

      &:hover {
        cursor: pointer;
        color: #0369b3;
        border-bottom: 1px solid #ddd;
      }
    }
    &>a.toc-link {
      color: $color-default;
      border-bottom: 1px solid #ddd;
      margin-top: 20px;
      padding-left: 10px;

      &:before {
        content: ''
      }

      &:hover {
        cursor: default;
        color: $color-default;
      }
    }
  }

  .article-footer, #sidebar, .article-header {
    display: none;
  }

  .article {
    border-right: 0;
    max-width: 750px;
    margin: 0 auto;
    float: none;

    h1 {
      &:first-of-type {
        margin-top: 0;
        border-top: 0;
      }
    }

    h2 {
      margin-top: 2em;
      padding-top: 2em;
    }
  }
}
