#footer {
  padding: 10px 0 15px;
  color: $white_60;
  font-family: $font-title;
  position: relative;
  background: $color-background;
  text-align: center;
  font-size: 14px;
  clear: both;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: $white;
    }
  }

  .bottom {
    color: #878B97;
    font-weight: 300;
    padding-top: 20px;
    overflow: auto;

    a {
      color: #878B97;
      margin-left: 10px;

      &:hover {
        color: $white;
      }

      i {
        font-size: 20px;
      }
    }
  }
}
#footer-copyright {
  line-height: 1.4;
  a {
    font-weight: bold;
  }
}

#footer-social {
  float: right;

  ul {
    list-style: none;
  }

  li {
    float: left;
    margin-left: 10px;
  }
}
