#header {
  position: relative;
}

#header-inner {
  display: box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
@media screen and(max-width: 768px) {
  #header-inner {
    justify-content: center;
  }
}
#logo-wrap {
  box-flex: 1;
  flex: 0 120px;
}
#logo {
  width: 120px;

  img {
    width: 100%;
    position: relative;
    top: 4px;
  }
}
#main-nav {
  display: none;
  box-flex: 1;
  flex: 1 auto;
  padding-left: 20px;
}

.main-nav-link {
  font-size: 14px;
  color: $white-60;
  text-decoration: none;
  line-height: 50px;
  transition: 0.2s;
  font-family: $font-title;
  display: inline-block;
  padding: 5px 15px;
  font-weight: 400;

  &:hover {
    opacity: 1;
    color: $white;
  }

  &.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }

  .fa-github {
    font-size: 26px;
    position: relative;
    top: 3px;
  }
}

#lang-select-wrap {
  display: none;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0 10px;
  margin-top: 14px;
  margin-right: 10px;
  float: right;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.18);
  }
}

#lang-select-label {

  color: $white;
  opacity: 0.7;
  font-family: $font-title;
  font-size: 14px;
  line-height: 30px;
  span {
    padding-left: 6px;
    padding-right: 6px;
  }
  i {
    opacity: 0.7;
  }
}
#lang-select {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: inherit;
}
