.article pre, .article code {
  &[class*="language-"] {
    font-size: 0.9em;
    line-height: $line-height;
    background-image: none;
    background-color: $highlight-background;
    color: $highlight-foreground;
    box-shadow: none !important;

    .token {
      &.keyword, &.function {
        color: $highlight-purple;
      }

      &.comment {
        color: $highlight-comment;
      }

      &.string {
        color: $highlight-blue;
      }

      &.regex {
        color: $highlight-red;
      }

      &.keyword, .attr-value {
        color: $highlight-aqua;
      }

    }
  }
}

.article pre {
  &[class*="language-"] {
    border-left: 5px solid $color-link;
    padding: 0.5em 0.25em;
    margin-top: 1em;


  }
}
