code {
  margin: 0;
  padding: 0px 4px;
  display: inline-block;
  line-height: 1.5;
  border: 1px solid #eee;
  outline: 0;
  font-weight: 600;
  font-family: inherit;
  font-size: 0.9em;
  vertical-align: baseline;
  color: $highlight-foreground;
  font-family: $font-mono;
  background-color: $highlight-background;
  border-radius: 3px;
}

a code {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
    background-color: darken($highlight-background, 2%);
  }
}

.article pre, .article code,
.faq pre, .faq code {
  &[class*="language-"] {
    font-size: 0.9em;
    line-height: $line-height;
    background-image: none;
    background-color: $highlight-background;
    color: $highlight-foreground;
    box-shadow: none !important;
    border: 0;
    border-radius: 0;
    font-weight: normal;

    .token {
      &.keyword, &.function {
        color: $highlight-purple;
      }

      &.comment {
        color: $highlight-comment;
      }

      &.string {
        color: $highlight-blue;
      }

      &.regex {
        color: $highlight-red;
      }

      &.keyword, .attr-value {
        color: $highlight-aqua;
      }
    }
  }
}

.article pre, .faq pre {
  &[class*="language-"] {
    border-left: 5px solid $color-border;
    padding: 15px 0;
    margin: 15px 0;
  }
}

.article pre.language-shell code,
.faq pre.language-shell code {
  padding-left: 3.8em;
}

.article pre.language-shell,
.faq pre.language-shell {
  border-left: 5px solid #000;
  background-color: #252831;
  color: #f5f6f8;

  code {
    padding-left: 2em;
    background-color: #252831;
    color: #f5f6f8;
  }

  &:before{
    content: '$';
    z-index: 1;
    display: block;
    // position: absolute;
    bottom: auto;
    left: 10px;
    width: auto;
    height: auto;
    max-height: 13em;
    box-shadow: none;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}
