#mobile-nav {
  position: fixed;
  top: 0;
  width: $mobile-nav-width;
  left: -$mobile-nav-width;
  height: 100%;
  background: white;
  transition: 0.4s;
  font-family: $font-title;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
}

.mobile-nav-on {
  #mobile-nav {
    transform: translateX(100%);
  }
  #mobile-nav-toggle {
    opacity: 1;
  }
  .mobile-nav-toggle-bar {
    &:first-child {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:last-child {
      transform: rotate(-45deg);
    }
  }
  #container {
    transform: translateX($mobile-nav-width);
    overflow: hidden;
  }
  #mobile-nav-dimmer {
    opacity: 0.7;
    transform: translateX(-100%);
    transition: opacity 0.4s;
  }
}

#mobile-nav-inner {
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;

  .sidebar-li {
    list-style: none;
  }
}

#mobile-nav-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 25px;
  height: 20px;
  margin: auto;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s;
  &:active {
    opacity: 1;
  }
}

.mobile-nav-toggle-bar {
  background: $white;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: 0.4s;
  transform-origin: 0;
  border-radius: 2px;
  &:first-child {
    top: 0;
  }
  &:nth-child(2) {
    top: 9px;
  }
  &:last-child {
    top: 18px;
  }
}
#mobile-nav-list .main-nav-link, .mobile-nav-link {
  color: $color-link;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.current {
    color: $color-link;
    font-weight: 500;
    background-color: #f1f4f7;
    &:hover {
      color: $color-link;
    }
  }

  &:hover {
    color: $color-link-hover;
    text-decoration: none;
    background-color: #f1f4f7;
  }
}

.mobile-nav-title {
  color: $color-default;
  font-family: $font-title;
  font-weight: 600;
  font-size: 0.75;
  padding: 10px 15px;
  line-height: 1;
  display: block;
  border-top: 1px solid #eee;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mobile-nav-list {
  list-style: none;
  padding-left: 0;

  li.active {
    a {
      color: $color-link-hover;
      text-decoration: none;
      background-color: #f1f4f7;
    }
  }
}


#mobile-nav-list .mobile-nav-link {
  font-weight: 600;
}

#mobile-nav-dimmer {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  background: $black;
  opacity: 0;
  transition: opacity 0.4s, transform 0s 0.4s;
}

#mobile-lang-select-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #eee;
}

#mobile-lang-select-label {
  line-height: 40px;
  color: $color-default;
  padding: 10px 15px;
  i {
    opacity: 0.7;
  }
  span {
    padding-left: 8px;
  }
}

#mobile-lang-select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
