.article {
  float: left;
  width: 100%;
  padding: 0px 80px;
  border-right: 1px solid #eee;
}

.article-date {
  color: $color-gray;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  &:hover {
    color: $color-link-hover;
  }

}
.article-edit-link {
  float: right;
  color: $color-link;
  font-size: 14px;
  text-decoration: none;
  line-height: 40px;
  transition: 0.2s;
  display: none;
  &:hover {
    color: $color-link-hover;
  }
}

.article-heading:hover .article-anchor {
  display: inline-block;
  border: 0;

  &:hover {
    text-decoration: none;
  }
}

.article-anchor {
  margin-left: 10px;
  display: none;
  border: 0;

  &:before {
    content: "#";
  }

}
.article-content {
  line-height: $line-height;

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  p {
    margin-bottom: 15px;
    word-wrap: break-word;
    line-height: 1.5em;
  }

  ol {
    margin: 1em 0;
    margin-left: 20px;
    list-style: decimal;
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ul {
    margin: 1em 0;
    margin-left: 20px;
    list-style: disc;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  dl {
    margin: 1em 0;
    margin-left: 20px;
    list-style: square;
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  table {
    margin: 1em 0;
    width: 100%;
    border: 1px solid #e8e8e8;

    th {
      font-weight: bold;
      padding: 5px 15px;
      text-align: left;
      border-bottom: 1px solid #e8e8e8;

      &:empty {
        padding: 0;
      }
    }

    td {
      padding: 5px 15px;
    }

    tr:nth-child(2n) {
      background: #f6f7f9;
    }
  }

  blockquote {
    margin: 1em 0;
    padding: 0 20px;
    position: relative;
    border: 1px solid $color-border;
    border-left: 5px solid $highlight-comment;

    footer {
      margin: 1em 0;
      font-style: italic;

      cite {
        &:before {
          content: "â€”";
          padding: 0 0.3em;
        }
        a {
          color: color-grey;
        }
      }
    }
  }

  iframe {
    margin: 2em 0;
  }

  .highlight {
    margin: 1em 0;
  }



  h1 {
    font-size: 1.7em;
    line-height: 1.5em;
    font-weight: 500;
    margin: 1.5em 0 0.5em 0;
    padding: 0;
    font-family: $font-title;
    border-top: 2px solid #eee;
    padding-top: 1.5em;

    &>a {
      font-weight: 500;
    }
  }

  h2 {
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: 500;
    margin: 2em 0 0.5em 0;
    font-family: $font-title;

    code {
      font-weight: bold;
    }
  }

  h3 {
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
    font-family: $font-title;
  }

  h4 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
    font-family: $font-title;
  }

  h5 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
    font-family: $font-title;
  }

  h6 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
    font-family: $font-title;
  }


  &>p>strong {
    display: inline-block;
    margin-top: 1.5em;
  }

  &>h2+p>strong, &>h1+p>strong {
    margin-top: 0;
  }

  a {
    color: $color-link;
    text-decoration: none;
    border-bottom: 1px dotted #bde1fd;

    &:hover {
      color: $color-link-hover;
      border-bottom: 1px solid $color-link;
    }

  }
  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  strong>em {
    font-style: normal;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
  }

  li {
    margin: 0;

    p {
      margin: 0;
    }
    table {
      margin: 2em 0;
    }
    blockquote {
      margin: 1em 0;
    }
    iframe {
      margin: 1em 0;
    }
    .highlight {
      margin: 2em 0;
    }
  }
  img {
    max-width: 100%;
    border: 1px solid #ddd;
  }
  video {
    max-width: 100%;
  }
  .note {
    font-weight: 200;
    border: 0;
    padding: 1em;
    border-left: 4px solid #999;

    &.warning {
      border-left-color: #f0ad4e;
      background-color: #fcf8f2;

      .note-title {
        color: #f0ad4e;
      }
    }
    &.info {
      border-left-color: #5bc0de;
      background-color: #f4f8fa;

      .note-title {
        color: #5bc0de;
      }
    }
    &.success {
      border-left-color: #50af51;
      background-color: #f3f8f3;

      .note-title {
        color: #50af51;
      }
    }
    &.danger {
      border-left-color: #d9534f;
      background-color: #fdf7f7;

      .note-title {
        color: #d9534f;
      }
    }

    p {
      margin: 0;
    }

    ul {
      margin: 0 20px 0 40px;
    }
  }
  .note-title {
    margin: 0;
    display: block;
    font-size: 1em;
    font-weight: 500;
    font-family: $font-title;
  }
}

.article-footer {
  margin: 4em 0;
  border-top: 1px solid $color-border;
  text-align: center;
  color: $color-gray;
  line-height: 1em;
  padding-top: 2em;
  position: relative;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.article-footer-prev, .article-footer-next {
  color: $color-link;
  text-decoration: none;
  font-weight: 400;
  font-family: $font-title;
  position: absolute;
  &:hover {
    color: $color-link-hover;
  }
  span {
    padding: 0 6px;
  }
  i {
    font-size: 0.8em;
  }
}

.article-footer-prev {
  left: 0;
}

.article-footer-next {
  right: 0;
}

.article-footer-updated {
  font-size: 0.9em;
  font-family: $font-title;
  font-style: italic;
}

.article-header {
  padding-bottom: 20px;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.article-title {
  float: left;
  font-family: $font-title;
  font-size: 2.4em;
  font-weight: 500;
  text-decoration: none;
  color: $color-default;
  transition: 0.2s;
  line-height: 1em;
}

.article-inner {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
