#search-container {
  padding: 0 20px;
  float: right;
  top: 10px;
  margin-top: 17px;
}

// The actual search input box
#search-input-wrap {
  display: none;
  border-bottom: 1px solid $color-gray;
  &.on {
    display: inline-block;
  }
}

#search-input-icon {
  color: $white;
  padding-right: 0.5em;
  position: relative;
  top: -3px;
  display: inline-block;
  opacity: 0.7;
}

#search-input {
  background: none;
  font-size: inherit;
  font-family: $font-sans;
  color: $white;
  outline: none;
  border: 0;
}

.searchbox {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 32px !important;
  white-space: nowrap;
  box-sizing: border-box;
  visibility: visible !important;

  .algolia-autocomplete {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.searchbox__wrapper {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: relative;
}

.searchbox__input {
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px #CCCCCC;
  background: #FFFFFF !important;
  padding: 0;
  padding-right: 26px;
  padding-left: 32px;
  vertical-align: middle;
  white-space: normal;
  font-size: 12px;
}

.searchbox__submit {
  position: absolute;
  top: 0;
  margin: 0;
  border: 0;
  border-radius: 16px 0 0 16px;
  background-color: rgba(69, 142, 225, 0);
  padding: 0;
  width: 32px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  right: inherit;
  left: 0;
}

.searchbox__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.searchbox__submit svg {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  fill: #6D7E96;
}

.searchbox__reset {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  fill: rgba(0, 0, 0, 0.5);
}

.searchbox__reset.hide {
  display: none;
}

.searchbox__reset:focus {
  outline: 0;
}

.searchbox__reset svg {
  display: block;
  margin: 4px;
  width: 8px;
  height: 8px;
}

.algolia-autocomplete .ds-dropdown-menu {
  position: relative;
  top: -6px;
  border-radius: 4px;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  position: relative;
  background: transparent;
  border: none;
  z-index: 999;
  max-width: 600px;
  min-width: 500px;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  margin-top: 0;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion {
  cursor: pointer;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple {
  background-color: rgba(0, 0, 0, 0.05);
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: rgba(1, 188, 134, 0.05);
}

.algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
  position: relative;
  border: solid 1px #eee;
  background: #fbfbfb;
  border-radius: 4px;
  overflow: auto;
  padding: 0;
}

.algolia-autocomplete .algolia-docsearch-suggestion {
  position: relative;
  padding: 0;
  background: #fbfbfb;
  color: $color-default;
  overflow: hidden;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background-color: $color-green;
  color: $white;
  padding: 0.1em 0.05em;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  padding: 0 0 1px;
  background: inherit;
  box-shadow: none;
  background-color: $color-green;
  color: $white;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  display: block;
  float: right;
  width: 70%;
  position: relative;
  padding: 5px 0 5px 10px;
  cursor: pointer;
  line-height: 1.3em;
  font-family: $font-title;
  background-color: white;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fbfbfb;
  display: none;
  margin: 0px;
  padding: 2px 8px;
  font-size: 0.9em;
  font-family: $font-title;
  color: $color-default;
  font-weight: 500;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  width: 100%;
  float: left;
  padding: 0;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  line-height: 1.3em;
  font-family: $font-title;
  float: left;
  width: 30%;
  display: none;
  padding-left: 0;
  text-align: right;
  position: relative;
  padding: 5px 10px;
  color: #A4A7AE;
  font-size: 0.9em;
  word-wrap: break-word;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #ddd;
  right: 0;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight {
  background-color: inherit;
  color: inherit;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-inline {
  display: none;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: $color-default;
  font-size: 0.9em;
  font-weight: 500;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
  display: block;
  line-height: 1.3em;
  font-size: 0.85em;
  color: #63676D;
}

.algolia-autocomplete .algolia-docsearch-suggestion--no-results {
  width: 100%;
  padding: 25px 0;
  text-align: center;
  font-size: 1.2em;
}

.algolia-autocomplete .algolia-docsearch-suggestion code {
  padding: 1px 5px;
  font-size: 90%;
  border: 1px solid #f4f4f4;
  color: $highlight-foreground;
  background-color: $highlight-background;
  border-radius: 3px;
  font-family: $font-mono;
}

.algolia-autocomplete .algolia-docsearch-footer {
  width: 110px;
  height: 20px;
  margin: 0 5px;
}
