#sidebar {
  width: $sidebar-width;
  float: left;
  padding-bottom: 40px;
  opacity: 0.8;
  margin-left: -$sidebar-width;
  display: none;

  ul {
    list-style: none;

  }
}

.sidebar-title {
  margin-top: 15px;
  font-size: 1em;
  padding: 10px 20px;
  font-family: $font-title;
  font-weight: 400;
  color: $color-default;
  display: inline-block;
  line-height: 1;
}

#sidebar .sidebar-title:first-child {
  margin-top: 0;
}

.sidebar-li {
  line-height: 1.7;
}

.sidebar-link {
  font-family: $font-sans;
  font-size: 0.9em;
  display: block;
  color: $color-link;
  text-decoration: none;
  padding: 3px 15px 3px 21px;
  position: relative;
  width: 100%;
  font-weight: 400;
  overflow: auto;
  white-space: normal;


  &.current {
    color: white;
    font-weight: 500;
    background-color: $color-link;
    &:hover {
      color: white;
      background-color: $color-link;
    }
  }

  &:hover {
    color: $color-link-hover;
  }
}
