#sidebar {
  width: $sidebar-width;
  float: left;
  padding-bottom: 40px;
  opacity: 0.8;
  margin-left: -$sidebar-width;
  display: none;
  background-color: #f5f5f5;
}
.sidebar-title {
  margin-top: 1.5em;
  font-size: 1.1em;
  padding: 10px 20px;
  font-family: $font-title;
  font-weight: 600;
  color: $color-default;
  display: inline-block;
  line-height: 1;
}

#sidebar .sidebar-title:first-child {
  margin-top: 10px;
}

.sidebar-li {
  text-indent: -15px;
  line-height: 1.5;
}

.sidebar-link {
  font-family: $font-sans;
  font-size: 0.9em;
  display: block;
  color: $color-link;
  text-decoration: none;
  padding: 3px 10px 3px 35px;
  position: relative;
  width: 100%;
  font-weight: 400;
  overflow: auto;
  white-space: normal;


  &.current {
    color: white;
    font-weight: 500;
    background-color: $color-link;
    &:hover {
      color: white;
      background-color: $color-link;
    }
  }

  &:hover {
    color: $color-link-hover;
  }
}
