#article-toc .sidebar-title {
  padding: 10px 0;
}

#article-toc {
  display: none;
  float: right;
  width: $sidebar-width;
  margin-right: -$sidebar-width;
  opacity: 0.8;
  font-size: 0.9em;

  &.fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $sidebar-width;
  }
}
.toc-child {
  padding-left: 1em;
  font-size: 0.85em;
  line-height: 1.5;
  list-style: none;
}

#article-toc-inner {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
  width: $sidebar-width;

  .sidebar-title {
    margin-top: 0;
  }

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.toc-link {
  font-family: $font-title;
  display: block;
  color: #999;
  text-decoration: none;
  padding: 5px 0 5px 5px;
  line-height: 1.2;
  font-size: 0.95em;
  position: relative;
  width: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: auto;
  white-space: normal;
  border-left: 4px solid transparent;

  &.current {
    color: $color-link;
  }

  &:hover {
    color: $color-link-hover;
  }
}

#article-toc-top {
  margin-top: 2em;
  font-size: 0.9em;
  text-decoration: none;
  color: $color-link;
  display: block;
  margin-bottom: 40px;
  font-family: $font-sans;
  &:hover {
    color: $color-link-hover;
  }
}

.toc, .toc-item {
  list-style: none;
}

.active>.toc-link {
  font-weight: 500;
  border-left: 4px solid $color-link;
  color: $color-default;
}

.fixed #article-toc-inner {
  position: fixed;
  top: 0;
  bottom: 0;
}

.toc-top {
  .article-content {
    padding-top: 20px;
  }

  ol.toc, ol.toc-child {
    padding-bottom: 15px;
    padding-left: 0;
  }

  ol.toc-child {
    padding-bottom: 5px;
  }

  .toc-link {
    padding-left: 0;
    padding: 5px 10px;
    line-height: 1.5em;
    font-size: 14.5px;
  }

  .toc-level-1 {
    a.toc-link {
      padding-left: 0;
      margin-bottom: 5px;
      border-bottom: 1px solid #eee;
      color: #999;

      &:hover {
        cursor: pointer;
        color: #999;
        border-bottom: 1px solid #eee;
      }
    }
  }

  .toc-level-2 {
    a.toc-link {
      border-bottom: 0;
      padding-left: 5px;
      color: $color-link;

      &:before {
        content: "\f105";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-right: 3px;
      }

      &:hover {
        cursor: pointer;
        color: #0369b3;
        border-bottom: 0;
      }
    }
  }

  .article {
    h1 {
      &:first-of-type {
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
      }
    }

    h2 {
      &:first-of-type {
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
      }
    }
  }
}
