#article-toc .sidebar-title {
  padding: 10px 0;
}

#article-toc-top {
  margin-top: 2em;
  font-size: 0.9em;
  text-decoration: none;
  color: $color-link;
  display: block;
  margin-bottom: 40px;
  font-family: $font-sans;
  &:hover {
    color: $color-link-hover;
  }
}

#article-toc {
  display: none;
  float: right;
  width: $sidebar-width;
  margin-right: -$sidebar-width;
  opacity: 0.8;
  font-size: 0.9em;

  &.fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $sidebar-width;
  }
}
.toc-child {
  padding-left: 1em;
  font-size: 0.85em;
  line-height: 1.5;
}

#article-toc-inner {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
  width: $sidebar-width;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.toc-link {
  font-family: $font-title;
  display: block;
  color: #999;
  text-decoration: none;
  padding: 3px 0 3px 5px;
  line-height: 1.2;
  font-size: 0.95em;
  position: relative;
  width: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: auto;
  white-space: normal;
  border-left: 4px solid transparent;

  &.current {
    color: $color-link;
  }

  &:hover {
    color: $color-link-hover;
  }
}

.active>.toc-link {
  font-weight: 500;
  border-left: 4px solid $color-link;
  color: $color-default;
}

.fixed #article-toc-inner {
  position: fixed;
  top: 0;
  bottom: 0;
}
