{
  "extends": [
    "plugin:cypress-dev/general"
  ],
  "rules": {
    "no-else-return": [ "error", { "allowElseIf": false } ],
    "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
    "no-unneeded-ternary": ["error"],
    "array-bracket-newline": ["error", "consistent"],
    "arrow-body-style": ["error", "always"],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var",
          "if",
          "while",
          "export",
          "cjs-export",
          "import",
          "cjs-import"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true
  }
}
