# unignore hidden files
!.*

**/__snapshots__
**/_test-output
**/build
**/cypress/fixtures
**/dist
**/dist-*
**/node_modules
**/support/fixtures/*
!**/support/fixtures/projects
**/support/fixtures/projects/**/_fixtures/*
**/support/fixtures/projects/**/static/*
**/support/fixtures/projects/**/*.jsx
**/support/fixtures/projects/**/fail.js

system-tests/fixtures/*
!system-tests/projects
system-tests/projects/**/_fixtures/*
system-tests/projects/**/static/*
system-tests/projects/**/*.jsx
system-tests/projects/**/fail.js
system-tests/lib/scaffold/plugins/index.js
system-tests/lib/scaffold/support/e2e.js
system-tests/lib/scaffold/support/component.js
system-tests/lib/scaffold/support/commands.js
system-tests/test/support/projects/e2e/cypress/
system-tests/projects/e2e/cypress/e2e/stdout_exit_early_failing.cy.js
system-tests/projects/e2e/cypress/e2e/typescript_syntax_error.cy.ts


**/test/fixtures
**/vendor

# cli/types is linted by tslint/dtslint
cli/types

# packages/example is not linted (think about changing this)
packages/example

packages/extension/test/helpers/background.js
e2e/stdout_exit_early_failing_spec.js

npm/webpack-preprocessor/cypress/tests/e2e/compile-error.js
npm/webpack-preprocessor/examples/use-babelrc/cypress/e2e/spec.cy.js

npm/cypress-schematic/src/**/*.js

**/.projects
**/*.d.ts
**/package-lock.json
**/tsconfig.json
**/.vscode
**/.history
**/.cy
**/.git

/npm/react/bin/*
/npm/react/**/coverage
**/.next/**
/npm/create-cypress-tests/initial-template
/npm/create-cypress-tests/**/*.template.*
