{
  "extends": [
    "plugin:cypress-dev/general"
  ],
  "rules": {
    "no-multiple-empty-lines": ["error", { "max": 1 } ],
    "no-else-return": [ "error", { "allowElseIf": false } ],
    "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
    "no-unneeded-ternary": ["error"],
    "array-bracket-newline": ["error", "consistent"],
    "arrow-body-style": ["error", "always"],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var",
          "if",
          "while",
          "export",
          "cjs-export",
          "import",
          "cjs-import"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var",
          "import",
          "cjs-import"
        ],
        "next": [
          "const",
          "let",
          "var",
          "import",
          "cjs-import"
        ]
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "overrides": [
    {
      "files": [
        "**/*.jsx"
      ],
      "rules": {
        "arrow-body-style": "off"
      }
    }
  ]
}
