# unignore hidden files
!.*

**/__snapshots__
**/_test-output
**/build
**/cypress/fixtures
**/dist
**/dist-test
**/node_modules
**/support/fixtures/*
!**/support/fixtures/projects
**/support/fixtures/projects/**/_fixtures/*
**/support/fixtures/projects/**/static/*
**/support/fixtures/projects/**/*.jsx
**/support/fixtures/projects/**/fail.js
**/test/fixtures
**/vendor

# cli/types is linted by tslint/dtslint
cli/types
# packages/example is not linted (think about changing this)
packages/example

packages/extension/test/helpers/background.js
packages/server/lib/scaffold/plugins/index.js
packages/server/lib/scaffold/support/index.js
packages/server/lib/scaffold/support/commands.js
packages/server/test/support/fixtures/projects/e2e/cypress/integration/stdout_exit_early_failing_spec.js
packages/server/test/support/fixtures/projects/e2e/cypress/integration/typescript_syntax_error_spec.ts

npm/webpack-preprocessor/cypress/tests/e2e/compile-error.js
npm/webpack-preprocessor/examples/use-babelrc/cypress/integration/spec.js

**/.projects
**/*.d.ts
**/package-lock.json
**/tsconfig.json
**/.vscode
**/.history
**/.cy
**/.git

/npm/react/bin/*
