packages/server/lib/scaffold/plugins/index.js
packages/server/lib/scaffold/support/index.js
packages/server/lib/scaffold/support/commands.js
packages/extension/test/helpers/background.js
packages/network/lib/agent.js
packages/example
!packages/example/lib
**/__snapshots__
**/node_modules
**/build
**/dist
**/dist-test
**/support/fixtures
**/cypress/fixtures
**/test/fixtures
**/vendor
