.DS_Store
bower_components
node_modules
*.log
*.log.*
*.orig
dist
dist-*
build
.vscode
.publish
_test-output
cypress.zip

# from extension
Cached Theme.pak
Cached Theme Material Design.pak

# from https-proxy project
packages/https-proxy/ca/

# from example
packages/example/app
packages/example/build
packages/example/cypress/screenshots
packages/example/cypress/videos
packages/example/cypress/fixtures/profile.json
packages/example/cypress/fixtures/users.json

# from server
packages/server/.cy
packages/server/.projects
packages/server/support

# CLI tool
cli/build

# Building app binary
scripts/binary/support
