language: node_js
node_js:
  - 8
notifications:
  email: false
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
after_success:
  - npx semantic-release-github-pr
  - npx semantic-release --debug