branches:
  only:
    - master
    - develop
    - /win*/

# https://www.appveyor.com/docs/lang/nodejs-iojs/
# Test against the latest version of this Node.js version
environment:
  nodejs_version: "6"

# https://www.appveyor.com/docs/build-cache/
# hmm, seems there is NPM on windows problem
# with installing over cached folder
# https://github.com/npm/npm/issues/17747
# cache:
#   - node_modules
#   # todo: cache node_modules in each package

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  # NPM v3 has flaky permission issues on Windows
  - npm install -g npm@5
  # Output useful info for debugging.
  - node --version
  - npm --version
  # install root modules only
  - npm install --ignore-scripts
  - .\node_modules\.bin\print-arch
  # because we skipped scripts, we need to do
  # everything from "postinstall" script as commands
  - npm run link
  # install every package one by one
  - npm run all install -- --serial
  # - npm prune
  # - npm run all prune -- --serial
  - npm run all build -- --serial

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  - echo Commit message
  - echo %APPVEYOR_REPO_COMMIT_MESSAGE%
  - echo body of commit message, if any
  - echo %APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED%
  - 7z
  - cd packages/launcher && node index.js && cd ../..
  # make sure mocha runs
  - npm run test-mocha
  # make sure our snapshots are compared correctly
  # - npm run test-mocha-snapshot
  # the other larger tests
  - echo Building Windows NPM package %NEXT_DEV_VERSION%
  - npm --no-git-tag-version version %NEXT_DEV_VERSION%
  - cd cli
  - npm run build
  - cd build
  - npm pack
  - cd ../..

  # Only upload binary / NPM package from "develop" branch
  # should this move into a batch file?
  - IF %APPVEYOR_REPO_BRANCH%==develop IF %APPVEYOR_REPO_NAME%==cypress-io/cypress (
    echo Uploading NPM windows package &&
    node scripts/binary.js upload-npm-package --file cli/build/cypress-%NEXT_DEV_VERSION%.tgz --version %NEXT_DEV_VERSION% --hash %APPVEYOR_REPO_BRANCH%-%APPVEYOR_REPO_COMMIT%-%APPVEYOR_BUILD_ID% &&
    cat npm-package-url.json &&
    echo Building binary %NEXT_DEV_VERSION% &&
    npm run binary-build -- --platform windows --version %NEXT_DEV_VERSION% &&
    npm run binary-zip &&
    ls -l *.zip &&
    node scripts/binary.js upload-unique-binary --file cypress.zip --version %NEXT_DEV_VERSION% --hash %APPVEYOR_REPO_BRANCH%-%APPVEYOR_REPO_COMMIT%-%APPVEYOR_BUILD_ID% &&
    cat binary-url.json &&
    echo Running other test projects with new NPM package and binary &&
    node scripts/test-other-projects.js --npm npm-package-url.json --binary binary-url.json --provider appVeyor
  )

# Don't actually build.
build: off
