branches:
  only:
    - master
    - develop
    - /win*/

# https://www.appveyor.com/docs/lang/nodejs-iojs/
# Test against the latest version of this Node.js version
environment:
  nodejs_version: "6"

# https://www.appveyor.com/docs/build-cache/
# hmm, seems there is NPM on windows problem
# with installing over cached folder
# https://github.com/npm/npm/issues/17747
# cache:
#   - node_modules
#   # todo: cache node_modules in each package

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  # NPM v3 has flaky permission issues on Windows
  - npm install -g npm@5
  - npm install -g @bahmutov/print-env
  # Output useful info for debugging.
  - node --version
  - npm --version
  - print-env APPVEYOR
  # clean cache to prevent install permission issues
  - npm cache clean --force
  # install root modules only
  - npm install --ignore-scripts
  - .\node_modules\.bin\print-arch
  # because we skipped scripts, we need to do
  # everything from "postinstall" script as commands
  - npm run link
  # install every package one by one
  - npm run all install -- --serial || npm run all install -- --serial
  # - npm prune
  # - npm run all prune -- --serial
  - npm run all build -- --serial

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  - echo Commit message
  - echo %APPVEYOR_REPO_COMMIT_MESSAGE%
  - echo body of commit message, if any
  - echo %APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED%
  - 7z
  - cd packages/launcher && node index.js && cd ../..
  # make sure mocha runs
  - npm run test-mocha
  # make sure our snapshots are compared correctly
  # - npm run test-mocha-snapshot
  # the other larger tests
  - echo Building Windows NPM package %NEXT_DEV_VERSION%
  - npm --no-git-tag-version version %NEXT_DEV_VERSION%
  - cd cli
  - npm run build
  - cd build
  - npm pack
  - cd ../..

  - node ./scripts/win-appveyor-build.js

# Don't actually build.
build: off
