@use '../../css/spacing' as *;
@use '../../css/semanticColors' as *;
@use '../../core/icon/Icon.module.scss' as *;
@use '../../css/surfaces' as *;

$icon-overall-size: 1.5em;
$input-icon-margin: ($icon-overall-size - $icon-size) / 2;

.iconInput {
  position: relative;
  display: flex;
  align-items: stretch;

  // No actual border drawn. This provides the mask for the rounded corners to clip child elements
  border-radius: $button-radius;
  overflow: hidden;

  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 1px solid $control-border-color;
    border-radius: $button-radius;

    pointer-events: none;
  }

  .wrapper {
    display: flex;
    flex-grow: 1;
  }

  .input {
    flex-grow: 1;
    // Required to allow input to shrink in certain size scenarios
    width: 0;

    background-color: transparent;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  // TODO: Not currently used. Should be used on non-IconButton
  .icon {
    flex-grow: 0;
    flex-shrink: 0;

    // Icon 
    margin: 0 $input-icon-margin;
  }

  .iconButton {
    padding: 0 0.25em;
    line-height: 1;

    border-radius: 0;

    &::after {
      z-index: 1;
    }
  }
}

.click {
  cursor: pointer;
}
