@use '../../css/spacing' as *;
@use '../../css/semanticColors' as *;
@use '../../core/icon/Icon.module.scss' as *;

$icon-overall-size: 1.5em;
$input-icon-margin: ($icon-overall-size - $icon-size) / 2;

.iconInput {
  display: flex;
  align-items: stretch;
  z-index: 0;

  .wrapper {
    display: flex;
    flex-grow: 1;
  }

  .input {
    flex-grow: 1;
    // Required to allow input to shrink in certain size scenarios
    width: 0;

    background-color: transparent;

    z-index: 1;

    &:focus {
      z-index: 3;
    }
  }

  // TODO: Not currently used. Should be used on non-IconButton
  .icon {
    flex-grow: 0;
    flex-shrink: 0;

    // Icon 
    margin: 0 $input-icon-margin;

    z-index: 2;
  }

  .iconButton {
    padding: 0 0.25em;
    line-height: 1;

    z-index: 2;
  }
}

.click {
  cursor: pointer;
}

// Export icon-margin and size to JS
@value icon-margin: #{$icon-margin};
@value icon-size: #{$icon-overall-size};
