body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.landing-heading {
  text-align: center;
}

#jumbotron {
  display: none;
}

.highlight-boxes {
}

#landing-page .highlight-boxes>div>.highlight-box {
  margin-top: 40px;
  display: block;
  border: 2px solid #ddd;
  padding: 20px;
  text-align: center;
  color: #ec4f5c;
}

#landing-page .highlight-boxes>div>.highlight-box:hover {
  color: #d32f3d;
  border: 2px solid #ccc;
}

#landing-page .highlight-boxes>div:nth-child(2)>.highlight-box {
  color: #08bf88;
}

#landing-page .highlight-boxes>div:nth-child(2)>.highlight-box:hover {
  color: #069167;
}

#landing-page .highlight-boxes>div:nth-child(3)>.highlight-box {
  color: #f5a327;
}

#landing-page .highlight-boxes>div:nth-child(3)>.highlight-box:hover {
  color: #ce810d;
}


#landing-page .highlight-boxes.chat>div>.highlight-box {
  color: #0094ff;
}

#landing-page .highlight-boxes.chat>div>.highlight-box:hover {
  color: #428bca;
}

#landing-page .highlight-boxes.chat>div>.highlight-box i, #landing-page .highlight-boxes.chat>div>.highlight-box h3{
  display: inline;
}

#landing-page .highlight-boxes>div>.highlight-box:hover>p {
  color: #555;
}

.highlight-box i {
  display: block;
  font-size: 40px;
}

#landing-page h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 5px;
}

#landing-page h2 {
  margin-top: 2em;
  margin-bottom: 5px;
}

#landing-page p {
  color: #888;
  margin-bottom: 1em;
}

#landing-page h4 {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 2em;
}

#landing-page ul {
  list-style: none;
  padding-left: 0;
}

#landing-page ul>li {
  line-height: 2em;  ;
}

#landing-page .row>.col-xs-6:first-child {
  border-right: 1px solid #ddd;
}

/*-------Tables---------*/

.docs-content th {
  border-right: 0;
  border-bottom: 0;
}

.docs-content td {
  border-bottom: 0;
  border-right: 0;
}

.docs-content tbody>tr {
  border-top: 1px solid #ddd;
}

.docs-content tr:nth-child(even) {
  background-color: #f8f8f8;
}

.docs-content table {
  border: 1px solid #ddd;
}

thead>tr>th {
  border-bottom: 1px solid #ddd;
}

thead>tr>th:empty {
  padding: 0;
}

/*-------Nav---------*/

.header .searchbox {
  top: 11px;
}

/*-------Headers---------*/

.theme-solid .docs-header h1 {
  font-size: 2em;
}

.docs-content [marked] h1 {
  font-size: 1.6em;
  text-transform: none;
}

.blocks-parent .block>div>div [marked] h1:first-child {
  margin-top: 1em;
}

.docs-content [marked] h2 {
  font-size: 1.2em;
  text-transform: none;
  margin-bottom: 1em;
}

.theme-solid .sidebar-nav h4 {
  font-weight: bold;
  font-size: 0.75em;
  color: #ccc;
}

/*-------Contents UL---------*/

.blocks-parent .block>div>div [marked] h1:first-child + ul {
  list-style-type: none;
  padding-left: 0.25em;
}

.blocks-parent .block>div>div [marked] h1:first-child + ul li {
  position: relative;
  padding-left: 15px;
}

.blocks-parent .block>div>div [marked] h1:first-child + ul li i {
  color: #0094ff;
  margin-right: 0.25em;
  position: absolute;
  top: 3px;
  left: 0;
}

.blocks-parent .block>div>div [marked] h1:first-child + ul>li i.fa-minus {
  font-size: 0.7em;
  top: 7px;
}

.blocks-parent .block>div>div [marked] h1:first-child + ul>li>ul {
  list-style-type: disc;
  padding-left: 1.5em;
  font-size: 0.95em;
  color: #0094ff;
}

.blocks-parent .block>div>div [marked] h1:first-child + ul>li>ul>li {
  padding-left: 0;
}

/*-------Images---------*/

.docs-content [marked] p img {
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px #eee;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*-------HR---------*/

.docs-content .docs-body hr {
  margin-top: 3em;
  margin-bottom: 1em;
}

/*-------Code tags/variable colors---------*/

.cm-s-neo .cm-variable {
  color: #333;
}
.cm-s-neo .cm-property {
  color: #795da3;
}

.cm-s-new .cm-string {
  color: #183691;
}

.cm-s-neo .cm-comment {
  color: #999;
}

.cm-tag {
  color: #63a35c;
}

.cm-s-neo .cm-string {
  color: #183691;
}

.cm-s-neo .cm-qualifier {
  color: #795da3;
}

.cm-tag.cm-bracket {
  color: #333;
}

/*-------Code styles---------*/

.block-show-code {
  padding: 0;
  margin-bottom: 0;
}

.block-show-code .code-tabs a {
  color: #aaa;
  font-size: 0.90em;
}

.block-show-code .code-tabs a:hover {
  color: #aaa;
}

.block-show-code pre {
  margin-top: 0;
  margin-bottom: 16px;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  overflow: auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 0 0 #fff;
  padding: 15px;
  font-size: 1em;
}

.block-show-code pre>code {
  padding: 0;
  margin: 0;
  font-size: 1em;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

a>code {
  color: #0094ff;
}

.theme-solid .sidebar-nav ul {
  font-size: 0.90em;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

code:before,
code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.block-show-code pre {
  padding: 16px;
  overflow: auto;
  font-size: 0.85em;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 0;
  margin-bottom: 0;
  word-break: normal;
  word-wrap: normal;
}


.block-show-code pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.block-show-code pre code:before,
.block-show-code pre code:after {
  content: normal;
}