.fa { &:not(.fa-spin) { animation: none; } }

.reporter {
  min-height: 0; // needed for firefox or else scrolling gets funky

  .container {
    box-shadow: 0 1px 2px #aaa;
    flex-grow: 2;
    overflow-y: auto;
  }

  .wrap {
    box-shadow: 0 1px 2px #aaa;
    margin-bottom: 40px;
    padding-left: 0;
    width: 100%;
  }

  .runnables {
    padding-left: 0;
  }

  .runnable {
    width: 100%;
    color: #6c6c6c;
    background-color: #fff;
    overflow: auto;
    line-height: 18px;
    padding-left: 0;

    .runnable-wrapper {
      border-left: 5px solid transparent;
      padding: 0;

      .collapsible-header {
        &:focus {
          .collapsible-header-inner {
            background-color: #f7f8f9;
            cursor: pointer;
          }
        }

        .collapsible-header-inner {
          &:hover {
            background-color: #f7f8f9;
            cursor: pointer;
          }

          &:focus {
            outline: 0;
          }

          height: 100%;
          padding: 5px 15px 5px 5px;
          width: 100%;
        }
      }
    }

    .attempt-item:hover {
      > .runnable-wrapper .runnable-controls i.fa-redo {
        visibility: visible !important;
      }

      .hooks-container, .runnable-err-wrapper {
        border-color: #828282;
      }
    }

    &.runnable-active {
      .runnable-state {
        @include runnable-state-active;
      }
    }

    .runnable-state,.attempt-state {
      display: inline-block;
      line-height: 18px;
      margin-right: 5px;
      min-width: 12px;
      height: 18px;
      text-align: center;
      font-size: 11px;
    }

    &.suite .collapsible-indicator  {
      padding-left: 2px;
      font-size: 14px;
      color: #bbbcbd;
    }


    &.test.runnable-processing  {
      .runnable-state {
        @include runnable-state-processing;
      }
    }

    &.runnable-failed > div > .runnable-wrapper,
    &.runnable-failed > div > .runnable-instruments {
      border-left: 5px solid $fail;

      .fa-exclamation-triangle.has-command-failures {
        visibility: visible;
      }
    }

    &.runnable-pending > div > .runnable-wrapper,
    &.runnable-pending > div > .runnable-instruments {
      border-left: 5px solid lighten($pending, 25%);
      padding-bottom: 0;
    }

    &.runnable-passed > div > .runnable-wrapper,
    &.runnable-passed > div > .runnable-instruments {
      border-left: 5px solid $pass;
    }

    .runnable-retried > div > .runnable-wrapper,
    .runnable-retried > div > .runnable-instruments {
      border-left: 5px solid $retried;
    }

    &.runnable-skipped > .runnable-wrapper {
      .runnable-state {
        @include runnable-state-skipped;
      }

      .runnable-title {
        color: #aaa;
      }
    }

    &.runnable-skipped > div > .runnable-wrapper,
    &.runnable-skipped > div > .runnable-instruments {
      border-left: 5px solid #9a9aaa;
    }

    &.test.runnable-failed {
      .runnable-state {
        @include runnable-state-failed;
      }
    }

    &.suite > div > .runnable-wrapper {
      .runnable-title {
        color: #111;
        font-weight: 800;
        font-size: 13px;
      }
    }

    &.test.runnable-passed {
      .runnable-state {
        @include runnable-state-passed;
      }
    }

    &.test.runnable-pending {
      .runnable-state {
        @include runnable-state-pending;
      }
      .runnable-title {
        color: lighten($pending, 25%);
      }

      .runnable-commands-region {
        display: none;
      }
    }
  }

  .runnable-instruments {
    border-left: 5px solid transparent;
  }

  .collapsible > .runnable-instruments {
    padding-bottom: 5px;
  }

  .runnable-title {
    font-size: 12.5px;
    min-width: $reporter-contents-min-width;
    white-space: pre-line;

    &:focus {
      outline: 1px dotted #6c6c6c;
    }
  }

  .runnable-wrapper > .collapsible-header {
    overflow: auto;
    position: relative;
    display: inline-flex;
    width: 100%;

    &:focus {
      outline: 1px dotted #6c6c6c;
      outline-offset: 3px;
    }
  }

  .suite > div .runnable-wrapper,
  .test .runnable-wrapper > .collapsible-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .runnable-controls {
    float: right;
    overflow: hidden;

    label {
      padding: 2px 4px;
    }

    i {
      margin: 0 2px;
      color: #999;
      visibility: hidden;
      font-size: 15px;
    }
  }

  .test.runnable-failed .runnable-controls i {
    visibility: visible;
  }

  .test .collapsible {
    display: flex;
    flex-direction: column;

    .runnable-wrapper {
      .collapsible-header-inner {
        width: 100%;

        .collapsible-header-text {
          display: flex;

          .runnable-title {
            flex-grow: 1;
            padding-right: 10px;
          }

          .runnable-controls {
            justify-self: flex-end;
            min-width: 20px;
          }
        }
      }
    }
  }

  .collapsible-header {
    display: flex;
  }

  .test > .collapsible > .runnable-wrapper > .collapsible-header > .collapsible-header-inner > .collapsible-indicator {
    display: none;
  }

  .runnable-header {
    background: #f2f2f2;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    span > span > a:before,
    span > span > span:before {
      @extend .#{$fa-css-prefix};
      @extend .#{$fa-css-prefix}-file;
      color: #bdbdbd;
      display: inline;
      margin-right: 5px;
    }
  }

  .runnable-loading {
    .runnable-loading-animation {
      display: flex;
      margin: 3.5rem auto 1.5rem;
      padding: 0 5px;
      width: 160px;

      div {
        animation: scaling 1.65s ease-in-out infinite;
        border-radius: 50%;
        height: 40px;
        margin: 0 -5px;
        transform: scale(0.5);
        width: 40px;
      }

      div:nth-child(1) {
        animation-delay:0.1s;
        background: #56b790;
      }

      div:nth-child(2) {
        animation-delay:0.2s;
        background: #4a88cc;
      }

      div:nth-child(3) {
        animation-delay:0.3s;
        background: #b96162;
      }

      div:nth-child(4) {
        animation-delay:0.4s;
        background: #e3b065;
      }

      div:nth-child(5) {
        animation-delay:0.5s;
        background: #a9abad;
      }

      @keyframes scaling {
        0%, 20%, 80%, 100% {
          opacity: 100%;
          transform: scale(0.5);
        }

        50% {
          opacity: 50%;
          transform: scale(1);
        }
      }
    }

    .runnable-loading-title {
      font-family: $muli;
      font-size: 20px;
      text-align: center;
    }
  }
}
