.fa { &:not(.fa-spin) { animation: none; } }

.reporter {
  min-height: 0; // needed for firefox or else scrolling gets funky

  .container {
    box-shadow: 0 1px 2px #aaa;
    flex-grow: 2;
    overflow-y: auto;
  }

  .wrap {
    box-shadow: 0 1px 2px #aaa;
    margin-bottom: 40px;
    padding-left: 0;
    width: 100%;
  }

  .runnables {
    padding-left: 0;
  }

  .runnable {
    width: 100%;
    color: #6c6c6c;
    background-color: #fff;
    overflow: auto;
    line-height: 18px;
    padding-left: 0;

    &.hover {
      background-color: #f7f8f9;
      cursor: pointer;

      > .runnable-wrapper .runnable-controls i.fa-redo {
        visibility: visible !important;
      }
    }

    &:focus {
      outline: 1px dotted #6c6c6c;
      outline-offset: -1px;
    }

    &.runnable-active {
      .runnable-state {
        @extend .#{$fa-css-prefix}-sync-alt;
        @extend .#{$fa-css-prefix}-spin;
      }
    }

    .runnable-state {
      display: inline-block;
      line-height: 18px;
      margin-right: 5px;
      min-width: 12px;
      height: 18px;
      text-align: center;
      font-size: 11px;
    }

    &.suite .collapsible-indicator  {
      padding-left: 2px;
      font-size: 14px;
      color: #bbbcbd;
    }

    &.runnable-processing > .runnable-wrapper {
      .runnable-state {
        @extend .far;
        line-height: 18px; // @extend .far overrides line-height, so we need to set it again
        @extend .#{$fa-css-prefix}-square;
        color: #888;
      }
    }

    &.test.runnable-failed > .runnable-wrapper {
      border-left: 5px solid $fail;

      .fa-exclamation-triangle.has-command-failures {
        visibility: visible;
      }
    }

    &.suite.runnable-pending > div > .runnable-wrapper,
    &.test.runnable-pending > .runnable-wrapper {
      border-left: 5px solid lighten($pending, 25%);
    }

    &.suite.runnable-passed > div > .runnable-wrapper,
    &.test.runnable-passed > .runnable-wrapper {
      border-left: 5px solid $pass;
    }

    &.runnable-skipped > .runnable-wrapper {
      .runnable-state {
        @extend .#{$fa-css-prefix}-ban;
        color: #888;
      }

      .runnable-title {
        color: #aaa;
      }
    }

    &.suite.runnable-skipped > div > .runnable-wrapper,
    &.test.runnable-skipped > .runnable-wrapper {
      border-left: 5px solid #9a9aaa;
    }

    &.suite.runnable-failed > div > .runnable-wrapper {
      border-left: 5px solid $fail;
    }

    &.test.runnable-failed {
      .runnable-state {
        @extend .#{$fa-css-prefix}-times;
        color: $fail;
      }
    }

    &.suite > div > .runnable-wrapper {
      .runnable-title {
        color: #111;
        font-weight: 800;
        font-size: 13px;
      }
    }

    &.suite > div > .runnable-wrapper {
      .collapsible-header:focus, .collapsible-header-inner:focus {
        outline: 0;

        .runnable-title {
          outline: 1px dotted;
        }
      }
    }

    &.runnable-passed > .runnable-wrapper {
      .runnable-state {
        @extend .#{$fa-css-prefix}-check;
        color: $pass;
      }
    }

    &.runnable-pending > .runnable-wrapper {
      .runnable-title {
        color: lighten($pending, 25%);
      }

      .runnable-state {
        @extend .#{$fa-css-prefix}-circle-notch;
        color: lighten($pending, 20%);
      }

      .runnable-commands-region {
        display: none;
      }
    }
  }

  .runnable-wrapper {
    padding: 5px 15px 5px 5px;
    overflow: hidden;
    border-left: 5px solid transparent;
  }

  .collapsible > .runnable-wrapper {
    padding: 0;

    .collapsible-header {
      padding: 5px 15px 5px 5px;
    }
  }

  .runnable-title {
    font-size: 12.5px;
    min-width: $reporter-contents-min-width;
    white-space: pre-line;

    &:focus {
      outline: 1px dotted #6c6c6c;
    }
  }

  .runnable-content-region {
    overflow: auto;
    position: relative;
    display: inline-flex;
    width: 100%;

    &:focus {
      outline: 1px dotted #6c6c6c;
      outline-offset: 3px;
    }
  }

  .suite > div .runnable-wrapper,
  .test .runnable-content-region {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .test .runnable-content-region {
    padding-right: 30px;
  }

  .runnable-controls {
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;

    label {
      padding: 2px 4px;
    }

    i {
      margin: 0 2px;
      color: #999;
      visibility: hidden;
      font-size: 15px;
    }
  }

  .test.runnable-failed .runnable-controls i {
    visibility: visible;
  }

  .collapsible-header {
    display: flex;
  }

  .test > .runnable-wrapper > .collapsible > .collapsible-header-wrapper > .collapsible-header {
    .collapsible-indicator {
      display: none;
    }
  }

  .runnable-header {
    background: #f2f2f2;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    a:before,
    span:before {
      @extend .#{$fa-css-prefix};
      @extend .#{$fa-css-prefix}-file;
      color: #bdbdbd;
      display: inline;
      margin-right: 5px;
    }
  }

  .runnable-loading {
    .runnable-loading-animation {
      display: flex;
      margin: 3.5rem auto 1.5rem;
      padding: 0 5px;
      width: 160px;

      div {
        animation: scaling 1.65s ease-in-out infinite;
        border-radius: 50%;
        height: 40px;
        margin: 0 -5px;
        transform: scale(0.5);
        width: 40px;
      }

      div:nth-child(1) {
        animation-delay:0.1s;
        background: #56b790;
      }

      div:nth-child(2) {
        animation-delay:0.2s;
        background: #4a88cc;
      }

      div:nth-child(3) {
        animation-delay:0.3s;
        background: #b96162;
      }

      div:nth-child(4) {
        animation-delay:0.4s;
        background: #e3b065;
      }

      div:nth-child(5) {
        animation-delay:0.5s;
        background: #a9abad;
      }

      @keyframes scaling {
        0%, 20%, 80%, 100% {
          opacity: 100%;
          transform: scale(0.5);
        }

        50% {
          opacity: 50%;
          transform: scale(1);
        }
      }
    }

    .runnable-loading-title {
      font-family: $muli;
      font-size: 20px;
      text-align: center;
    }
  }
}
