.reporter {
  .attempts {
    .attempt-item > .collapsible > .collapsible-header-wrapper {
      display: none;
    }

    &.has-multiple-attempts .attempt-item > .collapsible > .collapsible-header-wrapper {
      display: flex;
    }
  }

  .attempt-item {
    margin-bottom: 7px;

    > .collapsible {
      position: relative;
      margin-right: 20px;
      .collapsible-header-inner {
        outline: none;
      }
      
      &:before {
        border-left: 1px solid #dcdcdc;
        content: '';
        left: 5px;
        position: absolute;
        top: 22px;
        height: 15px;
      }

      &.is-open:before {
        display: none;
      }
    }

    &:last-child > .collapsible:before {
      display: none;
    }

    > .is-open .open-close-indicator {
        i.fa-angle-down {
          margin-top: 0;
        }
  
        i.fa-angle-up {
          order: 1;
          margin-top: -4px;
        }
      }

    .open-close-indicator {
      display: flex;
      flex-direction: column;
  
      i {
        margin-right: 5px;
  
        &.fa-angle-down {
          margin-top: -4px;
        }
      }
    }
  }


  .attempt-state-active {
    .attempt-state {

    @include runnable-state-active;
    }
  }
  .attempt-state-processing {
    .attempt-state {

    @include runnable-state-processing;
    }
  }
  .attempt-state-failed {
    .attempt-state {
      @include runnable-state-failed;
    }

    .attempt-name:after {
      color: $fail;
    }
  }
  .attempt-state-passed {
    .attempt-state {

    @include runnable-state-passed;
    }


    .attempt-name:after {
      color: $pass;
    }
  }


  .attempt-name {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;

    &:before {
      border-top: 1px solid #dcdcdc;
      content: '';
      left: 15px;
      position: absolute;
      right: 0;
      top: 13px;
    }

    &:after {
      color: #a2a2a2;
      content: '•';
      left: 3px;
      position: absolute;
      top: 6px;
    }

    .attempt-tag {
      align-items: center;
      border: 1px solid #d5d5d5;
      border-radius: 7px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20);
      display: flex;
      font-size: 11px;
      padding: 2px 5px;
      position: relative;
      background-color: #fff;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: #e8e8e8;
      }
    }

    .collapsible-indicator,
    .collapsible-more {
      display: none;
    }

    .attempt-state {
      margin-left: 3px;
    }
  }
}
