.message-container {
  left: 0;
  position: absolute;
  text-align: center;
  right: 0;
}

.message {
  background-color: #111;
  border-radius: 5px;
  color: #FFF;
  display: inline-block;
  margin-bottom: 2px;
  padding: 5px 10px;

  &.warning {
    background-color: $error;
  }

  &.info {
    background-color: #2b4781;
  }

  .description {
    color: #F5A327;
  }
}
