@use '../../' as *;

$left-nav-width: 40px;
$icon-color: $metal-50;
$active-color: $metal-80;

.leftNav {
  display: grid;
  grid-template-columns: $left-nav-width;
  grid-auto-rows: $left-nav-width;
  row-gap: 8px;

  width: $left-nav-width;
  height: 100%;
  padding: 8px;
  margin: 0;

  list-style-type: none;
}

.item {
  height: 100%;

  margin: 2px;

  cursor: pointer;
  color: $icon-color;

}

.active {
  color: $active-color;
}

.itemAnchor {
  text-decoration: none;
}

.icon {
  display: block;
  margin: auto;
  height: 100%;
}
