.reporter {
  header {
    background-color: #f8f8f8;
    box-shadow: 0 1px 3px #ccc;
    height: $header-height;
    min-width: $min-width;
    outline: 0;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 1;

    button {
      background-color: #f8f8f8;
      border-color: transparent;
      border-radius: 0;
      line-height: 26px;
      outline: 0;

      &:hover {
        background-color: #e9e9e9;
      }

      &:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
  }

  .focus-tests {
    border-right: 1px solid #ddd;
    float: left;
    font-weight: normal;

    i {
      margin-right: 5px;
    }
  }

  .stats {
    float: left;
    margin-bottom: 0;
    padding: 0;

    li {
      float: left;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      list-style-type: none;
      padding: 10px;

      &.passed {
        color: #23AE89;
      }

      &.failed {
        color: #E94B3B;
      }

      &.pending {
        color: #aaa;
      }

      i {
        margin: 5px;
      }
    }

    .duration {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .controls {
    float: right;

    .paused-label {
      background-color: #CC4239;
      margin-right: 5px;
    }

    i {
      font-size: 90%;
      margin: 5px;

      &.fa-repeat {
        font-size: 112%;
      }
    }
  }
}
