
//colors
$black: #000;

$white: #fff;
$white-90: rgba(255,255,255,0.9);
$white-80: rgba(255,255,255,0.8);
$white-60: rgba(255,255,255,0.6);

$color-gray: #999;
$color-green: #04C38E;
$color-red: #EA4D5C;
$color-default: #444;
$color-border: #e3e3e3;
$color-link: #3B94D9;
$color-link-hover: #0369b3;
$color-background: #24262F;

$highlight-background:    #f7f7f7;
$highlight-current-line:  #efefef;
$highlight-selection:     #d6d6d6;
$highlight-foreground:    #4a585d;
$highlight-comment:       #999;
$highlight-red:           #c92c2c;
$highlight-orange:        #cc8300;
$highlight-yellow:        #eab700;
$highlight-green:         #718c00;
$highlight-aqua:          #1d75b3;
$highlight-blue:          #183691;
$highlight-purple:        #795da3;

// Typography
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Garamond, Georgia, "Times New Roman", serif;
$font-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font-title: "Fira Sans", font-sans;
$font-size: 16px;
$line-height: 1.7em;

// Layout
$max-width: 1300px;
$gutter-width: 30px;
$sidebar-width: 230px;
$mobile-nav-width: 230px;

// Media queries
$mq-mobile: "screen and (max-width: 768px)";
$mq-normal: "screen and (min-width: 769px)";
$mq-tablet: "screen and (min-width: 480px)";
