<!DOCTYPE html>
<html>
  <head>
    <title>Mocha</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/mocha/mocha.css" />
  </head>
  <body>
    <div id="mocha"></div>
    <script src="/lib/public/js/sinon.js"></script>
    <script src="/lib/public/js/vendor.js"></script>
    <script src="/lib/public/js/eclectus.js"></script>
    <script>mocha.setup('bdd')</script>
    <script src="/specs/spec_helper.js"></script>
    {{#each specs}}
      <script src="/{{this}}.js"></script>
    {{/each}}
    <script>
      window.runner = mocha.run();
    </script>
  </body>
</html>