@import "../lib/mixins.scss";

$color-transition: color 150ms ease-out;

.reporter {
  .spec-container {
    background-color: $gray-1100;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 13px;
    font-family: $font-system;
    min-height: $header-height - 1px;
    outline: 0;
    overflow: hidden;
    padding: 0 16px;
    width: 100%;
    z-index: 1;
    align-items: center;

    .spacer {
      flex-grow: 2;
    }
  }

  .statsAndControls {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid $gray-900;
    border-left: none;
    flex-wrap: wrap;
    gap: 12px;
    min-height: 64px;
  }

  .stats {
    align-items: center;
    border: 1px solid $gray-900;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    min-height: 32px;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      list-style-type: none;
      padding: 2px 12px;
      gap: 4px;
      line-height: 20px;

      .num {
        color: $gray-400;

        &.empty {
          color: $gray-800;
        }
      }
    }
  }

  .controls {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    height: 32px;
    justify-content: center;

    button {
      align-items: center;
      display: flex;
      height: 32px;
      justify-content: center;
      padding: 0 !important;
      width: 32px;
    }
  }

  .runnable-header {
    @include inner-header;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    position: unset;
    line-height: 20px;
    min-width: 0;
    align-items: center;
    flex: 1;

    span > span > a > svg {
      margin-bottom: -2px;
      margin-right: 8px;
    }

    a,
    a:active,
    a:focus,
    a:hover {
      color: $gray-500;
      font-weight: 300;

      strong {
        color: $white;
        font-weight: 500;
      }
    }
  }

  .toggle-specs-wrapper {
    .toggle-specs-button {
      padding: 0;
      width: 32px;
      justify-content: center;
      color: $gray-500;
    }
  }
}
