$color-transition: color 150ms ease-out;

.reporter {
  header {
    background-color: $gray-1000;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 8px;
    font-family: $font-system;
    min-height: $header-height;
    outline: 0;
    overflow: hidden;
    padding: 20px 16px;
    width: 100%;
    z-index: 1;

    .spacer {
      flex-grow: 2;
    }

    button {
      background-color: transparent;
      border-color: transparent;
      border-radius: 0;
      display: inline-block;
      font-weight: 300;
      line-height: 26px;
      outline: 0;
      padding: 0 8px;
      text-align: center;

      &:hover {
        background-color: $gray-900;
      }

      &[disabled],
      &[disabled]:hover,
      &[disabled]:active {
        background: none;
        box-shadow: none;
        color: $gray-500;
      }
    }
  }

  .toggle-specs-wrapper {
    display: flex;
    height: 24px;

    button {
      color: $gray-700;
      font-size: 16px;
      font-weight: 300;
      padding-left: 0;
      padding-right: 8px;
      transition: $color-transition;
      width: auto !important;

      &:focus,
      &:hover {
        background-color: initial;

        svg {
          color: $gray-400;
          transition: $color-transition;
        }

        .toggle-specs-text {
          color: $gray-600;
          transition: $color-transition;
        }
      }

      .toggle-specs-text {
        transition: $color-transition;
      }

      svg {
        margin-right: 8px;
        margin-bottom: -2px;
      }
    }
  }

  .stats {
    align-items: center;
    border: 1px solid $gray-900;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    height: 24px;
    justify-content: center;
    padding-right: 8px;

    li {
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      line-height: 24px;
      list-style-type: none;
      padding: 1px 0px 0 4px;

      svg {
        margin: 0px 4px;
      }

      .num {
        color: $white;
        line-height: 12px;
        vertical-align: text-top;

        &.empty {
          color: $gray-800;
        }
      }
    }
  }

  .controls {
    align-items: center;
    border: 1px solid $gray-900;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .testing-preferences-toggle {
      padding: 1px 8px;

      &.open {
        background-color: $gray-900;
      }
    }

    span:last-child button,
    .play {
      padding: 1px 10px;
    }

    span {
      button {
        color: $gray-400;
        height: 22px;
      }
      &:not(:last-child) {
        button {
          border-right: 1px solid $gray-900;
        }
      }
    }
  }
}
