@charset "UTF-8";
html, body, a, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, abbr, acronym, address, big, cite, del, dfn, table, caption, td, th, ins, img, em, kbd, q, s, samp, small, strike, strong, sup, sub, var, tt, dl, dt, dd, ol, ul, li, form, fieldset, label, tr, thead, tfoot, tbody, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  box-sizing: border-box; }

body {
  line-height: 1;
  color: #000;
  background: #fff;
  background: #171f26;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

a img {
  border: none; }

a.article-title:hover {
  color: #1094e8; }

table, caption, td, th {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

* {
  box-sizing: inherit; }
  *:before {
    box-sizing: inherit; }
  *:after {
    box-sizing: inherit; }

button, select, input, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, button::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0; }

.wrapper:before {
  content: "";
  display: table; }

.wrapper:after {
  content: "";
  display: table;
  clear: both; }

.inner:before {
  content: "";
  display: table; }

.inner:after {
  content: "";
  display: table;
  clear: both; }

#article-toc-inner {
  overflow-x: hidden;
  overflow-y: auto;
  width: 220px; }
  #article-toc-inner:before {
    content: "";
    display: table; }
  #article-toc-inner:after {
    content: "";
    display: table;
    clear: both; }

#content-wrap {
  background: #fff;
  border-top: 1px solid #171f26;
  border-bottom: 1px solid #171f26;
  margin: -1px 0; }

@media print {
  #header {
    display: none; }
  .article {
    padding: 0; }
  .article-anchor {
    display: none !important; }
  .article-content {
    font-size: 12pt; }
    .article-content a {
      color: #444;
      text-decoration: underline; }
      .article-content a:after {
        content: "(" attr(href) ")";
        font-size: 80%; }
  .article-footer {
    display: none; }
  .article-footer-prev {
    display: none; }
  .article-footer-next {
    display: none; }
  #comments {
    display: none; }
  #footer {
    display: none; } }

.toc-link {
  font-family: "Fira Sans", font-sans;
  display: block;
  color: #444;
  text-decoration: none;
  padding: 7px 0;
  line-height: 1;
  position: relative;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
  .toc-link.current {
    color: #0e83cd; }
  .toc-link:hover {
    color: #1094e8; }

#content {
  position: relative; }
  #content:before {
    content: "";
    display: table; }
  #content:after {
    content: "";
    display: table;
    clear: both; }

#content-inner:before {
  content: "";
  display: table; }

#content-inner:after {
  content: "";
  display: table;
  clear: both; }

.post {
  margin: 0 auto;
  float: none; }
  .post .article-title {
    float: none; }

#container {
  transition: 0.4s;
  height: 100%; }

.fixed #article-toc-inner {
  position: fixed;
  top: 0;
  bottom: 0; }

.article-heading:hover .article-anchor {
  display: inline-block; }

#header {
  position: relative;
  padding: 10px 0; }

#header-inner {
  display: box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

@media screen and (max-width: 768px) {
  #header-inner {
    justify-content: center; } }

#logo-wrap {
  box-flex: 1;
  flex: 0 50px; }

#logo {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background: url("/logo.svg");
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  display: block; }

#main-nav {
  display: none;
  box-flex: 1;
  flex: 1 auto;
  padding-left: 20px; }

.main-nav-link {
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  opacity: 0.7;
  transition: 0.2s;
  font-family: "Fira Sans", font-sans;
  display: inline-block;
  padding: 0 15px; }
  .main-nav-link:hover {
    opacity: 1;
    color: #1094e8; }

#search-input-wrap {
  display: none;
  padding-left: 6px;
  padding-bottom: 8px;
  border-bottom: 1px solid #999; }
  #search-input-wrap.on {
    display: inline-block; }

#search-input-icon {
  color: #fff;
  padding-right: 0.5em;
  display: inline-block;
  opacity: 0.7; }

#search-input {
  background: none;
  font-size: inherit;
  font-family: "Fira Sans", font-sans;
  color: #fff;
  outline: none; }

#lang-select-wrap {
  display: none;
  position: relative; }

#lang-select-label {
  color: #fff;
  opacity: 0.7;
  font-family: "Fira Sans", font-sans;
  line-height: 50px; }
  #lang-select-label span {
    padding-left: 8px; }
  #lang-select-label i {
    opacity: 0.7; }

#lang-select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: inherit; }

#banner {
  color: rgba(255, 255, 255, 0.8);
  text-align: center; }

#banner-title {
  padding-top: 20px;
  font-size: 40px;
  line-height: 1.15;
  font-weight: 300;
  font-family: "Fira Sans", font-sans; }

#banner-start {
  text-align: center;
  padding: 40px 0; }

#banner-start-command {
  background: #283542;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  display: inline-block;
  padding: 15px 20px; }
  #banner-start-command:before {
    opacity: 0.5;
    padding-right: 10px; }

#banner-start-link {
  color: #fff;
  background: #0e83cd;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  transition: 0.2s; }
  #banner-start-link:hover {
    background: #1094e8; }

#banner-share {
  display: none;
  padding-bottom: 60px; }

#intro-feature-list {
  padding-top: 20px;
  display: box;
  display: flex;
  flex-flow: column; }

.intro-feature-wrap {
  padding-top: 20px; }

.intro-feature {
  position: relative;
  text-align: center; }

.intro-feature-icon {
  color: #0e83cd;
  font-size: 36px;
  padding-bottom: 26px;
  text-align: center; }

.intro-feature-title {
  color: #0e83cd;
  font-family: "Fira Sans", font-sans;
  font-size: 24px; }

.intro-feature-desc {
  margin: 1.6em 0;
  line-height: 1.6em; }

#intro-cmd-wrap {
  max-width: 700px;
  background: #eee;
  padding: 15px 0;
  margin: 25px -20px 0; }

.intro-cmd-item {
  font-size: 16px;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  line-height: 2;
  padding: 0 30px; }
  .intro-cmd-item:before {
    color: #0e83cd;
    padding-right: 15px; }

#intro-get-started-wrap {
  text-align: center; }

#intro-get-started-link {
  font-size: 18px;
  font-family: "Fira Sans", font-sans;
  display: inline-block;
  color: #0e83cd;
  text-decoration: none;
  margin: 40px 0;
  border: 3px solid;
  border-color: #1094e8;
  padding: 12px 24px;
  position: relative;
  transition: 0.2s; }
  #intro-get-started-link:hover {
    background: #1094e8;
    color: #fff; }

#sidebar {
  width: 220px;
  float: left;
  padding-bottom: 40px;
  opacity: 0.8;
  margin-left: -220px;
  display: none; }

.sidebar-title {
  margin-top: 40px;
  padding: 10px 0;
  font-family: "Fira Sans", font-sans;
  font-weight: bold;
  color: #0e83cd;
  display: inline-block;
  border-top: 1px solid #e3e3e3;
  line-height: 1; }

.sidebar-link {
  font-family: "Fira Sans", font-sans;
  display: block;
  color: #444;
  text-decoration: none;
  padding: 7px 0;
  line-height: 1;
  position: relative;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
  .sidebar-link.current {
    color: #0e83cd; }
  .sidebar-link:hover {
    color: #1094e8; }

.article-date {
  color: #999;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em; }
  .article-date:hover {
    color: #1094e8; }

.article-edit-link {
  float: right;
  color: #bbb;
  font-size: 24px;
  line-height: 36px;
  transition: 0.2s;
  display: none; }
  .article-edit-link:hover {
    color: #1094e8; }

.article-anchor {
  margin-left: 10px;
  display: none; }
  .article-anchor:before {
    content: "#"; }

.article-content {
  line-height: 1.6em;
  color: #444; }
  .article-content p {
    margin: 1em 0; }
  .article-content ol {
    margin: 1em 0;
    margin-left: 20px;
    list-style: decimal; }
    .article-content ol ul {
      margin-top: 0;
      margin-bottom: 0; }
    .article-content ol ol {
      margin-top: 0;
      margin-bottom: 0; }
    .article-content ol dl {
      margin-top: 0;
      margin-bottom: 0; }
  .article-content ul {
    margin: 1em 0;
    margin-left: 20px;
    list-style: disc; }
    .article-content ul ul {
      margin-top: 0;
      margin-bottom: 0; }
    .article-content ul ol {
      margin-top: 0;
      margin-bottom: 0; }
    .article-content ul dl {
      margin-top: 0;
      margin-bottom: 0; }
  .article-content dl {
    margin: 1em 0;
    margin-left: 20px;
    list-style: square; }
    .article-content dl ul {
      margin-top: 0;
      margin-bottom: 0; }
    .article-content dl ol {
      margin-top: 0;
      margin-bottom: 0; }
    .article-content dl dl {
      margin-top: 0;
      margin-bottom: 0; }
  .article-content table {
    margin: 1em 0;
    max-width: 100%;
    border: 1px solid #e3e3e3; }
    .article-content table th {
      font-weight: bold;
      padding: 5px 15px; }
    .article-content table td {
      padding: 5px 15px; }
    .article-content table tr:nth-child(2n) {
      background: #eee; }
  .article-content blockquote {
    margin: 1em 0;
    padding: 0 20px;
    position: relative;
    border: 1px solid #e3e3e3;
    border-left: 5px solid #ddd; }
    .article-content blockquote footer {
      margin: 1em 0;
      font-style: italic; }
      .article-content blockquote footer cite:before {
        content: "â€”";
        padding: 0 0.3em; }
      .article-content blockquote footer cite a {
        color: color-grey; }
  .article-content iframe {
    margin: 1em 0; }
  .article-content .highlight {
    margin: 1em 0; }
  .article-content h1 {
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0; }
  .article-content h2 {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0; }
  .article-content h3 {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0; }
  .article-content h4 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0; }
  .article-content h5 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0; }
  .article-content h6 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0; }
  .article-content a {
    color: #0e83cd;
    text-decoration: none; }
    .article-content a:hover {
      color: #1094e8;
      text-decoration: underline; }
  .article-content strong {
    font-weight: bold; }
  .article-content em {
    font-style: italic; }
  .article-content li p {
    margin: 0; }
  .article-content li table {
    margin: 1em 0; }
  .article-content li blockquote {
    margin: 1em 0; }
  .article-content li iframe {
    margin: 1em 0; }
  .article-content li .highlight {
    margin: 1em 0; }
  .article-content img {
    max-width: 100%; }
  .article-content video {
    max-width: 100%; }
  .article-content .note.tip {
    border-left-color: #fa0; }
  .article-content .note.info {
    border-left-color: #1094e8; }
  .article-content .note.warn {
    border-left-color: #f00; }
  .article-content .note-title {
    margin: 1em 0;
    display: block;
    font-size: 1.3em;
    font-weight: bold; }

.article-footer {
  margin: 1em 0;
  border-top: 1px solid #e3e3e3;
  text-align: center;
  color: #999;
  line-height: 1em;
  padding-top: 1em;
  position: relative; }
  .article-footer:before {
    content: "";
    display: table; }
  .article-footer:after {
    content: "";
    display: table;
    clear: both; }

.article-footer-prev {
  color: #0e83cd;
  text-decoration: none;
  font-weight: bold;
  font-family: "Fira Sans", font-sans;
  text-transform: uppercase;
  position: absolute;
  left: 0; }
  .article-footer-prev:hover {
    color: #1094e8; }
  .article-footer-prev span {
    padding: 0 6px; }

.article-footer-next {
  color: #0e83cd;
  text-decoration: none;
  font-weight: bold;
  font-family: "Fira Sans", font-sans;
  text-transform: uppercase;
  position: absolute;
  right: 0; }
  .article-footer-next:hover {
    color: #1094e8; }
  .article-footer-next span {
    padding: 0 6px; }

.article-footer-updated {
  font-size: 0.9em; }

#article-toc-top {
  margin-top: 2em;
  font-size: 0.9em;
  text-decoration: none;
  color: #444;
  display: block;
  margin-bottom: 40px;
  font-family: "Fira Sans", font-sans; }
  #article-toc-top:hover {
    color: #1094e8; }

.article-header {
  padding-bottom: 20px; }
  .article-header:before {
    content: "";
    display: table; }
  .article-header:after {
    content: "";
    display: table;
    clear: both; }

.article-title {
  float: left;
  font-family: "Fira Sans", font-sans;
  font-size: 36px;
  font-weight: 300;
  text-decoration: none;
  color: #444;
  transition: 0.2s; }

.article-inner:before {
  content: "";
  display: table; }

.article-inner:after {
  content: "";
  display: table;
  clear: both; }

.article {
  float: left;
  width: 100%;
  padding: 40px 0; }

#article-toc {
  display: none;
  float: right;
  width: 220px;
  margin-right: -220px;
  opacity: 0.8; }
  #article-toc.fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 220px; }

.toc-child {
  padding-left: 1em;
  font-size: 0.9em; }

@media screen {
  html {
    height: 100%; }
  body {
    height: 100%; }
  .wrapper {
    max-width: 1200px;
    margin: 0 auto; }
  .inner {
    padding: 0 20px; }
  #article-toc-inner {
    padding: 0 20px; }
  .post {
    max-width: 800px; } }

@media screen and (min-width: 769px) {
  #main-nav {
    display: block; }
  #lang-select-wrap {
    display: block; }
  #banner-title {
    padding-top: 100px;
    font-size: 50px; }
  #banner-start {
    padding: 60px 0;
    font-size: 18px; }
  #banner-share {
    display: block; }
  #intro-feature-list {
    flex-flow: row wrap; }
  .intro-feature-wrap {
    box-flex: 1;
    flex: 0 0 50%;
    padding-top: 50px; }
  .intro-feature {
    text-align: left;
    padding-left: 70px; }
  .intro-feature-icon {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 24px;
    width: 24px; }
  #intro-cmd-wrap {
    margin: 50px auto 0; }
  #sidebar {
    display: block; }
  #content-inner {
    margin-left: 220px; }
  .article-container {
    float: right;
    width: 100%; }
  .article-inner {
    margin-right: 220px; }
  #article-toc {
    display: block; }
  .article-edit-link {
    display: block; }
  #mobile-nav-toggle {
    display: none; }
  #footer {
    text-align: left; }
  #footer-copyright {
    float: left; }
  #footer-links {
    float: right;
    margin-top: 0; } }

#mobile-nav {
  position: fixed;
  top: 0;
  width: 260px;
  left: -260px;
  height: 100%;
  background: #171f26;
  transition: 0.4s;
  font-family: "Fira Sans", font-sans; }

.mobile-nav-on #mobile-nav {
  transform: translateX(100%); }

.mobile-nav-on #mobile-nav-toggle {
  opacity: 1; }

.mobile-nav-on .mobile-nav-toggle-bar:first-child {
  transform: rotate(45deg); }

.mobile-nav-on .mobile-nav-toggle-bar:nth-child(2) {
  opacity: 0; }

.mobile-nav-on .mobile-nav-toggle-bar:last-child {
  transform: rotate(-45deg); }

.mobile-nav-on #container {
  transform: translateX(260px);
  overflow: hidden; }

.mobile-nav-on #mobile-nav-dimmer {
  opacity: 0.7;
  transform: translateX(-100%);
  transition: opacity 0.4s; }

#mobile-nav-inner {
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0; }

#mobile-nav-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 25px;
  height: 20px;
  margin: auto;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s; }
  #mobile-nav-toggle:active {
    opacity: 1; }

.mobile-nav-toggle-bar {
  background: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: 0.4s;
  transform-origin: 0;
  border-radius: 2px; }
  .mobile-nav-toggle-bar:first-child {
    top: 0; }
  .mobile-nav-toggle-bar:nth-child(2) {
    top: 9px; }
  .mobile-nav-toggle-bar:last-child {
    top: 18px; }

.mobile-nav-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.mobile-nav-title {
  color: #0e83cd;
  font-weight: bold;
  padding: 10px 15px;
  line-height: 1;
  display: block;
  border-top: 1px solid #444;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#mobile-nav-dimmer {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 0.4s, transform 0s 0.4s; }

#mobile-lang-select-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #171f26;
  border-top: 1px solid #444; }

#mobile-lang-select-label {
  line-height: 40px;
  color: #fff;
  padding: 10px 15px; }
  #mobile-lang-select-label i {
    opacity: 0.7; }
  #mobile-lang-select-label span {
    padding-left: 8px; }

#mobile-lang-select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#footer {
  padding: 40px 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Fira Sans", font-sans;
  position: relative;
  background: #171f26;
  text-align: center; }
  #footer:before {
    content: "";
    display: table; }
  #footer:after {
    content: "";
    display: table;
    clear: both; }
  #footer a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s; }
    #footer a:hover {
      color: #fff; }

#footer-copyright {
  line-height: 1.4; }
  #footer-copyright a {
    font-weight: bold; }

#footer-links {
  margin-top: 1em; }

.footer-link {
  font-size: 30px;
  margin-left: 20px; }
  .footer-link:first-child {
    margin-left: 0; }

pre {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 0.95em;
  padding: 10px 15px;
  line-height: 22px; }
  pre code {
    border: none;
    display: block;
    padding: 0; }
  pre .comment {
    color: #8e908c; }
  pre .title {
    color: #8e908c; }
  pre .variable {
    color: #c82829; }
  pre .attribute {
    color: #c82829; }
  pre .tag {
    color: #c82829; }
  pre .regexp {
    color: #c82829; }
  pre .ruby .constant {
    color: #c82829; }
  pre .ruby .symbol {
    color: #718c00; }
  pre .ruby .class .title {
    color: #718c00; }
  pre .ruby .function .title {
    color: #4271ae; }
  pre .ruby .title .keyword {
    color: #4271ae; }
  pre .xml .pi {
    color: #c82829; }
  pre .xml .doctype {
    color: #c82829; }
  pre .xml .cdata {
    color: #718c00; }
  pre .xml .tag .title {
    color: #c82829; }
  pre .css .id {
    color: #c82829; }
  pre .css .class {
    color: #c82829; }
  pre .css .pseudo {
    color: #c82829; }
  pre .css .hexcolor {
    color: #3e999f; }
  pre .css .rules .attribute {
    color: #718c00; }
  pre .number {
    color: #f5871f; }
  pre .preprocessor {
    color: #f5871f; }
  pre .built-in {
    color: #f5871f; }
  pre .literal {
    color: #f5871f; }
  pre .params {
    color: #f5871f; }
  pre .constant {
    color: #f5871f; }
  pre .class {
    color: #718c00; }
  pre .string {
    color: #718c00; }
  pre .value {
    color: #718c00; }
  pre .inheritance {
    color: #718c00; }
  pre .header {
    color: #718c00; }
  pre .function {
    color: #4271ae; }
  pre .python .decorator {
    color: #4271ae; }
  pre .python .title {
    color: #4271ae; }
  pre .javascript .title {
    color: #4271ae; }
  pre .javascript .function {
    color: #8959a8; }
  pre .keyword {
    color: #8959a8; }
  pre .html .doctype {
    color: #c82829; }
  pre .perl .sub {
    color: #4271ae; }
  pre .coffeescript .title {
    color: #4271ae; }

code {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 0.95em;
  padding: 0 5px; }

.highlight {
  background: #eee;
  padding: 10px 15px;
  color: #4d4d4c;
  overflow: auto;
  margin: 0; }
  .highlight table {
    margin: 0 !important;
    border: 0; }
    .highlight table th {
      padding: 0; }
    .highlight table td {
      padding: 0; }
  .highlight figcaption {
    margin: -5px 0 5px;
    font-size: 0.9em;
    color: #999; }
    .highlight figcaption:before {
      content: "";
      display: table; }
    .highlight figcaption:after {
      content: "";
      display: table;
      clear: both; }
    .highlight figcaption a {
      float: right; }
  .highlight pre {
    padding: 0;
    border: none;
    background: none; }
  .highlight .line {
    height: 22px; }
