@use '../typography.scss' as *;
@use '../func.scss' as *;

// Exposes $text, as a JS variable when directly imported
// This is the only way for JS to directly receive the exposed `.text-*` classes
:export {
  @each $name, $text-def in $text {
    #{$name}: text(#{str-replace("" + $name, 'text-', '')})
  }

  // TODO: Can this be improved?
  text-mono-m: text-mono-m;
  text-mono-s: text-mono-s;
}
