.settings {
  .settings-project-id,
  .settings-record-key {
    display: none;
  }

  &.show-project-id .settings-project-id,
  &.show-record-key .settings-record-key {
    display: block;
  }

  .learn-more {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 13px;
  }

  h5 {
    margin-top: 20px;
    overflow: hidden;
    line-height: 19px;

    a {
      font-weight: normal;
      font-size: 12px;
      position: relative;
      top: 2px;
    }
  }

  .envBracket {
    padding-left: 30px;
  }

  .config-keys {
    margin-bottom: 0;
    line-height: 16px;

    &>td {
      padding: 2px 8px;
      font-size: 13px;
    }
  }

  .config-vars {
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #252831;
    color: #eee;
    margin: 0;
    padding: 10px;
    font-family: $font-mono;

    .envFile:hover, .env:hover, .config:hover, .cli:hover, .plugin:hover, .default:hover {
      border-bottom: 1px dotted #777;
    }

    p {
      margin-bottom: 0;
    }

    .key {
      color: #ccc;
    }

    .comma, .colon, {
      color: #ccc;
    }

    .line {
      margin-left: 15px;
      color: #eee;
    }

    .nested {
      margin-left: 15px;

      .line {
        margin-left: 30px;
      }
    }
  }

  .envFile, .env, .config, .cli, .plugin, .default {
    font-family: $font-mono;

    padding: 2px;
  }

  .envFile {
    background-color: #fdf3e3;
    color: #7B4804;
  }

  .env {
    background-color: #dafff4;
    color: #045431;
  }

  .config {
    background-color: #cdedff;
    color: #0C5263;
  }

  .cli {
    background-color: #fce7e9;
    color: #A21313;
  }

  .plugin {
    background-color: #f0e7fc;
    color: #134aa2;
  }

}

.settings-wrapper {
  padding: 20px 20px 0;

  pre {
    border-radius: 3px;
    background-color: #252831;
    color: #eee;
    padding: 10px;
    font-family: $font-mono;
    border: 0;
  }

  table tr:first-child td {
    border-top: 0;
  }

  .rc-collapse-item {
    margin-bottom: 0;
    position: relative;
    border-top: none;

    &:first-child {
      border-top: 1px solid #eee;
    }
  }

  .rc-collapse-header {
    cursor: pointer;
    font-size: 1em;
    position: relative;
    left: -15px;

    .arrow {
      @extend .#{$fa-css-prefix};
      @extend .#{$fa-css-prefix}-caret-right;
      @extend .#{$fa-css-prefix}-fw;
      color: #777;
      margin-right: 5px;
    }
  }

  .rc-collapse-item-active .rc-collapse-header .arrow {
    @extend .#{$fa-css-prefix}-caret-down;
  }

  .rc-collapse-content {
    margin: 15px 8px 0;
    overflow: hidden;
  }

  .rc-collapse-content-inactive {
    display: none;
  }

  .rc-collapse-anim-active {
    transition: height 0.2s ease-out;
  }
}

.config-table {
  margin: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.settings-record-key {
  margin-bottom: 2em;

  p.text-muted.manage-btn {
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
  }

  p.text-muted {
    margin-bottom: 5px;
  }

  .empty-well {
    margin: 10px 0;

    button {
      margin-top: 10px;
    }
  }
}

.loading-record-key {
  color: #999;
  margin: 1em;
}

.proxy-settings {
  .proxy-table {
    width: 100%;

    td:first-child {
      width: 120px;
    }

    .no-bypass {
      opacity: .8;
    }

    td {
      padding: 3px;
      border-top: 1px solid #ddd !important;
      border-bottom: 1px solid #ddd;
      border-collapse: collapse;
    }
  }
}
