.runner {
  &.automation-failure,
  &.no-spec,
  &.script-error {
    background: #f8f8f8;
    box-shadow: none;
    left: 0;
  }

  &.automation-failure,
  &.no-spec {
    background: #f8f8f8;
    box-shadow: none;
  }

  .automation-message,
  .no-spec-message {
    padding: 100px 50px 20px;
    text-align: center;

    p {
      color: #333;
      font-size: 200%;

      &.muted {
        color: #aaa;
        font-size: 120%;
      }
    }

    button {
      margin: 20px 0 0;

      i {
        margin-right: 5px;
      }
    }

    .dropdown button i,
    .dropdown-menu li i {
      margin-right: 5px;
    }
  }

  .automation-disconnected button {
    font-size: 18px;
    line-height: 1.3;
    padding: 10px 16px;
  }

  .helper-line {
    margin-top: 50px;
    text-align: center;

    i {
      margin-right: 5px;
    }
  }

  &.script-error {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;

    aside {
      background: #f8f8f8;
      font-size: 15px;
      line-height: 22px;

      flex-shrink: 0;
      height: 100%;
      padding: 1.4em 2em;
      margin-top: $header-height;
      width: 33%;
      min-width: $reporter-min-width;

      .is-reporter-sized & {
        min-width: 0;
      }

      h4 {
        color: $error;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.1;
        margin: 1em 0;

        i {
          margin-right: 0.5em;
        }
      }

      p {
        line-height: 1.6;
      }

      ul {
        margin-bottom: 10px;
        margin-left: 2em;
      }

      li {
        line-height: 1.5;
        list-style: disc;
      }

      pre {
        background: #fcf8e3;
        display: block;
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        width: 100%;
        white-space: initial;
        overflow: hidden;
        line-height: 1.6;
      }
    }

    main {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
      box-shadow: inset 0 0 10px #555;
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding: 0;
      width: 100%;

      pre {
        overflow: auto;
        padding: 1em 1.5em;
        margin-bottom: 0;

        &.error-stack {
          background-color: white;
          padding: 30px;
          color: #ec6573;
          font-size: 12px;

          &>span:not(:first-child) {
            padding-left: 15px;
          }

          .error-url {
            color: #777;
          }
        }

        &:empty {
          display: none;
        }
      }
    }
  }
}
