#debug {
  padding: 15px;

  .panel {
    overflow: auto;
    margin-bottom: 10px;
  }

  #code {
    color: #777;
    background-color: white;
    font-size: 11px;

    td:nth-of-type(1) {
      width: 15%;
    }

    td:nth-of-type(2) {
      width: 10%;
    }

    td:nth-of-type(3) {
      width: 15%;
    }

    td:nth-of-type(4) {
      width: 60%;
    }

    .data {
      @include text-overflow();
    }
  }
}