#projects {
  header {
    border-bottom: 1px solid #EEE;
    padding: 10px;
    overflow: auto;
    width: 100%;
    line-height: 32px;

    p {
      float: left;
      margin: 0 0 0 0;
    }

    button {
      float: right;
      padding: 5px 10px;
    }
  }

  li {
    padding: 5px 20px;
    border-bottom: 1px solid #EEE;
    position: relative;

    &:hover {
      cursor: pointer;
      background-color: #EEE;
    }

    small {
      font-size: 70%;
      display: block;
      margin-top: 5px;
      @include text-overflow;
    }

    i {
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -13px;
    }
  }
}

#project {
  text-align: center;

  h3 {
    @include text-overflow;
  }

  a {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px dashed #999;
    display: inline-block;
  }
}