{
  "plugins": [
    "cypress"
  ],
  "extends": [
    "plugin:@cypress/dev/tests",
    "plugin:vue/vue3-recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly"
  },
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "mocha/no-global-tests": "off",
    "no-console": "off",
    "vue/multi-word-component-names": "off"
  }
}
