{
  "plugins": [
    "cypress"
  ],
  "extends": [
    "plugin:@cypress/dev/tests"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "mocha/no-global-tests": "off",
    "no-unused-vars": "off",
    "no-console": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
