.prompt {
  .modal-body {
    font-family: $font-title;

    .text-content {
      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
        line-height: 22px;
        margin-top: 14px;

        a {
          font-weight: 500;
        }

        .font-bold {
          font-weight: 600;
        }
      }

      .info-box {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;

        i {
          font-size: 16px !important;
          margin-right: 3px;
        }

        ul {
          padding-left: 16px;
        }
      }
    }

    .button-wrapper {
      justify-content: center;
      display: flex;
      margin-top: 20px;

      button {
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        margin: 0 0.5em 1em;
        padding: 8px 28px;
      }
    }

    .login-content {
      padding: 10px 0 0;

      .button-wrapper {
        margin-top: 0;
      }
    }

    .ci-providers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 18px;
      row-gap: 18px;
      padding-top: 25px;
      padding-bottom: 20px;

      .ci-provider-button {
        display: flex;
        align-items: center;
        background: white;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 4px;
        height: 40px;
        padding: 20px 8px;

        &:hover {
          background: #F0F0F0;
        }

        &:active {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }

        span {
          flex-grow: 1;
          font-weight: 500;
          text-align: left;
          margin-right: auto;
        }
      }

      .see-other-guides {
        text-align: left;

        span {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .dashboard-frame {
      border-radius: 6px;
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
      margin: 20px 30px 30px;

      .frame-title {
        background: #F2F2F2;
        font-size: 11px;
        font-weight: 600;
        padding: 5px 14px;
      }

      .svg-wrapper {
        padding: 20px 16px;
      }
    }
  }

  &.dashboard-prompt {
    .modal-body {
      .text-content {
        h2 {
          margin-bottom: 16px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

