{
  "plugins": [
    "cypress"
  ],
  "extends": [
    "plugin:@cypress/dev/tests"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "mocha/no-global-tests": "off",
    "no-unused-vars": "off",
    "no-console": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
