body {
  margin: 0; 
}
#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header, #footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: silver;
}

html, body {
  margin: 0;
  padding: 0;
}
* {
box-sizing: content-box;
}
.wrapper {
  width: 1500px;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper > div {
  border: 5px solid orange;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background: rgba(233,171,88,.5);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}