@use '../../index.scss' as *;

.nav {
  user-select: none;
  white-space: nowrap;
  overflow: auto;

  > .ul {
    height: 100%; // capture a11y focus
    // don't hide the a11y box outline for the tree
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  &:before {
    display: none;
  }
}

.li.li {
  padding-left: 20px;
}


.ul, .li {
  position: relative;
  list-style: none;
  font-size: $text-s;
  padding: 0;
  line-height: 1.6;
}

.a {
  position: relative;
  color: unset;
  text-decoration: none;
  display: block;
  width: 100%;
  &:hover {
    background: opacify($color: $metal-05, $amount: 0.2);
  }
}

.ul .ul::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 3px;
  bottom: 0;
  top: 0;
  left: calc(1 * (#{$text-xs}));
  background-size: 3px 3px;
  background-image: radial-gradient(#999999 30%, transparent 0);
  background-position: center;
  display: block;
}

.ul .ul {
  margin-inline-start: $text-xs;
}

.folderIcon, .brandIcon {
  margin-right: 0.5em;
}

.isClosed {
  + .ul, + .li {
    display: none;
  }
}

.isSelected, .isSelected:hover {
  background: $chill-10;
}