@import '../lib/variables.scss';

.launch-studio-tooltip {
  background-color: $gray-900;
  border-color: $gray-900;
  min-width: 272px;

  .cy-tooltip-arrow {
    svg {
      fill: $gray-900;
      stroke: $gray-900;
    }
  }
}