.reporter {
  .studio {
    .runnable-instruments {
      padding-left: 5px;
    }

    &.runnable-passed {
      .studio-commands-container {
        display: block;
      }

      .runnable-state {
        @include suite-state-passed;
      }
    }

    &.runnable-pending {
      .runnable-state {
        @include runnable-state-pending;
      }
    }

    &.runnable-failed {
      .runnable-state {
        @include runnable-state-failed;
      }
    }

    .attempt-item > .collapsible {
      margin-right: 10px;
      margin-left: 5px;
    }

    .studio-header {
      font-weight: 800;
      padding: 10px 15px 5px 10px;

      .runnable-title {
        font-size: 14px;
      }
    }

    .studio-commands-container {
      display: none;
      padding: 5px 10px 0 10px;

      .studio-command {
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 3px;
        display: flex;
        font-family: $monospace;
        line-height: 20px;
        margin-bottom: 10px;
        min-height: 20px;

        div {
          padding: 6px;
        }

        .studio-command-number {
          background: #e8e8ec;
        }

        .studio-command-method {
          min-width: 90px;
          text-transform: uppercase;

          .studio-command-get {
            color: #959595;
          }
        }

        .studio-command-message {
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          //&:hover {
          //  white-space: normal;
          //  overflow: visible;
          //  text-overflow: clip;
          //}
        }

        .studio-command-delete a {
          color: #959595;

          &:hover {
            color: #6c6c6c;
          }
        }
      }

      .studio-no-commands {
        animation: flash-border 3s linear infinite;
        border: 2px solid #3386d4;
        color: #959595;
        font-family: $muli;
        font-size: 14px;
        padding: 8px;
        text-align: center;

        .studio-no-commands-message {
          flex-grow: 1;
        }

        .studio-no-commands-icon {
          font-size: 16px;
          margin-right: 10px;
        }
      }

      @keyframes flash-border {
        0%, 100% {
          border-color: #3386d4;
        }

        50% {
          border-color: #f5f5f5;
        }
      }
    }

    .studio-controls {
      display: flex;
      margin: 15px 0 10px;

      button {
        border-radius: 5px;
        font-family: $muli;
        font-size: 12px;
        padding: 6px 20px;

        &:focus {
          outline: none;
        }
      }

      .studio-cancel {
        background-color: #e8e8ec;
        color: #777;

        &:hover {
          background-color: darken(#e8e8ec, 5%);
        }
      }

      .studio-run {
        background-color: #fff;
        margin-left: auto;
        margin-right: 10px;
        color: #3386d4;
        border: 1px solid #3386d4;

        &:hover {
          background-color: #3386d4;
          color: #fff;
        }

        &[disabled],
        &[disabled]:hover,
        &[disabled]:active {
          background-color: #fff;
          border-color: lighten(#3386d4, 10%);
          color: lighten(#3386d4, 10%);
        }
      }

      .studio-save {
        background-color: #3386d4;
        color: #fff;

        &:hover {
          background-color: darken(#3386d4, 10%);
        }

        &[disabled],
        &[disabled]:hover,
        &[disabled]:active {
          background-color: #3386d4;
          opacity: 0.5;
        }
      }
    }
  }
}
