.reporter {
  .studio {
    .runnable-instruments {
      padding-left: 5px;
    }

    &.runnable-passed {
      .studio-commands-container {
        display: block;
      }

      .runnable-state {
        @include suite-state-passed;

        color: #3386d4;
      }
    }

    &.runnable-pending {
      .runnable-state {
        @include runnable-state-pending;
      }
    }

    &.runnable-failed {
      .runnable-state {
        @include runnable-state-failed;
      }
    }

    .attempt-item > .collapsible {
      margin-right: 10px;
      margin-left: 5px;
    }

    .studio-header {
      font-weight: 800;
      padding: 10px 15px 5px 10px;

      .runnable-title {
        font-size: 14px;
      }
    }

    .studio-controls {
      display: flex;
      margin: 20px 10px 10px;

      button {
        border-radius: 5px;
        font-family: $muli;
        font-size: 12px;
        padding: 6px 20px;

        &:focus {
          outline: none;
        }
      }

      .studio-cancel {
        background-color: #e8e8ec;
        color: #777;

        &:hover {
          background-color: darken(#e8e8ec, 5%);
        }
      }

      .studio-save {
        background-color: #3386d4;
        color: #fff;
        margin-left: auto;

        &:hover {
          background-color: darken(#3386d4, 10%);
        }

        &[disabled],
        &[disabled]:hover,
        &[disabled]:active {
          background-color: #3386d4;
          opacity: 0.5;
        }
      }
    }
  }
}
