@use '../../css/semanticColors' as *;
@use '../../css/typography' as *;
@use '../../css/spacing' as *;
@use '../../css/surfaces' as *;
@use '../../css/func' as *;
@use '../../css/util';

$button-vertical-padding: change-rem-unit-to-em(spacing(xs));
$button-horizontal-padding: change-rem-unit-to-em(spacing(s));

.button {
  // Reset
  @include util.no-selection;
  border: 0;
  text-decoration: none;
  cursor: pointer;

  // Style
  padding: $button-vertical-padding $button-horizontal-padding;
  border-radius: $button-radius;

  color: $control-text-color-white;
  background-color: $button-blue-color;

  // TODO: Add custom focus ring

  &:hover {
    background-color: $button-blue-hover-color;
  }

  &:active {
    background-color: $button-blue-push-color;
  }

  &.white {
    color: $control-text-color-black;
    background-color: $button-white-color;

    border: 1px solid $input-border-color;

    &:hover {
      background-color: $button-white-hover-color;
    }
  
    &:active {
      background-color: $button-white-push-color;
    }
  }

  &.disableBorder {
    border: 0;
  }
}