$tooltip-color: #111;
$arrow-size: 5px;

.tooltip {
  background: $tooltip-color;
  border-radius: 3px;
  color: #FFF;
  display: inline-block;
  font-family: $muli;
  font-size: 12px;
  left: 0;
  max-width: 200px;
  padding: 4px 6px;
  text-align: center;
  top: 0;
  z-index: 100;
}

.tooltip-arrow {
  border-color: transparent;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}

.tooltip-top,
.tooltip-top-start,
.tooltip-top-end {
  margin-bottom: $arrow-size;

  .tooltip-arrow {
    bottom: -$arrow-size;
    border-width: $arrow-size $arrow-size 0;
    border-top-color: $tooltip-color;
  }
}

.tooltip-right,
.tooltip-right-start,
.tooltip-right-end {
  margin-left: $arrow-size;

  .tooltip-arrow {
    left: -$arrow-size;
    border-width: $arrow-size $arrow-size $arrow-size 0;
    border-right-color: $tooltip-color;
  }
}

.tooltip-left,
.tooltip-left-start,
.tooltip-left-end {
  margin-right: $arrow-size;

  .tooltip-arrow {
    right: -$arrow-size;
    border-width: $arrow-size 0 $arrow-size $arrow-size;
    border-left-color: $tooltip-color;
  }
}

.tooltip-bottom,
.tooltip-bottom-start,
.tooltip-bottom-end {
  margin-top: $arrow-size;

  .tooltip-arrow {
    top: -$arrow-size;
    border-width: 0 $arrow-size $arrow-size;
    border-bottom-color: $tooltip-color;
  }
}
