**/__snapshots__
/build

# do not lint package.json, it incorrect re-orders the `exports`
# https://github.com/cypress-io/cypress/pull/26630
package.json

# cli/types is linted by tslint/dtslint
/types

# these are all copied from dist'd builds from the individual libs
/angular
/react
/vue
/svelte
/mount-utils