**/__snapshots__
/build

# these are all copied from dist'd builds from the individual libs
/angular
/react
/react18
/vue
/vue2
/svelte
/mount-utils

/types/bluebird/**/*
/types/chai/**/*
/types/chai-jquery/**/*
/types/jquery/**/*
/types/lodash/**/*
/types/minimatch/**/*
/types/mocha/**/*
/types/sinon/**/*
/types/sinon-chai/**/*