types/blob-util
types/bluebird
types/chai
types/chai-jquery
types/jquery
types/lodash
types/mocha
types/minimatch
types/sinon
types/sinon-chai
# copied from net-stubbing package on build
types/net-stubbing.d.ts
# ignore CLI output build folder
build

# ignore packages synced at build-time via
# the sync-exported-npm-with-cli.js script
vue
react*
mount-utils
angular
svelte
