html {
  position: relative;
  height: 100%;

  &.updates {
    background-color: #EDEDED;

    body {
      background-color: #EDEDED;
      margin-bottom: 0;
    }
  }
}

body {
  // background-color: rgba(0,0,0,0);
  margin-bottom: $footer-height;
}