.no-spec { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  .no-spec-content-container { 
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    align-items: center;
    
    a { 
      cursor: pointer;
    }
    
    .no-spec-title { 
      margin-top: 16px;
      margin-bottom: 8px;
    }

    .no-spec-custom-children { 
      margin-top: 32px;
    }
  }

  .keyboard-helper { 
    width: 224px;
    .keyboard-shortcut {
      display: flex;
      margin-top: 8px;
      height: 23px;
      justify-content: space-between;

      .shortcut { 
        display: flex;

        .key {
          display: flex;
          font-family: sans-serif; // display keys symbols correctly
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(255, 255, 255, 0.4);
          height: 23px;
          min-width: 23px;
          margin-right: 4px;
          padding: 0px 4px;
          font-size: 0.8125rem;
          border-radius: 4px;
          pointer-events: none;
          background-color: #ddd;
        }
      }
    }
  }
}