@import "@cypress/design-system/src/index.scss";
@import "../runner-ct-variables.scss";
@import "../../../reporter/src/lib/variables.scss";

$specs-list-offset: 40px; // hoisted to sync with the app-container
$specs-list-padding: 20px;
$nav-width: 40px;

$font-size: 15px;
$box-shadow-closest: 0px 0px 5px rgba(0, 0, 0, 0.4);

$font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;

main.app-ct {
  font-family: $font-family;
  font-size: $font-size;
}

.display-none {
  display: none !important;
}

.menu-toggle {
  z-index: 2;
  :hover {
    cursor: pointer;
  }
}

// Must be globally scoped. Bummer.
$resizerLineSize: 1px;

.Resizer {
  $resize-thickness: 12px;
  background: none;
  transition: background-color 200ms ease-in-out;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
  &:after {
    content: '';
    position: relative;
    display: block;
    background: transparent;
    transition: background 200ms ease;
  }
  &:hover {
    &:after {
      background: $chill-40;
    }
  }

  &.horizontal {
    margin: -($resize-thickness / 2) 0;
    height: $resize-thickness;
    width: 100%;
    cursor: row-resize;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);

    &:after {
      height: $resizerLineSize;
      width: 100%;
    }
  }

  &.vertical {
    margin: 0 -($resize-thickness / 2);
    width: $resize-thickness;
    height: 100%;
    cursor: col-resize;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);

    &:after {
      width: $resizerLineSize;
      height: 100%;
    }
  }

  &.disabled {
    display: none;
  }
}