.warning{
  border-bottom: 2px solid;
  color:#8a6d3b;
  background-color:#fcf8e3;
  border-color:#faebcc;
  padding:15px 20px;
  white-space: pre-wrap;
}

.close{
  float: right;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}