// maximum supported file structure nesting level
$max-nesting-level: 14;

.specs {
  display: flex;
  flex-direction: column;
  width: 100%;

  .empty-well code {
    display: block;
    line-height: 1.8;
    margin-top: 5px;
  }

  header {
    @include themed {
      background-color: themeVar('tertiaryBackground');
      border-color: themeVar('borderLowContrast');
    }
    height: 42px;
    border-bottom: 1px solid
  }

  .search {
    padding: 8px 5px 7px 15px;
    margin-right: 15px;
    display: inline-block;
    position: relative;
    width: calc(100% - 140px);

    label {
      @include themed {
        color: themeVar('textMidContrast');
      }
      position: absolute;
      left: 22px;
      top: 47%;
      max-width: 100%;
      transform: translate(0, -50%);
    }

    .clear-filter {
      @include themed {
        color: themeVar('textLowContrast');
      }
      display: none;
      position: absolute;
      right: 10px;
      text-decoration: none;
      top: 50%;
      transform: translate(0, -50%);
    }

    &.show-clear-filter .clear-filter {
      display: block;
    }

    .filter {
      @include themed {
        background-color: themeVar('tertiaryBackground');
        color: themeVar('textHighContrast');
      }
      padding-left: 30px;
      padding-right: 25px;
      border-radius: 0;
      border: 0;
      border-bottom: 2px solid transparent;
      width: 100%;
      height: 26px;
      line-height: 30px;
      transition: border-color 0.25s ease;

      &::placeholder {
        @include themed {
          color: themeVar('textLowContrast');
        }
      }

      &:focus {
        @include themed {
          background-color: themeVar('tertiaryBackground');
          border-color: themeVar('borderLowContrast');
        }
        outline: none;
        border-bottom: 2px solid;
        box-shadow: none;
      }
    }
  }

  .all-tests {
    @include themed {
      color: themeVar('textLink');
    }
    position: relative;
    display: inline;
    font-size: 13px;
    padding: 5px 10px;

    &:hover, &:focus {
      @include themed {
        color: themeVar('textLinkAction');
      }
      text-decoration: none;
    }

    &.active {
      @include themed {
        color: themeVar('textHighContrast');
      }
      pointer-events: none;
      text-decoration: none;

      &:hover {
        pointer-events: none;
        text-decoration: none;
      }
    }

    i {
      font-size: 10px;
      position: relative;
      top: -1px;
    }
  }

  table tr:first-child td {
    border-top: 0;
  }

  .specs-list {
    @include list-columns(100%);
    margin-bottom: 0;
    overflow: auto;
  }

  .file, .folder {
    .file-name,
    .folder-name {
      display: flex;
      align-items: center;

      i {
        font-size: 13px;
        margin-right: 5px;
        flex-shrink: 0;
      }
    }

    @for $i from 0 through $max-nesting-level {
      &.level-#{$i} {
        .file-name,
        .folder-name {
          padding-left: 20px * $i;
        }
      }
    }
  }

  .folder {
    @include themed {
      color: themeVar('textMidContrast')
    }
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    font-family: $font-sans;

    &.level-0 {
      >div>.folder-name {
        @include themed {
          background-color: themeVar('tertiaryBackground');
          border-color: themeVar('borderLowContrast');
          color: themeVar('textMidContrast');
        }

        padding: 5px 20px;
        font-weight: normal;
        text-transform: uppercase;
        border-bottom: 1px solid;
        line-height: 18px;
        font-family: $font-sans;

        i {
          display: none;
          margin-right: 5px;
        }
      }
    }
  }

  .file > a {
    @include themed {
      color: themeVar('textLink');
      border-color: themeVar('borderLowContrast');
    }
    font-weight: 400;
    border-bottom: 1px dotted;
    padding: 4px 0;
    font-family: $font-sans;
    font-size: 15px;

    &.active {
      @include themed {
        color: themeVar('textHighContrast');
        background-color: themeVar('tertiaryBackground');
      }
      pointer-events: none;
      text-decoration: none;

      &:hover {
        pointer-events: none;
        text-decoration: none;

      }
    }

    &:hover, &:focus {
      @include themed {
        background-color: themeVar('actionBackground');
      }
      cursor: pointer;
      text-decoration: none;
    }
  }

  .list-as-table>.file, .list-as-table>.file>a {
    float: left;
    width: 100%;
  }

  .list-as-table>.file {
    &>div:first-child {
      @include responsive-width(75%);
    }

    &>div:last-child {
      @include responsive-width(25%);
      text-align: right;
    }
  }
}
