/**
* Draws the baseline and toplines for a DOM element
*/
.baseline {
  position: relative;

  &:before {
    content: "";

    position: absolute;

    width: 100%;
    height: 1px;

    top: 0.2em;
    background-color: rgba(red, 0.2);
  }

  &:after {
    content: "";

    position: absolute;

    width: 100%;
    height: 1px;

    bottom: 0.2em;
    left: 0;
    background-color: rgba(red, 0.2);
  }
}