import { mount } from '@cypress/angular'
import { <%= classify(name) %> } from './<%= classify(name) %>.component'

describe('<%= classify(name) %>', () => {
  it('works', () => {
    mount(<%= classify(name) %>)
    // now use standard Cypress commands
    cy.contains('Hello World!').should('be.visible')
  })
})