.reporter {
  .error {
    background-color: #f5f5f5;
    min-height: 20px;
    padding: 24px;

    h2 {
      color: #e94f5f;
      font-size: 1.3em;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 0.6em;

      > i {
        margin-right: 5px;
      }

      a {
        float: right;
      }
    }

    p, ul, ol {
      font-size: 1.1em;
    }

    pre {
      background: #fcf8e3;
      display: block;
      width: 100%;
      white-space: initial;
      overflow: hidden;
      line-height: 1.6;

      code {
        font-family: inherit;
      }
    }

    ul {
      line-height: 1.6;
      margin-bottom: 10px;
      padding-left: 2em;
    }

    ul li {
      list-style: disc
    }

    ol li {
      list-style: decimal;
    }
  }
}

.runnable-err-wrapper {
  margin: 5px 0 5px 5px;
  padding-left: 10px;
  border-left: 1px dotted #DDD;
}

.runnable-err { 
  border-left: 2px solid $fail;
  background-color: $err-background;
  clear: both;
  color: $err-text;
  margin-bottom: 0;
  margin-top: 5px;
  white-space: pre-wrap;
  word-break: break-word;
  user-select: initial;
  overflow: auto;
}

.runnable-err-header {
  display: flex;
  justify-content: space-between;
  background-color: $err-header-background;
  padding: 5px 10px;
  font-weight: bold;
  .runnbale-err-name {
    i {
      font-size: 10px;
      margin-right: 10px;
    }
  }
}

.runnable-err-docs-url {
  a, a:hover, a:focus {
    cursor: pointer;
    color: $err-text;
  }

  i {
    position: relative;
    top: 1px;
    font-size: 10px;
    margin-left: 5px;
  }
}

.runnable-err-code-frame-file-path {
  color: $link-text;
  text-decoration: underline;
}

.runnable-err-message {
  padding: 10px;
  font-family: $monospace;
  color: $err-text;

  code {
    background-color: $err-code-background;
    border-radius: 5px;
    padding: 2px 5px;
  }

  strong {
    color: $err-text;
    font-weight: bold;
  }
}

.runnable-err-stack-expander {
  padding: 0 10px 0 5px;
  padding-bottom: 2px;

  &:hover {
    color: lighten($err-text, 10%);
  }

  .collapsible-header-text {
    text-decoration: underline;
  }

  .collapsible-indicator {
    line-height: 18px;
    color: #eb535e !important;
  }

  .collapsible-more {
    display: none;
  }
}

.runnable-err-stack-trace {
  padding: 10px;
  font-family: $monospace;
}

.test-error-code-frame {
  background-color: #fff;
  border: 1px solid #ffe4e7;
  margin: 10px;

  pre {
    background-color: #fff;
    border: 0; 
  }
}

.runnable-err-code-frame-file-path {
  padding: 3px 10px 0;
}
