#updates-available {
  text-align: center;
  background-color: #D9EDF7;
  position: fixed;
  bottom: 19px;
  width: 100%;
  color: #3A87AD;
  line-height: 26px;
  font-size: 13px;

  strong {
    margin-left: 10px;

    &:hover {
      color: darken(#3A87AD, 15%);
      cursor: pointer;
    }
  }
}

#updates {
  text-align: center;
  padding: 40px 0;
}

html.updates {
  background-color: #ECECEC;
}
