#updates-available {
  text-align: center;
  background-color: #D9EDF7;
  position: absolute;
  bottom: 19px;
  width: 100%;
  color: #3A87AD;
  line-height: 26px;
  font-size: 13px;

  strong {
    margin-left: 10px;

    &:hover {
      color: darken(#3A87AD, 15%);
      cursor: pointer;
    }
  }
}
