#login {
  background-color: #232A34;
  text-align: center;
  padding-top: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #eee;

  h3 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 200;
  }

  p {
    color: #bbb;
  }

  .alert.alert-danger {
    background-color: #e06666;
    border: 0;
    margin: 15px auto 5px;
    width: 350px;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;

    p {
      color: #eee;
    }

    a {
      cursor: pointer;
      color: #eee;
      border-bottom: 1px dashed #fff;
      font-size: 13px;

    }
  }

}

.btn-login {
  line-height: 24px;
  margin-top: 10px;

  &:active, &:focus {
    outline: 0
  }

  i {
    font-size: 18px;
    position: relative;
    top: 1px;
    padding-right: 3px;
  }
}

.login-spinner {
  margin-top: 20px;
}
