$themes: (
  light: (
    brandPrimary: #476fc9,
    background: #fff,
    secondaryBackground: #ececec,
    tertiaryBackground: #f2fefb,
    actionBackground: #f3f3f3,
    selectedBackground: #f2fefb,
    boxShadowStrong: 0 0 3px 0 rgba(0,0,0,0.20),
    boxShadowLight:  0 1px 0 0 rgba(0, 0, 0, 0.04),
    boxShadowDropdown: 0 6px 12px rgba(0, 0, 0, 0.175),
    borderMidContrast: #eee,
    borderLowContrast: #ddd,
    textHighContrast: #555,
    textMidContrast: #636363,
    textLowContrast: #aaa,
    textLink: #476fc9,
    textLinkAction: #38589c,
    btnDefaultBorder: #ccc,
    btnContrast: #fff,
    pass: #08c18d,
    iconGreen: #028863,
    introPreBack: #252831,
    projectDropBack: #F6F7F8,
    projectDropBorder: #e3e4e5,
    projectDropIcon: #d3d6d8,
    projectDropInnerIcon: #fff,
    projectDropP: #939698,
    projectDropDragOver: #F6F7F8,
    projectListRemove: #d3d3d3,
    projectListRemoveHover: #e94f5f,
    selectableItemUnderline: #333,
    folderPreviewPanelBorder: #e9e9e9,
    projectNavBorder: #c8c8c8
  ),
  dark: (
    brandPrimary: #748eca,
    background: #1a1c22,
    secondaryBackground: #1e2128,
    tertiaryBackground: lighten(#1e2128, 1%),
    actionBackground: lighten(#1e2128, 10%),
    selectedBackground: lighten(#1e2128, 5%),
    boxShadowStrong: 0 0 3px 0 rgba(0,0,0,0.80),
    boxShadowLight:  0 1px 0 0 rgba(0, 0, 0, 0.5),
    boxShadowDropdown: 0 6px 12px rgba(0, 0, 0, 0.6),
    borderMidContrast: #777,
    borderLowContrast: #464c5c,
    textHighContrast: #eee,
    textMidContrast: #cacaca,
    textLowContrast: #777,
    textLink: #748eca,
    textLinkAction: #92b3ff,
    btnDefaultBorder: #464c5c,
    btnContrast: #1a1c22,
    pass: #08c18d,
    iconGreen: lighten(#028863, 4%),
    introPreBack: #252831,
    projectDropBack: #272a34,
    projectDropBorder: #51576b,
    projectDropIcon: #464c5d,
    projectDropInnerIcon: #9097ab,
    projectDropP: #aeb2b4,
    projectDropDragOver: #F6F7F8,
    projectListRemove: #d3d3d3,
    projectListRemoveHover: #e94f5f,
    selectableItemUnderline: #ddd,
    folderPreviewPanelBorder: #333,
    projectNavBorder: #333,
    modalBackdrop: #444
  )
);