$themes: (
  light: (
    brandPrimary: #476fc9,
    background: #fff,
    secondaryBackground: #ececec,
    tertiaryBackground: #f2fefb,
    actionBackground: #f3f3f3,
    boxShadowStrong: 0 0 3px 0 rgba(0,0,0,0.20),
    boxShadowLight:  0 1px 0 0 rgba(0, 0, 0, 0.04),
    borderLowContrast: #ddd,
    textHighContrast: #555,
    textMidContrast: #636668,
    textLowContrast: #aaa,
    btnContrast: #fff,
    pass: #08c18d,
    introPreColor: #eee,
    introPreBack: #252831,
    projectDropBack: #F6F7F8,
    projectDropBorder: #e3e4e5,
    projectDropIcon: #d3d6d8,
    projectDropInnerIcon: #fff,
    projectDropP: #939698,
    projectDropDragOver: #F6F7F8,
    projectListBorder: #eee,
    projectListName: #666,
    projectListPath: #8e8e8e,
    projectListHover: #476fc9,
    projectListRemove: #d3d3d3,
    projectListRemoveHover: #e94f5f,
    selectableItemUnderline: #333,
    folderPreviewPanelBorder: #e9e9e9,
    projectNavBorder: #c8c8c8
  ),
  dark: (
    brandPrimary: #748eca,
    background: #1a1c22,
    secondaryBackground: #1e2128,
    tertiaryBackground: lighten(#1e2128, 5%),
    actionBackground: lighten(#1e2128, 10%),
    boxShadowStrong: 0 0 3px 0 rgba(0,0,0,0.20),
    boxShadowLight:  0 1px 0 0 rgba(0, 0, 0, 0.04),
    borderLowContrast: lighten(#1a1c22, 1%),
    textHighContrast: #eee,
    textMidContrast: #cacaca,
    textLowContrast: #777,
    btnContrast: #1a1c22,
    pass: #08c18d,
    introPreColor: #eee,
    introPreBack: #252831,
    projectDropBack: #272a34,
    projectDropBorder: #51576b,
    projectDropIcon: #464c5d,
    projectDropInnerIcon: #9097ab,
    projectDropP: #aeb2b4,
    projectDropDragOver: #F6F7F8,
    projectListBorder: #777,
    projectListName: #a3a3a3,
    projectListPath: #7c7c7c,
    projectListHover: #748eca,
    projectListRemove: #d3d3d3,
    projectListRemoveHover: #e94f5f,
    selectableItemUnderline: #ddd,
    folderPreviewPanelBorder: #333,
    projectNavBorder: #333,
    modalBackdrop: #444
  )
);