.specs-list{
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    header{
        height: 46px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        border-bottom: 1px solid #DDD;
        color: #999999;
    }
    ul{
        margin-left: 10px;
        transition: all .5s;
        overflow: hidden;
        &.group-hidden{
            display: none;
        }
        &.specs-list-container{
            position: absolute;
            left: 0;
            right: 0;
            top: 47px;
            bottom: 0;
            overflow-y: auto;
        }
        ul{
            padding: 2px 0;
            color: #555555;
            margin: 0;
            position: relative;
            li{
                margin-left: 10px;
            }
            
            /** 
             * To achieve the dotted circle line when a directory is expanded, 
             * we cannot rely on a border. Dotted borders are not configurable.
             * Instead we create this background-image gradient 
             * that will have the same effect.
             */
            &:before{
                content: '';
                position: absolute;
                z-index: 1;
                width: 3px;
                bottom: 0;
                top: 0;
                left: 4px;
                background-size: 3px 3px;
                background-image: radial-gradient(#999999 30%, transparent 0);
                background-position: center;
            }
        }
    }
    i {
        margin-right: 10px;
        font-size: 12px;
        background-color: #FFF;
        color:#999999;
        &.active{
            color: #4299E1;
        }
    }
    li {
        padding: 10px 7px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:first-child{
            padding-top: 20px;
        }
    }

    
}