.cy-draw__wrapper {
  width: 300px;
  height: 300px;
}

#cy-draw__main--canvas, #cy-draw__temp--canvas {
  position: absolute;
}

#cy-draw__main--canvas {
  /* border: 2px solid red; */
}

#cy-draw__temp--canvas {
  /* border: 1px solid green; */
}
