.footer {
  align-items: center;
  background-color: #252831;
  border-top: 1px solid #0E0F10;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
  color: #eee;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 13px;
  justify-content: flex-end;
  letter-spacing: 0.5px;
  padding: 0 0 0 1.2em;

  button {
    background: none;
    border: none;
    border-radius: 0;
    color: #eee;
    padding: 0.6em 1.2em;

    &:hover,
    &:focus {
      background: #4c4e63;
      color: #fff;
    }
  }

  .version {
    align-items: center;
    align-self: stretch;
    border-right: solid 1px #4d4d64;
    display: flex;
    padding: 0 1.2em;

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
      background: none;
      color: #eee;
      cursor: default;
    }
  }

  .update-indicator {
    color: #3f7fd9;
    display: none;
    font-size: 1.3em;
    margin-right: 0.4em;
  }

  &.update-available {
    .update-indicator {
      display: inline-block;
    }
  }
}
