
//colors
$black: #000;

$white: #fff;
$white-90: rgba(255,255,255,0.9);
$white-80: rgba(255,255,255,0.8);
$white-60: rgba(255,255,255,0.6);

$color-gray: #999;
$color-default: #595d6b;
$color-border: #e3e3e3;
$color-link: #3B94D9;
$color-link-hover: #0369b3;
$color-background: #24262F;

$highlight-background:    #f7f7f7;
$highlight-current-line:  #efefef;
$highlight-selection:     #d6d6d6;
$highlight-foreground:    #4d4d4c;
$highlight-comment:       #8e908c;
$highlight-red:           #c82829;
$highlight-orange:        #f5871f;
$highlight-yellow:        #eab700;
$highlight-green:         #718c00;
$highlight-aqua:          #3e999f;
$highlight-blue:          #4271ae;
$highlight-purple:        #8959a8;

// Typography
$font-sans: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: Garamond, Georgia, "Times New Roman", serif;
$font-mono: Consolas, Monaco, 'Andale Mono', monospace;
$font-title: "Fira Sans", font-sans;
$font-size: 16px;
$line-height: 1.7em;

// Layout
$max-width: 1400px;
$gutter-width: 30px;
$sidebar-width: 260px;
$mobile-nav-width: 260px;

// Media queries
$mq-mobile: "screen and (max-width: 768px)";
$mq-normal: "screen and (min-width: 769px)";
$mq-tablet: "screen and (min-width: 480px)";
