
//colors
$black: #000;

$white: #fff;
$white-90: rgba(255,255,255,0.9);
$white-80: rgba(255,255,255,0.8);
$white-60: rgba(255,255,255,0.6);

$red: #f00;

$color-gray: #999;
$color-default: #595d6b;
$color-border: #e3e3e3;
$color-link: #3B94D9;
$color-link-hover: #0369b3;
$color-background: #24262F;

$color-gallery: #eee;
$color-alto: #ddd;
$color-pink-swan: #bbb;

$color-outer-space: #283542;
$color-yellow-sea: #fa0;
$color-emperor: #4d4d4c;
$color-stack: #8e908c;
$color-persian-red: #c82829;
$color-carrot-orange: #f5871f;
$color-limeade: #149c6a;
$color-boston-blue: #3e999f;
$color-san-marino: #4271ae;
$color-trendy-pink: #8959a8;

// Typography
$font-sans: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: Garamond, Georgia, "Times New Roman", serif;
$font-mono: Consolas, Monaco, 'Andale Mono', monospace;
$font-title: "Fira Sans", font-sans;
$font-size: 16px;
$line-height: 1.7em;

// Layout
$max-width: 1300px;
$gutter-width: 30px;
$sidebar-width: 260px;
$mobile-nav-width: 260px;

// Media queries
$mq-mobile: "screen and (max-width: 768px)";
$mq-normal: "screen and (min-width: 769px)";
$mq-tablet: "screen and (min-width: 480px)";
