body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}



/*-------Headers---------*/

.theme-solid .docs-header h1 {
  font-size: 2em;
}

.docs-content [marked] h1 {
  font-size: 1.6em;
  text-transform: none;
}

.blocks-parent .block>div>div [marked] h1:first-child {
  margin-top: 1em;
}

.docs-content [marked] h2 {
  font-size: 1.2em;
  text-transform: none;
  margin-bottom: 1em;
}

.theme-solid .sidebar-nav h4 {
  font-weight: bold;
  font-size: 0.75em;
  color: #ccc;
}

/*-------Contents UL---------*/

.blocks-parent .block>div>div [marked] h1:first-child + ul {
  list-style-type: none;
  padding-left: 0.25em;
}

.blocks-parent .block>div>div [marked] h1:first-child + ul>li i {
  color: #0094ff;
  margin-right: 0.25em;
}

.blocks-parent .block>div>div [marked] h1:first-child + ul>li>ul {
  list-style-type: none;
  padding-left: 1.5em;
  font-size: 0.95em;
}

/*-------Images---------*/

.docs-content [marked] p img {
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px #eee;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*-------HR---------*/

.docs-content .docs-body hr {
  margin-top: 3em;
  margin-bottom: 1em;
}

/*-------Code tags/variable colors---------*/

.cm-s-neo .cm-variable {
  color: #333;
}
.cm-s-neo .cm-property {
  color: #795da3;
}

.cm-s-new .cm-string {
  color: #183691;
}

.cm-s-neo .cm-comment {
  color: #999;
}

.cm-tag {
  color: #63a35c;
}

.cm-s-neo .cm-string {
  color: #183691;
}

.cm-s-neo .cm-qualifier {
  color: #795da3;
}

.cm-tag.cm-bracket {
  color: #333;
}

/*-------Code styles---------*/

.block-show-code {
  padding: 0;
  margin-bottom: 0;
}

.block-show-code .code-tabs a {
  color: #aaa;
  font-size: 0.90em;
}

.block-show-code .code-tabs a:hover {
  color: #aaa;
}

.block-show-code pre {
  margin-top: 0;
  margin-bottom: 16px;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  overflow: auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 0 0 #fff;
  padding: 15px;
  font-size: 1em;
}

.block-show-code pre>code {
  padding: 0;
  margin: 0;
  font-size: 1em;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

a>code {
  color: #0094ff;
}

.theme-solid .sidebar-nav ul {
  font-size: 0.90em;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

code:before,
code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.block-show-code pre {
  padding: 16px;
  overflow: auto;
  font-size: 0.85em;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 0;
  margin-bottom: 0;
  word-break: normal;
  word-wrap: normal;
}


.block-show-code pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.block-show-code pre code:before,
.block-show-code pre code:after {
  content: normal;
}
