.dropdown {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &>a.disabled {
    pointer-events: none;
    opacity: 0.65;
  }
}

.dropdown-caret {
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-width: 5px 5px 0;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

.dropdown-menu {
  @include themed {
    background-color: themeVar('background');
    border-color: themeVar('borderLowContrast');
    box-shadow: themeVar('boxShadowDropdown');
  }
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 2px;
  font-size: 14px;
  display: none;
  float: left;
  left: 0;
  margin: 0;
  min-width: 160px;
  padding: 0;
  position: absolute;
  top: 100%;
  list-style: none;
  text-align: left;
  z-index: 2000;

  .open & {
    display: block;
  }

  li {
    &:last-of-type {
      border-bottom: 0;
    }

    &:hover,
    &:focus,
    &:active {
      @include themed {
        background-color: themeVar('actionBackground');
      }
      cursor: pointer;
    }

    &>span, &>a {
      @include themed {
       color: themeVar('textHighContrast');
      }
      cursor: pointer;
      display: block;
      font-weight: normal;
      line-height: 1.8;
      padding: 3px 20px;
      white-space: nowrap;
    }
  }
}
