$icon-margin: 0.15em;
$icon-bottom-offset: 0.125em;

$icon-size: 1em - $icon-margin * 2;

:global(.svg-inline--fa) {
  // TODO: Is there ever a need for the icon to not take a square space as long as it's properly centered?
  &.icon {
    position: relative;

    width: $icon-size;
    height: $icon-size;

    bottom: $icon-bottom-offset;
  }

  &.ignoreTextCenter {
    width: 1em;
    height: 1em;

    bottom: auto;
  }

  &.sizeWithoutCenter {
    bottom: auto;
  }
}
