@forward '@cypress/design-system/src/index.scss';
@use '@cypress/design-system/src/index.scss' as *;

$border-color: $metal-20;

$reporter-background-color: white;
$spec-list-background-color: white;
$left-nav-background-color: $metal-05;

$resizer-hover-color: $chill-40;

$aut-background-color: white;
$aut-drop-shadow: $shadow-md;

/**
 * Utility mixins
 */
@mixin checkerboard() {
  $checkerBoardColor: $metal-05;
  background-image: linear-gradient(45deg, $checkerBoardColor 25%, transparent 25%), linear-gradient(-45deg, $checkerBoardColor 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $checkerBoardColor 75%), linear-gradient(-45deg, transparent 75%, $checkerBoardColor 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

/**
 * Utility classes
 */

.display-none {
  display: none !important;
}