#builds {
  bottom: 18px;
  top: 77px;
  position: fixed;
  overflow: auto;
  margin-bottom: 0;
  width: 100%;

  h5 {
    margin-top: 20px;
    overflow: hidden;
    line-height: 19px;
    padding: 0 20px;
  }
}

#builds-list-page {
  bottom: 18px;
  top: 77px;
  position: fixed;
  overflow: auto;
  margin-bottom: 0;
  width: 100%;
}

.first-build-instructions {
  padding: 50px 200px;

  h4, .center {
    text-align: center;
  }

  pre {
    background-color: #fcfcfc;
    border: 1px solid #e9e9e9;
    border-radius: 0;
    color: #555;
  }
}

.builds {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 18px;
  top: 77px;
  background-color: white;
  clear: both;
  border: 1px solid #eee;
  border-top: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;

  header {
    align-items: center;
    background-color: #e9e9e9;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    flex-shrink: 0;
    font-size: 0.8em;
    justify-content: flex-end;
    padding: 0.4em;

    .last-updated {
      color: #a3a3a3;
      margin-right: 1em;
    }

    button {
      color: #777;
      padding: 0.1em 0.3em;

      &[disabled]:hover,
      &[disabled]:focus {
        color: #777;
      }
    }
  }
}

.builds-list-container {
  overflow: auto;
  padding-bottom: 1em;

  footer {
    background: none;
    display: flex;
    height: auto;
    justify-content: space-between;
    position: static;

    a {
      display: none;
    }
  }

  &.has-newer .newer-builds,
  &.has-older .older-builds {
    display: block;
  }
}

.builds-list {
  @include list-columns(2%, 5%, 30%, 16%, 14%, 6%, 8%, 10%, 9%);
  margin-bottom: 0;

  > li {
    overflow: auto;
    clear: both;
    border-bottom: 1px solid #eeeeee;
    vertical-align: top;
    position: relative;
    width: 100%;
    font-size: 12px;
    color: #898A8B;

    &:hover {
      background-color: #f8f8f8;
      cursor: pointer;
    }

    > div > div {
      padding: 10px 20px;
      font-weight: 500;
    }

    .os-block {
      padding-right: 0;
    }

    > div:first-child {
      border-left: 5px solid #eee;
      min-height: 62px;

      &.errored {
        border-left-color: #F5A327;
        .fa { color: #F5A327;}
      }

      &.failed {
        border-left-color: #ec6573;
        .fa { color: #ec6573;}
      }

      &.noTests {
        border-left-color: #F5A327;
        .fa { color: #F5A327;}
      }

      &.passed {
        border-left-color: #1CB77E;
        .fa { color: #1CB77E;}
      }

      &.running {
        border-left-color: #428BCA;
        .fa { color: #428BCA;}
      }

      &.overLimit {
        border-left-color: #F5A327;
        .fa { color: #F5A327;}
      }

      &.timedOut {
        border-left-color: #F5A327;
        .fa { color: #F5A327;}
      }
      &>div {
        padding-right: 0;
        padding-left: 10px;
      }
    }

    > div:nth-child(2) > div {
      padding-right: 0;
      padding-left: 10px;
      font-weight: 500;
      color: #666;
    }
  }

  .td-border-left {
    border-left: 1px solid #eee;
    min-height: 62px;
  }

  .msg {
    font-weight: 300;
    padding-left: 3px;
  }

  .user {
    font-weight: 600;
    margin-left: 3px;
  }

  .fa-user {
    color: #bbb;
  }
}

.setup-project-modal {
  .validation-error {
    display: none;
    clear: both;
    margin-left: 25%;
    padding-top: 4px;
    padding-left: 15px;
  }

  .has-error .validation-error {
    display: block;
  }

  .form-group.has-error {
    margin-bottom: 0;
  }

  .error {
    background: #f2dede;
    border: solid 1px #a94442;
    border-radius: 3px;
    color: #a94442;
    margin-bottom: 1em;
    padding: 0.4em 0.6em;
  }

  .actions button {
    position: relative;

    i {
      display: none;
      position: absolute;
      left: 50%;
      margin-top: 2px;
      margin-left: -5px;
    }
  }

  &.is-submitting .actions button {
    span {
      visibility: hidden;
    }

    i {
      display: inline-block;
    }
  }
}
