#builds {
  bottom: 18px;
  top: 77px;
  position: fixed;
  overflow: auto;
  margin-bottom: 0;
  width: 100%;

  h5 {
    margin-top: 20px;
    overflow: hidden;
    line-height: 19px;
    padding: 0 20px;
  }
}

#builds-list-page {
  bottom: 18px;
  top: 77px;
  position: fixed;
  overflow: auto;
  margin-bottom: 0;
  width: 100%;
}
