.footer {
  background-color: #252831;
  border-top: 1px solid #0E0F10;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
  color: #eee;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 11px;
  letter-spacing: 0.5px;
  padding: 2px 5px;

  p {
    margin: 0;
  }

  a {
    color: #eee;

    &:hover {
      color: #fff;
    }
  }
}
