.prompt {
  .modal-content {
    background: $navbar-inverse-color;
  }

  .modal-body {
    font-family: $font-poppins;
    padding-left: 20px;
    padding-right: 20px;

    .close {
      top: 0;
    }

    .text-content {
      p, ul {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
      }

      h2 {
        color: $brand-success;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin: 5px 0 10px;
      }

      ul {
        margin-top: 0;
        padding-left: 24px;
      }

      .text-bold {
        font-weight: 600;
      }
    }

    .prompt-buttons {
      text-align: center;

      button {
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;
        padding: 8px 28px;
      }

      .login-content {
        padding: 0;

        button {
          margin: 0 auto;
        }
      }
    }

    .ci-providers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 14px;
      row-gap: 14px;
      padding: 15px 0;

      .ci-provider-button {
        display: flex;
        align-items: center;
        background: white;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 4px;
        height: 40px;
        padding: 20px 8px;

        &:hover {
          background: #F0F0F0;
        }

        &:active {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }

        span {
          flex-grow: 1;
          font-weight: 500;
          text-align: left;
          margin-left: 8px;
        }
      }

      .see-other-guides {
        text-align: left;

        span {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .dashboard-frame {
      background: #082336;
      border-radius: 6px;
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
      margin: 20px 10px 25px;

      .frame-title {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        padding: 15px 20px 0;
      }

      .svg-wrapper {
        padding: 5px 15px 20px;
      }
    }
  }
}

