.block-panel {
  margin-bottom: 40px;
  padding: 20px 20px;
  background: #FFF;
  border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);

  h3,h4 {
    margin-top: 0;
  }
}