.cy-main-content .empty-onboarding {
  margin: 50px auto 0;
  max-width: 650px;
  overflow: auto;

  h1 {
    text-align: center;
    color: $pass;
    font-size: 28px;
    margin: 60px 0 30px;
  }

  img {
    text-align: center;
    margin: 40px auto;
  }

  p {
    font-size: 17px;
    line-height: 28px;

    a {
      border-bottom: 1px dotted lighten($brand-primary, 30%);
    }

  }

  .folder-preview-onboarding {
    background-color: #f6f6f6;
    padding: 20px 50px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
    margin: 40px auto;

    ul {
      list-style-type: none;
      font-size: 16px;

      &>li {
        position: relative;
        margin: 7px 0;

        &:before {
          content: "";
          position: absolute;
          border-bottom: 3px solid #cdd1d9;
          top: 9px;
          width: 3px;
          left: -16px;
        }



        &.app-code {
          color: #aaa;
          font-style: italic;
        }

        &.new-code {
        }

        &>ul {
          margin-left: 20px;
        }
      }

    }

    ul:first-child>li:before {
      border: 0;
    }

    ul:first-child>li>ul>li>ul>li:after {
      content: "";
      position: absolute;
      border-bottom: 3px solid #cdd1d9;
      top: 9px;
      width: 3px;
      left: -35px;
    }
  }
}

.helper-line {
  text-align: center;
  color: #cdd1d9;
  font-weight: bold;

  a {
    display: block;
    font-size: 16px;
    margin: 35px 0;
  }

  &>span {
    display: inline-block;
    position: relative;
    font-size: 14px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #cdd1d9;
      top: 50%;
      width: 100px;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }

  }

}