#header-container {
  background-color: #3C3E43;
  padding-left: 20px;
  overflow: auto;
  height: 50px;

  #stats-container {
    min-width: 330px;
    padding: 0;
    float: left;
    height: 100%;
    margin-bottom: 0;

    li {
      list-style-type: none;
      float: left;
      margin: 0 10px;
      padding-top: 6px;
      padding-bottom: 3px;
      font-weight: 300;
      height: 100%;

      &#tests-passed {
        i {
          color: #23AE89;
        }
      }

      &#tests-failed {
        i {
          color: #E94B3B;
        }
      }

      &#tests-pending {
        i {
          color: #428BCA;
        }
      }

      span {
        color: #ccc;
      }
    }

    #tests-duration {
      // background-color: #d5d5d5;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  #chosen-runnable {
    position: relative;
    top: 6px;

    .uppercase {
      font-size: 10px;
      display: block;
    }

    label {
      cursor: pointer;
    }
  }
}