.cy-main-content {
  background-color: #F6F6F6;
  color: inherit;
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
  margin-top: 50px;
  float: left;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;

  h1 {
    color: #262a2f;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
  }

  h2 {
    color: #69727e;
    font-size: 18px;
    font-weight: 500;
  }

  h3 {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: bold;
  }

  hr {
    clear: both;
  }

}