.cy-main-content {
  background-color: #F6F6F6;
  color: inherit;
  font-size: 13px;
  font-weight: 200;
  line-height: 21px;
  padding: 0 30px;
  margin-top: 0;
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

  h1 {
    line-height: 1.3em;
  }
}