.cy-main-content {
  background-color: #F6F6F6;
  color: inherit;
  font-size: 13px;
  font-weight: 200;
  line-height: 21px;
  margin-top: 50px;
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

  h1 {
    color: #262a2f;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
  }
}