#cy-wrapper {
  &.collapsed {
    #cy-sidebar {
      width: 55px;

      .logo {
        display: none !important;
      }

      .cy-vnavigation {
        li span {
          display: none;
        }
      }
    }
  }

  #cy-sidebar {
    -webkit-transition: width 0.05s ease;
    transition: width 0.05s ease;
    width: 200px;
    background: #272930;
    z-index: 2;
    position: absolute;
    vertical-align: top;
    padding-bottom: 49px;
    height: 100%;

    .cy-vnavigation {
      margin: 0;
      padding: 0;
      border-top: 1px solid #1a1c20;
      // border-bottom: 1px solid #2f323a;

      li {

        a {
          border-top: 1px solid #32353e;
          border-bottom: 1px solid #1a1c20;
          display: block;
          padding: 14px 18px 13px 15px;
          color: #bbbaba;
          font-size: 12px;
          font-weight: 300;
          white-space: nowrap;


          &:hover {
            background-color: #2a2c34;
          }

          i {
            text-align: center;
            width: 20px;
            font-size: 14px;
          }

          span {
            margin-left: 7px;
            display: inline-block;
            letter-spacing: 0.5px;
          }
        }

        &.active > a {
          background-color: darken(#272930, 2%);
          border-top: 1px solid #1A1C20;
        }
      }
    }

    .collapse-container {
      padding: 7px 13px 7px 9px;
      background: #1F2126;
      bottom: 0;
      border-top: 1px solid #131519;
      box-shadow: 0 1px 0 #2A2C31 inset;
      overflow: hidden;

      img {
        width: 32px; height: 32px;
      }

      .logo {
        text-align: left;
        display: inline-block;
        font-size: 200%;
        color: #9A9A9f;
      }

      button {
        margin: 0 !important;
        background: transparent;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 2px;

        &:hover {
          background: #23252A;
        }

        i {
          color: #9a9aaa;
        }
      }
    }

    #cy-test-panels {
      position: absolute;
      bottom: 0;
      width: 100%;

      li.active {

        a {
          box-shadow: 1px 2px 5px darken(#22242A, 3%) inset;
          border-top: 1px solid #191919;
          border-left: 0;
          background-color: #22242A;
        }
      }
    }
  }
}