// this file is used when developing the reporter in isolation via cypress tests
// if you update this file, also update main-runner.scss
@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/fonts';
@import 'lib/base';
@import 'lib/tooltip';
@import 'lib/shared';
@import '../../../node_modules/@reach/dialog/styles.css';
@import '../../ui-components/src/file-opener/file-opener';
// import all other scss files in src except if they are in lib 
// or their file name is `selecor-playground` or `main`
// NOTA: no need to import scss files in their components
@import '../../reporter/src/!(lib)*/**/!(main)*.scss';
