// this file is imported by the runner's main.scss
// if you update this file, also update main.scss
@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/base';
@import 'lib/tooltip';
@import './!(lib)*/**/*';

/* Used to provide additional context for screen readers */
.visually-hidden { 
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}