.reporter {
  .collapsible-content {
    display: none;
  }

  .is-open > .collapsible-content {
    display: block;
  }

  .collapsible-indicator {
    margin-right: 8px;
    transform: rotate(-90deg);
    transition: transform 150ms ease-out;
  }

  .is-open > .collapsible-header-wrapper > .collapsible-header > .collapsible-header-inner > .collapsible-indicator {
    transform: rotate(0);
  }
}
