  .commands-container {
    font-family: $monospace;
    min-width: $reporter-contents-min-width;
    padding: 0;

    &:empty {
      display: none;
    }
  }

  .cmd {
    cursor: default;
    margin: 0;
  }

  .cmd-wrapper {
  background-color: #171926;
  color: #afb3c7;
  cursor: pointer;
  display: flex;
  min-height: 20px;
  word-break: break-word;

  &:hover {
    background-color: $gray-900;
  }
}
.cmd-column {
  display: flex;
  width: 50px;

  .cmd-number {
    display: 'inline-block';
    width: 25px;
  }

  .cmd-expander-container {
    text-align: center;
    padding-right: 2px;
    width: 25px;

    .cmd-expander {
      transform: rotate(-90deg);
      transition: transform 150ms ease-out;

      .icon-dark {
        stroke: $gray-800;
      }
    }

    .cmd-expander-is-open {
      transform: rotate(0deg);
    }
  }
}

.cmd-details {
  display: inline-flex;
  
  .cmd-method {
    padding: 1px 2px 0;
    // display: inline-block;
    font-size: 11px;
    min-width: 80px;
    font-weight: 600;
    // color: $gray-200;
  }

  .cmd-message {
    // flex-grow: 2;
    margin-left: 0;
    overflow: hidden;
    // white-space: nowrap;

    p {
      // align-items: center;
      display: inline;
    }
  }
}

.cmd-child-group {
  margin-left: 15px;
}


// States

.cmd-state-pending {

}

.cmd-state-failed {
  
}


.command-is-pinned {
  background: $indigo-1000;
  border-left: 2px solid $pinned;

  &,
  &:hover {
    box-shadow: 0 1px 2px rgba($black, 0.2) inset;
  }

  &:hover {
    background: $indigo-900;
  }

  .cmd-wrapper-text {
    padding-left: 3px;

    .cmd-pin {
      color: $pinned;

      .icon-light {
        fill: $purple-700;
      }
    }
  }
}


// specific commands


.cmd-name-assert {
  .cmd-method {
    span {
      border-radius: 2px;
      padding: 0 3px;
      font-size: 11px;
      display: inline-block;
      line-height: 14px;
    }
  }

  .cmd-message {
    color: $gray-200;

    strong {
      font-weight: 600;
      margin: 0 3px;
    }
  }

  // .cmd-message-text {
  //   white-space: normal;
  // }

  &.cmd-state-pending {
    .cmd-method {
      span {
        background-color: $pending;
        color: $black;
      }
    }
    .cmd-message {
      color: $pending;

      strong {
        color: $indigo-300;
      }
    }
  }

  &.cmd-state-failed {
    .cmd-method {
      span {
        background-color: $fail;
        color: $black;
      }
    }
    .cmd-message {
      color: $fail;

      strong {
        color: $red-300;
      }
    }
  }

  &.cmd-state-passed {
    .cmd-method {
      color: $pass;

      span {
        background-color: $pass;
        color: $black;
      }
    }
    .cmd-message {
      color: $jade-300;

      strong {
        color: $jade-200;
      }
    }
  }
}