.alert {
  border-radius: 0;
  margin-bottom: 40px;
  position: relative;

  &>ul {
    padding-left: 20px;
  }

  .btn-sm {
    margin-top: 10px;

    + .btn-sm {
      margin-left: 5px;
    }
  }

  .header {
    margin-bottom: 10px;
  }

  &.alert-dismissable .close, &.alert-dismissible .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &.error p {
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-word;
  }
}

.full-alert-container {
  align-items: center;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  overflow: auto;
  padding: 30px 60px;
}

.full-alert {
  // `margin: auto` fixes issue with flexbox vertically-centered element + oveflow
  // https://stackoverflow.com/questions/33454533/cant-scroll-to-top-of-flex-item-that-is-overflowing-container
  margin: auto;
  overflow: auto;
  padding: 20px;
  text-align: center;

  .alert-content {
    text-align: left;

    p {
      line-height: 1.5;
    }
  }

  code, pre {
    background-color: #f9f2f4;
    color: #a94442;
    border: none;
  }

  code {
    padding: 1px 4px;
  }

  pre {
    max-height: 200px;
    overflow: auto;
  }

  summary {
    cursor: pointer;
    outline: none;
  }

  summary:focus {
    text-decoration: underline;
  }
}

.global-error {
  left: 0;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 2000;
}

.project-content .alert-warning {
  border-bottom: 1px solid #ddd;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;

  .retry-button {
    font-size: 12px;
    position: unset;
    top: unset;
    right: unset;

    i {
      margin-right: 0.5em;
    }
  }

  code, pre {
    border: none;
    color: #8a6d3b;
  }
}

.project-content .alert-warning,
.global-error {
    margin-bottom: 0;

    button {
      font-size: 1em;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
