.empty, .well-message {
  text-align: center;

  p {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 10px;
  }
}

.empty-no-runs, .empty-log-in {
  h4 {
    color: #272B2F;
    font-family: $font-title;
    font-size: 24px;
  }

  h5 {
    color: #272B2F;
    font-family: $font-title;
    font-size: 18px;
    font-weight: 400;
  }

  p {
    font-size: 11px;
    margin-top: 10px;
    color: #272B2F;
    font-weight: 200;
  }
}

.empty-no-api-server {
  padding: 40px 100px 20px;
}

.empty-runs-not-displayed {
  margin-top: 125px;
}

.empty-projects {
  margin-top: 215px;
}

.empty-well {
  padding: 25px 50px;
  margin: 30px;
  text-align: center;
  font-style: italic;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px dashed #ddd;

  code:hover {
    text-decoration: none !important;
    cursor: pointer;
    color: #b91942;
  }
}
