.empty, .well-message {
  text-align: center;

  p {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 10px;
  }
}

.empty-no-runs {
  margin-top: 70px;
}

.empty-no-api-server,
.empty-log-in {
  padding: 40px 100px 20px;
}

.empty-runs-not-displayed {
  margin-top: 125px;
}

.empty-projects {
  margin-top: 215px;
}

.empty-well {
  padding: 25px 50px;
  margin: 30px;
  text-align: center;
  font-style: italic;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px dashed #ddd;

  code:hover {
    text-decoration: none !important;
    cursor: pointer;
    color: #b91942;
  }
}
