.empty, .well-message {
  text-align: center;

  p {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 10px;
  }
}

.empty-no-runs {
  h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #000;
  }

  .empty-no-runs-banner {
    background-color: #311C56;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 185px;
    position: relative;
    overflow: hidden;

    .left-vector {
      z-index: 900;
      position: absolute;
      width: 250px;
      height: 225px;
      left: -100px;
      bottom: -140px;
      border-radius: 100px;

      background-color: #3d2665;
      transform: matrix(-0.97, -0.08, 0.24, -1, 0, 0);
    }

    .right-vector {
      z-index: 900;
      position: absolute;
      width: 250px;
      height: 225px;
      right: -65px;
      top: -100px;
      border-radius: 100px;

      background-color: #3d2665;
      transform: matrix(0.42, 0.82, -1.09, 0.18, 0, 0);
    }
  }

  .empty-no-runs-banner-db {
    z-index: 1000;
    background-color: #fff;
    width: 600px;
    margin: 0 auto;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .empty-no-runs-test {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    color: #888B91;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #f4f5f7;
    font-size: 11px;

    i {
      padding-right: 8px;
    }

    &:first-of-type {
      border-top-left-radius: 3px;
    }

    .test-title-top {
      margin-bottom: 4px;
      display: flex;
    }

    .test-title-bottom {
      display: flex;
      margin-left: 20px;
    }

    .fake-text {
      background-color: #E0E0E0;
      height: 6px;
      border-radius: 1px;
      margin-right: 6px;
      margin-top: 3px;
    }

    .empty-no-runs-test-title {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      padding-right: 100px;

      i {
        margin-top: 3px;
      }
    }

    &.pass {
      border-left: 5px solid #48996b;

      .empty-no-runs-test-title {
        color: #48996b;
      }
    }

    &.fail {
      border-left: 4px solid #DB7177;

      .empty-no-runs-test-title {
        color: #DB7177;
      }
    }
  }

  .empty-no-runs-test-mid, .empty-no-runs-test-end {
    display: flex;
    flex-direction: row;
  }

  .empty-no-runs-details {
    text-align: left;
    margin: 15px auto 0; 
    width: 440px;
  }

  ul {
    color: #272B2F;
    padding-left: 25px;
    font-size: 13px;
  }

  h5 {
    color: #272B2F;
    font-size: 15px;
  }

  p {
    font-size: 11px;
    margin-top: 10px;
    color: #272B2F;
    font-weight: 200;
  }
}

.empty-no-api-server,
.empty-log-in {
  padding: 40px 100px 20px;
}

.empty-runs-not-displayed {
  margin-top: 125px;
}

.empty-projects {
  margin-top: 215px;
}

.empty-well {
  padding: 25px 50px;
  margin: 30px;
  text-align: center;
  font-style: italic;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px dashed #ddd;

  code:hover {
    text-decoration: none !important;
    cursor: pointer;
    color: #b91942;
  }
}
