.modal {
  display: block;
}

.modal-dialog {
  width: 550px;
}

.close {
  position: relative;
  top: 5px;
  &:hover, &:focus, &:active {
    cursor: pointer;
  }
}

.modal-body.os-dialog {
  @include themed {
    background-color: themeVar('background')
  }
  border-radius: 10px;
  padding: 15px 30px;

  .no-left-padding {
    padding-left: 0;
  }

  hr {
    @include themed {
      border-color: themeVar('borderLowContrast')
    }

    border-top: 1px solid;
  }

  form .control-label {
    padding-right: 0;
  }
}

.manage-orgs-btn {
  padding: 6px 0;
}

.checkbox small {
  @include themed {
    color: themeVar('textMidContrast');
  }
  font-size: 11px;
  clear: both;
  display: block;
}
