!.*
**/node_modules
test/_test-output
cypress/tests/e2e/compile-error.js
test/fixtures
examples/react-app/src
examples/react-app/node_modules
examples/react-app/build
examples/react-app/package.json
examples/react-app/cypress/integration/dynamic-import-spec.js
# contains nullish operator
examples/use-babelrc/cypress/integration/spec.js
dist
tsconfig.json
.vscode/
.history
