.runner {
  header {
    background-color: #f8f8f8;
    box-shadow: 0 1px 3px #ccc;
    color: #888;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    line-height: 22px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .sel-url-wrap {
    display: flex;
    flex-grow: 2;
  }

  .selector-helper-toggle-tooltip-wrapper {
    display: flex;
  }

  .selector-helper-toggle {
    background: none;
    border: none;
    color: #4f4f4f;
    cursor: pointer;
    border-radius: 0;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    margin-right: 5px;
    outline: 0;
    padding: 10px 16px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;

    &:focus {
      background: none;
    }

    &:hover {
      background: #e9e9e9;
    }

    &:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
      background: none;
      box-shadow: none;
      color: #999;
    }
  }

  .showing-selector-helper {
    .selector-helper {
      display: block;
    }

    .selector-helper-toggle {
      background-color: #fff;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
  }

  .selector-helper {
    border-top: solid 1px #e3e3e3;
    background-color: #fff;
    display: none;
    padding: 5px 8px;
    position: relative;
    width: 100%;
    color: #565554;

    .selector {
      font-size: 1em;
      align-items: center;
      display: flex;
      position: relative;
    }

    .selector,
    .selector-input,
    .info .spacer {
      font-family: $font-mono;
    }

    .wrap {
      align-items: center;
       // needs a background to hide the copy-to-clipboard backer input
      background: #fff;
      display: flex;
      padding: 0 6px;
    }

    .syntax-object { color: #e45649; }
    .syntax-operator { color: #383a42; }
    .syntax-method { color: #6478f2; }
    .syntax-string { color: #50a160; }

    .selector-input {
      input {
        border: 0;
        color: #428BCA;
        max-width: 100%;
        min-width: 2px;
        outline: none;
        padding: 8px 0 7px;
        font-family: $font-mono;
        border-bottom: 1px solid transparent;
        font-size: 1em;

        &:focus, &:hover {
          border-bottom: 1px solid #428BCA;
        }

        // https://github.com/JedWatson/react-input-autosize#csp-and-the-ie-clear-indicator
        &::-ms-clear { display: none; }


      }
    }

    .copy-backer {
      font-size: 1px;
      left: 6px;
      position: absolute;
      top: 6px;
      z-index: -1;
    }

    .method {
      position: relative;

      button {
        border: 0;
        background-color: #fff;
        color: #565554;
        padding: 5px 0 4px;
        font-family: $font-mono;
        font-size: 1em;

        &:focus, &:active {
          outline: 0;
          box-shadow: none;
        }
      }

      .syntax-method {
        cursor: pointer;
        border-bottom: dotted 1px #6478f2;
      }

      .method-picker {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: none;
        font-size: 12px;
        padding: 3px;
        position: absolute;
        top: 100%;
        left: 7px;

        div {
          cursor: pointer;
          margin-top: 2px;
          padding: 3px 6px;

          &:first-child {
            margin-top: 0;
          }

          &:hover {
            background: #e3e3e3;
          }
        }
      }

      &.is-showing .method-picker {
        display: block;
      }
    }

    .copy-to-clipboard, .print-to-console {
      background: #fff;
      border: 0;
      color: #565554;
      padding: 8px 5px 7px;
      margin-right: 5px;

      &:hover, &:focus, &:active {
        box-shadow: none;
        color: #333;
        outline: 0;
      }
    }

    .info {
      display: none;
    }

    &.has-selector .info {
      display: block;
    }

    .close {
      background: none;
      border: none;
      color: #888;
      padding: 4px 6px;
      position: absolute;
      top: 0;
      right: 5px;

      &:hover,
      &:focus {
        color: #333;
      }
    }
  }

  .url-container,
  .menu {
    padding: 10px 0;
  }

  .url-container {
    flex-grow: 2;
    position: relative;
  }

  .loading-container {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 2px 18px 18px 2px;
    display: none;
    font-size: 0.9em;
    height: 26px;
    line-height: 26px;
    padding-left: 5px;
    padding-right: 3px;
    position: absolute;
    right: 0;
    top: 10px;

    i {
      margin: 0 5px 0 2px;
      font-size: 14px;
    }
  }

  .loading .loading-container {
    display: inline-block;
  }

  .url {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    border: solid 1px #d3d3d3;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    height: 26px;
    outline: none;
    padding: 2px 10px;
    letter-spacing: 0.3px;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      color: #2363CC;
      text-decoration: underline;
    }
  }

  .loading .url {
    padding-right: 87px;
  }

  .highlighted .url,
  .url:focus {
    background-color: #FFF4DE;
  }

  .menu {
    margin-left: 15px;
    text-align: right;
  }

  .viewport-info {
    margin-top: 1px;
    margin-right: 5px;
    position: relative;

    button {
      background: none;
      border: none;
      color: #888;
      outline: none;
      padding: 0;
      text-shadow: 0 1px 1px #FFF;

      &:active {
        box-shadow: none;
      }

      &:hover {
        color :#333;
      }

      i {
        @extend .#{$fa-css-prefix}-caret-down;
        margin-right: 3px;
      }
    }

    &.open button i {
      @extend .#{$fa-css-prefix}-caret-up;
    }
  }

  .viewport-scale {
    font-size: 12px;
    margin-left: 3px;
    opacity: 0.9;
  }

  .viewport-menu {
    background: #FFF;
    background-clip: padding-box;
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    display: none;
    padding: 7px 15px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 100%;
    width: 300px;
    z-index: 999;

    i {
      font-size: 13px;
      margin-right: 5px;
    }
  }

  .open .viewport-menu {
    display: block;
  }

  @media all and (max-width: 950px) {
    header {
      flex-direction: column;
    }

    .url-container {
      margin-bottom: 5px;
    }
  }
}
