{
  "plugins": [
    "cypress",
    "@cypress/dev"
  ],
  "extends": [
    "plugin:@cypress/dev/general",
    "plugin:@cypress/dev/tests",
    "plugin:@cypress/dev/react"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "cypress/globals": true
  },
  "root": true,
  "rules": {
    "no-console": "off",
    "mocha/no-global-tests": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ]
  }
}
