body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.container {
  background-color: #EEE;
  border-radius: 6px;
  padding: 30px 0;
  text-align: center;
}

h1 {
  height: 30px;
  margin: 20px auto 10px;
  width: 36px;

  background-size: contain;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAAA8CAYAAADFXvyQAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAABCJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vZXhpZi8xLjAvIgogICAgICAgICAgICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgICAgICAgICAgIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyI+CiAgICAgICAgIDx0aWZmOlJlc29sdXRpb25Vbml0PjI8L3RpZmY6UmVzb2x1dGlvblVuaXQ+CiAgICAgICAgIDx0aWZmOkNvbXByZXNzaW9uPjU8L3RpZmY6Q29tcHJlc3Npb24+CiAgICAgICAgIDx0aWZmOlhSZXNvbHV0aW9uPjcyPC90aWZmOlhSZXNvbHV0aW9uPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICAgICA8dGlmZjpZUmVzb2x1dGlvbj43MjwvdGlmZjpZUmVzb2x1dGlvbj4KICAgICAgICAgPGV4aWY6UGl4ZWxYRGltZW5zaW9uPjcyPC9leGlmOlBpeGVsWERpbWVuc2lvbj4KICAgICAgICAgPGV4aWY6Q29sb3JTcGFjZT4xPC9leGlmOkNvbG9yU3BhY2U+CiAgICAgICAgIDxleGlmOlBpeGVsWURpbWVuc2lvbj42MDwvZXhpZjpQaXhlbFlEaW1lbnNpb24+CiAgICAgICAgIDxkYzpzdWJqZWN0PgogICAgICAgICAgICA8cmRmOkJhZy8+CiAgICAgICAgIDwvZGM6c3ViamVjdD4KICAgICAgICAgPHhtcDpNb2RpZnlEYXRlPjIwMTYtMDYtMDFUMTU6MDY6NTk8L3htcDpNb2RpZnlEYXRlPgogICAgICAgICA8eG1wOkNyZWF0b3JUb29sPlBpeGVsbWF0b3IgMy41PC94bXA6Q3JlYXRvclRvb2w+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgqV3HTmAAAKKElEQVR4Ae2beVDVVRTHeTz2TUAWAUEwlIxQcCOGDLRGq8lsmmxabTHLaooaK6dsarK9NK2cTGvaZ8qx/mhxcho0rDEEATGDtAQX9LEFoqLs0ue8AXssz3sfvIcY3JnD7/e795x7z/3+zj3n3Pt7GJ0GTzEkJyf7BQcHe1ZUVDQNFrUM51uRSZMmRbi4uKS1t7ePQ5dkg8HgwTXrzJkz26krKSwsPKjSccqUKV7wzoBvFvLOCv5ao9G4Pjc3t0bBZ2520WFyFA8Ti6LvR6DHmZjRYpyZzs7ObTz/AM+S/Pz8Eou2Hrdubm4ezc3N79AwvkdjLxVtbW11VL8PtffS3KVKhXYXZns+JCYmjgOUN+jzCcgSnM5hpG4ePKtYeqHcW9W1sbFReP07BVVXrM1HxdPZPtAWZEhPTzfW19dfhJKfQJd1KmLtCs/c1tbWbyZPnvxaU1PTT0VFRc3deT08PNqwoDPd6609A7pYp9J6RN7qW7HWeX/qExIS/AHnJib9Pf0owbEYK5VJrQaIpdOmTRtlUW++Zck4zJcOGEDijPEVCwFnLbMSh2xruQiB5TjvpwE6wFbhvvIPCEBJSUnBRKrFKPkKpO0rrEzqQYB+fuLEiSFW2u1a7XCAiEJhhNV30fpZyNUO2ksfGa6urm92REGnhoYGbf9j6/gOc9KyDNzd3aNZUiugWTqKwZdJeC/jeo8G/wJ44nDeLwFWIY5cy+lq9NuFxSEAxcfH+wDOjUz0ZUaTEK0qYgHf4ojfYqJHsLjdPL8GSdJ4riKJ5ZfILIXJIavB7gBNnTr1UoCZDT2F0jrg1MP3OLSJhLCcq1NKSsp6wraAIyCpiuQ0KyA3FWNf2u0KED4hiChzL29VJqxTDgHkYvi3AE4L8gnIu2dnZ+fh2D/Hkk51AB2p6MxT0d7nZruZJb4gFi3WM9kMTW1kv3VrQUHBZgEHy7sGue/wQR8BVPKuXbtMMTExa+nvAeqPavZpd7beUnybBiEzdgkKCrqSiTyH4DxImbRhFb9hHY8CTN78+fON+CvZZK5DNhqSZZkeERFx6MSJE9Xe3t7FZNCbaA+kPgGyR/mpvLw8W6ejfgEk4Bw/fjwN5T9gsGSNAWWbsAL+V318fIqZvBeZ9aIOcCwzZAFjLhbmBhXn5eWVRkdH/8y9WPx0qF96I+94gEjUvEnx72ByqxhwDKQqJ+FdCqAr2U+ZsLpLCM+SAjyGoFcvwm7wpwJKVFhYWOnOnTtLAwICtolfon4G/P3xn44FKDY21t3T0/NOlHwbCuplct2rxBlLKP4YcFrYT8XzLMBeD6ms4RJ4IqOiorbhl46NHTt2T0fOM456X6gvxXEAcUzhz6Yxg7f4Opqp8hRR/gBgLMYZf8O6b8cBJ/G8gXqdJSnyTow1Dkuajl/aWVNTU82pYxZ+qYD6iTSHmZls+2N/gJiYF6Y+hyizDsXuQh/VmxeV/wKMZYDzA8COCA8PT0T2C+rjpNHGEgX/XBw6O4uGSqxpF/r8Qn/h1E+wpS902szL2qEjozNJJzJjNzabEqnEGWspA+9q6FUi1WZymih8h1jdauQjdBSzwjOCPmZD4aNGjfoFjA4B+paOPsWatAryeQSI32pra9tUAkqAxBmzpObQkfgMeYuqchqGJZzyvbV79+4SOb9BoRepexjyVAlrtDvTn+RcvoBTxAsoDwkJycGyj1F3OaScEzyxXl5eBVhgGZYk2xyr5ZydkfJLuL0bkvNenbVuQvn7OY7YwLI6TfKXhO8Q2fmQMj+CR7e4MI6E+1AsKZ+D/TLSgD8Y6zB1Uu+t6MiXZXY9fZSGhobW8hXlpDV+awAZmFwcA96HoOyHdJzxEQZdCO9mvhg0SWaNAp/ynAY5qkjiKM4799SpU+WMX4Ql7WfceOqDFYPKnASkJiwRQyr/pzf+HgDhjF1Hjx59MczPM6AsC51SCJiLUG6Hr6+vITAwMIWBP0MwSUe4PzyME4n8HHKqEja4B7nuIz/7Fl2mUK/Kz2T+kuiCUXixyWSq6q5Ld4AMvI1ZACPOVPyOstD5BsC5DYf5J+buj5J3Uvc+gtFKYfsxiCuYDTj7SUSLKTWRkZGy1wtEl0kaw0jgmYBh5AFStSX/WYBk2zBy5MhraFwD6ex52hj8Q6LTUrYCVfJpBoWWULcceZUPsNTBXveSjV9HQGnCH+Xn5ORU88JyqPNBp0Susk05V4nBMFJx3EUstyMwtguzUZYUIc+VTsSRvgeJyarKcTp7BjNeg7+plDNnnlfRx2IEVYqo+u5PuwvCV/GiwploLoGiApAkoSyjPgVS+VKJuFez3FyhEoCqN9LRbLYNCxB+ARoJqUoFDCv9/PzWVFVVNfC2rqJTOZa4ViU4gO1J6JMGOPtZ8nsJ6eIjf2d8yZVCFHrI9mUG1EyEO2AEqU083ACp0IXFaTtWk4G1fM2ArmS1EqEEHJ0lKfIDWcIFJFzA37zEvZmZmfuY668okA6pIpy4niuQnSwAyRcHnfIlAgvYVRfhAP2IFOKrZAOqkx/p9O8IHn9AmllXV1fKSjlIUnmUawkDxVGvk9GPEYBuRiAAsuo7sJgf2Woswd+YUlNTfdlNPwn/Q5A4xsFe5Mx6nijJizURUHKJVrLkPABJFeHWGgnrcrImWa7kDXK1LA2Asw5wlgPOAZzxBCxHfFUG1J3XUm6w3YvzTmMuqfilHVhSIWBJ5l0GSLI9kW9tXQq8y6CVRuJ+BXuZQpaP5BKWiV0FDMup/5BldYDMWnbiX8GjlR91GW3wPIQxhziWWQ6WtC8uLi6XY5M/qJOjF38LNT8VcMjtKs15UGVl5UnOWPJgnADJhjQbZ3wP1rKVUFklgnR6OxehC73EMAETrmUHX09aCeV7ZckBiOzhRkCZrJiHAVCi9X/Hluy8j5ITLcTsQvAxh/fs2XNMGCyKOXGyeL5gbzGCRpZZS+cEyAO3c8Y0p6WlJZQVc5Qks7KzTdbm2SJHBzwIDamSlZXVyoQlexbqUqxGri5cQ/hhGCDFyx8GaBggBQKK5i5OWsFr7+atdJir2WkqfLKBHPByPgH6mqi5VmfGpB+yrbEbQOQ85vxPZ+zz6YNs+T1Pj62AzuSs8ZAHaRvG+QTImv4DUd+kO8hQBUgXH+tHHNo9/M8Zhy1I8YKHARoGSIGAonlIWhB5kM4HCjN0QxIg8qDhMK9YOdrn6UPSglhi2ln8kASI8/YGhYWdbbYFIFt4zw4wGG+wIG/5AbuObtqTptNef2CkM8hg48FJ11VXV2v5IW2AOO0vZKLmT0B2mrDWG5SxmJC2nhq6yX8XcU5vPqhXsmtv+/nAZuIHSrdgSTeisPzErcd/HytH62CgD/nsW6bLz6eoavzGFuTk60Nfi3yCrqKPj/kN0SHdTrTMzLIzftjpyT+ZGPnQ2GhZb8s936C8+PbWyoHZaR05+Qc9xhNw+gwQ37w8+b8Qv/Hjx1ds3LixTWdc4fkXZvewmghvi7MAAAAASUVORK5CYII=');
}

p {
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 15px;
}

kbd {
  background-color: #777;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  display: inline-block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
  padding: 2px 4px;
}

a {
  color: #FFF;
  text-decoration: none;
}

ul {
  background-color: #DDD;
  border-radius: 10px;
  text-align: left;
  margin: 0 25% 10px;
  padding: 20px 20px 20px 40px;
}

li {
  list-style: decimal;
  list-style-position: outside;
  margin: 4px 0;
}
