@import './func.scss';

$colors: (
  metal-100: rgba(0, 0, 0, 1),       // #000000;
  metal-90: rgba(33, 36, 38, 1),     // #212426;
  metal-80: rgba(45, 49, 52, 1),     // #2d3134;
  metal-70: rgba(62, 67, 71, 1),     // #3e4347;
  metal-60: rgba(83, 90, 95, 1),     // #535a5f;
  metal-50: rgba(107, 116, 123, 1),  // #6b747b;
  metal-40: rgba(135, 144, 151, 1),  // #879097;
  metal-30: rgba(160, 167, 172, 1),  // #a0a7ac;
  metal-20: rgba(190, 194, 198, 1),  // #bec2c6;
  metal-10: rgba(230, 232, 234, 1),  // #e6e8ea;
  metal-05: rgba(244, 245, 246, 1),  // #f4f5f6;
  metal-00: rgba(255, 255, 255, 1),  // #ffffff;
  red-70: rgba(153, 11, 18, 1),      // #990b12;
  red-60: rgba(191, 13, 22, 1),      // #bf0d16;
  red-50: rgba(224, 16, 26, 1),      // #e0101a;
  red-40: rgba(241, 55, 64, 1),      // #f13740;
  chill-90: rgba(8, 33, 68, 1),      // #082144;
  chill-80: rgba(12, 49, 100, 1),    // #0c3164;
  chill-70: rgba(16, 66, 137, 1),    // #104289;
  chill-60: rgba(21, 86, 178, 1),    // #1556b2;
  chill-50: rgba(27, 111, 228, 1),   // #1b6fe4;
  chill-40: rgba(73, 142, 238, 1),   // #498eee;
  chill-30: rgba(118, 168, 239, 1),  // #76a8ef;
  chill-20: rgba(164, 197, 244, 1),  // #a4c5f4;
  chill-10: rgba(222, 235, 252, 1),  // #deebfc;
  chill-05: rgba(237, 243, 253, 1),  // #edf3fd;
  olive-60: rgba(93, 100, 12, 1),    // #5d640c;
  olive-50: rgba(114, 123, 15, 1),   // #727b0f;
  olive-40: rgba(143, 154, 25, 1),   // #8f9a19;
  olive-30: rgba(211, 228, 27, 1),   // #d3e41b;
  olive-20: rgba(225, 237, 100, 1),  // #e1ed64;
  olive-10: rgba(238, 245, 168, 1),  // #eef5a8;
  olive-05: rgba(246, 250, 209, 1),  // #f6fad1;
  papaya-60: rgba(143, 68, 10, 1),   // #8f440a;
  papaya-50: rgba(190, 90, 14, 1),   // #be5a0e;
  papaya-40: rgba(235, 107, 10, 1),  // #eb6b0a;
  papaya-30: rgba(242, 141, 64, 1),  // #f28d40;
  papaya-20: rgba(246, 175, 121, 1), // #f6af79;
  papaya-10: rgba(252, 229, 212, 1), // #fce5d4;
  papaya-05: rgba(253, 241, 231, 1), // #fdf1e7;
  green-60: rgba(41, 102, 10, 1),    // #29660a;
  green-50: rgba(54, 133, 15, 1),    // #36850f;
  green-40: rgba(68, 164, 20, 1),    // #44a414;
  green-30: rgba(79, 191, 23, 1),    // #4fbf17;
  green-20: rgba(107, 219, 51, 1),   // #6bdb33;
  green-10: rgba(204, 244, 185, 1),  // #ccf4b9;
  green-05: rgba(236, 251, 228, 1),  // #ecfbe4;
  cran-50: rgba(228, 28, 95, 1),     // #e41c5f;
  brand-00: rgba(28, 228, 150, 1),   // #1ce496;
  // TODO: Rewrite these names
  brand-01: rgba(8, 41, 63, 1),      // #08293f;
  accent-00: rgba(177, 99, 255, 1),  // #b163ff;
  accent-01: rgba(54, 197, 255, 1),  // #36c5ff;
  accent-02: rgba(230, 255, 30, 1),  // #e6ff1e;
);

// TODO: Is this needed?
// :root {
//   @each $name, $color in $colors {
//     .text-#{"" + $name} {
//       color: $color;
//     }
//     .bg-#{"" + $name} {
//       background-color: $color;
//     }
//   }
// }

// --- Color Variables

@function color($name: string) {
  @return var(--#{"" + $name});
}

// Must be manually written out as SASS does not support dynamic variable creation
// Exposes SASS variables as references to CSS variables
$metal-100: color('metal-100');
$metal-90: color('metal-90');
$metal-80: color('metal-80');
$metal-70: color('metal-70');
$metal-60: color('metal-60');
$metal-50: color('metal-50');
$metal-40: color('metal-40');
$metal-30: color('metal-30');
$metal-20: color('metal-20');
$metal-10: color('metal-10');
$metal-05: color('metal-05');
$metal-00: color('metal-00');

$red-70: color('red-70');
$red-60: color('red-60');
$red-50: color('red-50');
$red-40: color('red-40');

$chill-90: color('chill-90');
$chill-80: color('chill-80');
$chill-70: color('chill-70');
$chill-60: color('chill-60');
$chill-50: color('chill-50');
$chill-40: color('chill-40');
$chill-30: color('chill-30');
$chill-20: color('chill-20');
$chill-10: color('chill-10');
$chill-05: color('chill-05');

$olive-60: color('olive-60');
$olive-50: color('olive-50');
$olive-40: color('olive-40');
$olive-30: color('olive-30');
$olive-20: color('olive-20');
$olive-10: color('olive-10');
$olive-05: color('olive-05');

$papaya-60: color('papaya-60');
$papaya-50: color('papaya-50');
$papaya-40: color('papaya-40');
$papaya-30: color('papaya-30');
$papaya-20: color('papaya-20');
$papaya-10: color('papaya-10');
$papaya-05: color('papaya-05');

$green-60: color('green-60');
$green-50: color('green-50');
$green-40: color('green-40');
$green-30: color('green-30');
$green-20: color('green-20');
$green-10: color('green-10');
$green-05: color('green-05');

$cran-50: color('cran-50');

$brand-00: color('brand-00');
$brand-01: color('brand-01');
$accent-00: color('accent-00');
$accent-01: color('accent-01');
$accent-02: color('accent-02');
