// --- Font Families

$font-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// --- Text Sizes/Scale
// Chosen to produce integer sizes from a base font size of 16px

$text: (
  text-xs: 0.5rem,   // 8px
  text-s: 0.75rem,   // 12px
  text-ms: 0.875rem, // 14px
  text-m: 1rem,      // 16px
  text-ml: 1.25rem,  // 18px
  text-l: 1.5rem,    // 24px
  text-xl: 2rem,     // 32px
  text-2xl: 2.5rem,  // 40px
  text-3xl: 3rem,    // 48px
  text-4xl: 4rem,    // 64px
);

@function text($name: string) {
  @return map-get($text, "text-" + #{$name});
}

// --- Line heights

$lh-tight: 1;
$lh-condensed: 1.25;
$lh-default: 1.5;

// --- Mixins

@mixin _text-base {
  font-family: $font-stack-sans;
  font-weight: normal;
  font-style: normal;
}

@mixin text-xs {
  @include _text-base;
  font-size: text(xs);
}

@mixin text-s {
  @include _text-base;
  font-size: text(s);
}

@mixin text-ms {
  @include _text-base;
  font-size: text(ms);
}

@mixin text-m {
  @include _text-base;
  font-size: text(m);
  font-weight: bolder;
}

@mixin text-ml {
  @include _text-base;
  font-size: text(ml);
  font-weight: bolder;
}

@mixin text-l {
  @include _text-base;
  font-size: text(l);
  font-weight: bolder;
}

@mixin text-xl {
  @include _text-base;
  font-size: text(xl);
  font-weight: bolder;
}

@mixin text-2xl {
  @include _text-base;
  font-size: text(2xl);
  font-weight: bolder;
}

@mixin text-3xl {
  @include _text-base;
  font-size: text(3xl);
  font-weight: bolder;
}

@mixin text-4xl {
  @include _text-base;
  font-size: text(4xl);
  font-weight: bolder;
}

@mixin text-mono-m {
  font-size: text(m);
  font-family: $font-stack-mono;
  font-weight: bold;
  font-style: normal;
}

@mixin text-mono-s {
  font-size: text(s);
  font-family: $font-stack-mono;
  font-weight: bold;
  font-style: normal;
}

