{
  "plugins": [
    "cypress",
    "@cypress/dev"
  ],
  "extends": [
    "plugin:@cypress/dev/general",
    "plugin:@cypress/dev/tests"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "no-console": "off",
    "prefer-rest-params": "off"
  }
}
