.login {
  padding: 20px 50px;

  h1 {
    margin-bottom: 15px;
    font-size: 24px;
  }

  > p {
    color: #666;
    line-height: 1.7em;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .alert.alert-danger {
    margin: 0 auto 15px;
    width: 100%;
    padding: 10px;
    font-size: 13px;

    p {
      line-height: 20px;
    }

    a {
      cursor: pointer;
      border-bottom: 1px dashed #b73844;
      font-size: 13px;

      &:hover {
        border-bottom: 1px solid #b73844;
        text-decoration: none;
      }
    }
  }
}

.login-content {
  overflow: auto;
  padding: 20px;
  text-align: center;

  button {
    display: block;
    margin: 0 auto 1em;
    width: auto;
  }

  .message {
    color: #666;
    line-height: 1.5em;

    pre {
      cursor: pointer;
    }

    &.warning p {
      color: $red-primary;
    }
  }

  .terms {
    font-size: 11px;
    margin-top: 10px;
    color: #272B2F;
    font-weight: 200;

    a {
      color: #272B2F;
      border-bottom: 1px solid #ddd;

      &:hover, &:focus, &:active {
        color: #272B2F;
        border-bottom: 1px solid #888;
        text-decoration: none;
      }
    }
  }
}

.btn-login {
  line-height: 24px;
  font-size: 16px;
  border-radius: 3px;
  margin-bottom: 10px;

  i {
    font-size: 20px;
    position: relative;
    top: 1px;
    padding-right: 3px;
  }
}

.login-spinner {
  margin: 10px 0;
  color: #777;
}

.login-no-api-server {
  text-align: center;

  em {
    color: #333;
    font-style: normal;
    font-family: $font-mono;
  }
}
