.login {
  min-height: 100px;

  h3 {
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 24px;
  }

  > p {
    color: #666;
  }

  .alert.alert-danger {
    border: 0;
    margin: 0px auto 15px;
    width: 100%;
    padding: 10px;
    font-size: 13px;

    p {
      line-height: 20px;
    }

    a {
      cursor: pointer;
      border-bottom: 1px dashed #fff;
      font-size: 13px;
    }
  }
}

.login-content {
  overflow: auto;
  padding: 20px;
  text-align: center;

  button {
    display: block;
    margin: 0 auto 1em;
    width: 250px;
  }

  a {
    color: #3B94D9;
  }
}

.btn-login {
  line-height: 24px;
  font-size: 16px;
  border-radius: 3px;
  margin-bottom: 10px;

  i {
    font-size: 20px;
    position: relative;
    top: 1px;
    padding-right: 3px;
  }
}

.login-spinner {
  margin: 10px 0;
  color: #777;
}

.login-no-api-server {
  text-align: center;
}
