#login {

  .alert.alert-danger {
    margin: 0 auto 15px;
    width: 100%;
    padding: 10px;
    font-size: 13px;

    p {
      line-height: 20px;
    }

    a {
      cursor: pointer;
      border-bottom: 1px dashed #b73844;
      font-size: 13px;

      &:hover {
        border-bottom: 1px solid #b73844;
        text-decoration: none;
      }
    }
  }
}

.login-content {
  overflow: auto;
  padding: 20px;
  text-align: center;

  button {
    display: block;
    margin: 0 auto 1em;
    width: auto;
    font-size: 14px;
  }

  .message {
    color: #666;
    line-height: 1.5em;

    pre {
      cursor: pointer;
    }

    &.warning p {
      color: var(--red-primary);
    }
  }

  .terms {
    font-size: 11px;
    margin-top: 10px;
    color: #272B2F;
    font-weight: 200;

    a {
      color: #272B2F;
      border-bottom: 1px solid #ddd;

      &:hover, &:focus, &:active {
        color: #272B2F;
        border-bottom: 1px solid #888;
        text-decoration: none;
      }
    }
  }
}

.btn-login {
  line-height: 24px;
  font-size: 16px;
  border-radius: 3px;
  margin-bottom: 10px;

  i {
    font-size: 20px;
    position: relative;
    top: 1px;
    padding-right: 3px;
  }
}

