.dropdown-menu>li>a {
  padding: 3px 12px;
}

.dropdown-header {
  padding: 3px 12px;
}

.dropdown-menu pre {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

#manual-browser-wrapper {

  i {
    cursor: pointer;
    font-size: 18px;
    margin-right: 4px;
    margin-top: 3px;
    float: left;

    &:hover {
      color: #555;
    }

  }

  #chosen-manual-browser {
    margin-right: 7px;
    float: left;

    em {
      color: #999;
      position: relative;
      top: 2px;
    }

    img {
      margin-right: 1px;
    }

    span {
      display: inline-block;
      margin: 0 1px;
      position: relative;
      top: 2px
    }

    #chosen-browser-info {
      top: 0;
      border-radius: 5px;
      background-color: #fff;
      padding: 0 5px 2px;
      box-shadow: 0 1px 1px #888;

      i {
        color: #E94B3B;
        float: right;
        font-size: 12px;
        margin: 0 0 0 5px;
        position: relative;
        top: 6px;
      }
    }
  }

  i.fa-caret-down {
    font-size: 14px;
    margin-right: 0;
    top: 2px;
    position: relative;
  }

  #browser-versions-container {
    width: 220px;
    text-align: center;

    div.row > div {
      width: 20%;
      float: left;
    }
  }

  .browser-versions {
    margin-top: 3px;
    padding-top: 2px;
    border-top: 1px solid #CCC;

    li:hover {
      color: #111;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}