.reporter {
  .hooks-container {
    margin: 5px 0 5px 9px;
    padding-left: 10px;
    border-left: 1px dotted $gray-900;

    .hook-item {
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .hook-header {
      display: flex;
      width: 100%;

      &:hover {
        .collapsible-header {
          color: $gray-300;
        }

        .hook-open-in-ide {
          cursor: pointer;
          display: block;
        }
      }

      .collapsible-header {
        text-transform: uppercase;
        color: $gray-400;
        display: inline-block;
        flex-grow: 1;
        font-size: 11px;
        cursor: pointer;
        padding: 4px 0;

        &:focus {
          outline: none;
        }

        > .collapsible-header-inner:focus {
          outline: 0;
        }
      }

      .hook-failed-message {
        color: $red-400;
        display: none;
      }

      .hook-open-in-ide {
        align-items: center;
        color: $gray-400;
        display: none;
        padding: 4px;

        &:hover, &:focus {
          background-color: rgba($gray-700, 0.2);
          outline: none;
          text-decoration: none;
        }

        svg {
          path:nth-child(2) {
            fill: $gray-800;
          }
        }
      }
    }

    .hook-failed .hook-failed-message {
      display: inline;
    }
  }
}
