code[class*="language-"],
pre[class*="language-"] {
	color: $gray-800;
	margin: 0;
	text-shadow: $white 0px 1px;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: $red-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $jade-500;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.regex,
.token.important,
.token.variable {
	color: $orange-500;
  background: $gray-50;
}

.token.operator,
.token.punctuation {
  color: $gray-500;
}

.token.atrule,
.token.attr-value,
.token.class-name {
	color: $indigo-500;
}

.token.keyword,
.token.function {
  color: $purple-500;
}

.line-numbers .line-numbers-rows {
	border-right: 0;
}

.line-numbers-rows > span:before {
	color: $gray-200;
}

.line-highlight {
	background: linear-gradient(to right, rgba($gray-900,.1) 100%, rgba($gray-900,0));

	&:before {
		display: none;
	}
}

.test-error-code-frame pre[data-line] {
	padding-left: 0.5em;
	position: relative;
}
