
/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-VF.woff2') format('woff2 supports variations'),
         url('/fonts/FiraCode-VF.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }
}

html, body {
  @apply bg-white font-sans antialiased #{!important};
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
 * Utilities
 * -------------------------
 */

// Hides the scrollbar when overflow: auto. Use this sparingly -- it's not accessible!
.hide-scrollbar {
  scrollbar-width: 0; // Firefox

  // Chrome
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

// Dark scrollbars, anything with dark:
.force-dark {
  color-scheme: dark;
}

// Light scrollbars, anything with light:
.force-light {
  color-scheme: light;
}

/**
 * Common theming
 * -------------------------
 */

::selection {
  @apply bg-gray-200 bg-opacity-30;
}