#runs {
  h5 {
    margin-top: 20px;
    overflow: hidden;
    line-height: 19px;
    padding: 0 20px;
  }
}

.empty-no-api-server {
  em {
    color: #333;
    font-style: normal;
    font-family: $font-mono;
  }

  pre {
    margin: 1em 0;
  }
}

.first-run-instructions {
  padding: 40px 130px;

  a {
    cursor: pointer;
  }

  p {
    text-align: center;
  }

  h5 {
    overflow: auto;
    margin-top: 25px;
    line-height: 18px;
    font-weight: normal;

    a {
      font-size: 13px;
      font-weight: normal;
    }
  }

  .alert {
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: #f5f5f5;
    color: #777;
    margin-bottom: 0;

    ul {
      padding-left: 0;
      margin-bottom: 0;
      margin-left: 10px;

      li {
        margin-left: 15px;
      }
    }

  }

  hr {
    clear: both;
    // opacity: 0.5;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  h4, .center {
    text-align: center;
  }

  pre {
    clear: both;
    border: 0;
    background-color: #252831;
    border-radius: 3px;
    color: #eee;
  }
}

.runs {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 18px;
  top: 77px;
  background-color: white;
  clear: both;
  border: 1px solid #eee;
  border-top: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;

  header {
    align-items: center;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-shrink: 0;
    font-size: 0.8em;
    justify-content: space-between;
    padding-left: 0.8em;
    line-height: 40px;

    h5 {
      float: left;
      margin-bottom: 0;
      margin-top: 0;
    }

    .last-updated {
      color: #8897a3;
      font-size: 12px;
      margin-left: 1em;
      font-weight: normal;
    }

    .see-all-runs:active {
      box-shadow: none;
    }

    button {
      vertical-align: initial;

      &[disabled]:hover,
      &[disabled]:focus {
        color: #777;
      }
    }
  }
}

.runs-screenshots {
  overflow: auto;
  width: 500px;
  margin: 15px auto;

  &>img {
    float: left;
    margin-right: 25px;
    border: 1px solid #cecece;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.runs-container {
  margin-bottom: 0;
  @include list-columns(0%, 10%, 37%, 15%, 10%, 14%, 7%, 7%);

  .status-data {
    width: 10%;

    padding-right: 0;
    padding-left: 14px;
    font-weight: 500;
    color: #666;

    &>i {
      min-width: 12px;
    }
  }

  .user-avatar {
    position: relative;
    margin-right: 3px;
    top: 1px;
  }

  &>li {
    overflow: auto;
    clear: both;
    border-bottom: 1px solid #eeeeee;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 12.5px;
    color: #738493;
    min-height: 1px;

    &:hover {
      background-color: #f5f8fc;
      cursor: pointer;
      color: #45515b;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    }

    &>.row-column-wrapper>div {
      padding: 35px 10px;
      min-height: 1px;

      &.td-top-padding {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &.td-env-padding {
        padding-top: 30px;
        padding-bottom: 20px;
      }
    }
    .os-block {
      padding-right: 0;
    }

    .result {
      font-weight: 500;
    }

    .passing-data {
      color: #1CB77E;
    }

    .failure-data {
      color: #ec6573;
    }

    &>.row-column-wrapper:first-child {
      border-left: 5px solid #eee;
      min-height: 62px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;

      &.errored {
        border-left-color: #F5A327;
      }

      &.failed {
        border-left-color: #ec6573;
      }

      &.noTests {
        border-left-color: #F5A327;
      }

      &.passed {
        border-left-color: #1CB77E;
      }

      &.running {
        border-left-color: #428BCA;
      }

      &.overLimit {
        border-left-color: #F5A327;
      }

      &.timedOut {
        border-left-color: #F5A327;
      }

      &.null {
        border-left-color: #bbb;
      }

      &>div {
        padding: 0
      }
    }

    &>.row-column-wrapper:nth-child(2)>div {
      padding-right: 0;
      padding-left: 14px;
      font-weight: 500;
      color: #666;

      &>i {
        min-width: 12px;
      }
    }

  }

  .msg {
    font-weight: 300;
    margin-top: 7px;

    + img {
      float: left;
      padding-left: 3px;
    }

    &.italic {
      color: #bbbfc1;
      margin-top: 15px;
    }

    .commit-msg {
      overflow: auto;
    }
  }

  .user {
    font-weight: 600;
    margin-left: 3px;
  }

  .user-avatar {
    margin-right: 5px;
    position: relative;
    top: 0;
    left: 1px;
  }

  .fa-user {
    color: #bbb;
  }
}

.user-avatar {
  border-radius: 100px;
}

.setup-project-modal {
  a>i {
    color: #999;
    cursor: pointer;

    &:hover {
      color: #666;
    }
  }

  .label-title {
    overflow: auto;
  }

  .radio label {
    padding-left: 21px;
    overflow: auto;

    input[type='radio'] {
      margin-top: 2px;
    }
  }

  .owner-parts {
    overflow: auto;
    clear: both;
  }

  .owner-part-one {
    float: left;
    width: 42%;
    margin-right: 1%;
  }

  .owner-part-two {
    float: left;
    width: 57%;
  }

  .radio + .radio {
    margin-bottom: 0;
  }

  .form-horizontal {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;

    .form-group {
      overflow: auto;
    }
  }

  .help-block {
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
    margin-top: 3px;
  }

  small.help-block {
    font-size: 12px;
  }

  hr {
    border-color: #dadada !important;
  }

  .btn-group .btn {
    padding: 4px 12px;

    i {
      font-size: 12px;
      position: relative;
      top: -1px;
      margin-right: 2px;
    }
  }

  .manage-orgs-btn {
    padding: 0;
    font-size: 12px;
    margin-top: 20px;
    line-height: 30px;
    margin-left: 10px;
  }

  .well {
    text-align: center;
    background-color: #f8f8f8;
  }

  .well.empty-select-orgs {
    margin-top: 20px;

    a.btn.btn-link {
      padding: 0;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .user-avatar {
    position: relative;
    top: -2px;
  }

  .control-label {
    font-weight: normal;
  }

  select.form-control {
    padding: 3px 6px;
    height: 30px;
    margin-bottom: 0;
  }

  input[type='text'].form-control {
    padding: 3px 6px;
    height: 28px;
  }

  .privacy-radio {
    font-size: 13px;
  }


  .validation-error {
    display: none;
    clear: both;
    margin-left: 25%;
    padding-top: 4px;
    padding-left: 15px;
  }

  .has-error .validation-error {
    display: block;
  }

  .form-group.has-error {
    margin-bottom: 0;
  }

  .actions.form-group {
    margin-bottom: 0;

    button {
      position: relative;
    }
  }

  .text-danger {
    margin-bottom: 0;
  }
  .alert-danger {
    margin: 0 0 1em;
    padding: 5px;
    max-height: 200px;
    overflow: auto;
    text-align: left;
  }
}

.request-access {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 120px;

  button {
    position: relative;

    > i {
      display: none;
      position: absolute;
      left: 50%;
      margin-top: 2px;
      margin-left: -5px;
    }
  }

  &.is-submitting button {
    span {
      visibility: hidden;
    }

    > i {
      display: inline-block;
    }
  }
}

.runs-list-error {
  margin-top: 100px
}

.setup-project-modal,
.request-access,
.runs-list-error {
  .alert-danger {
    margin: 0 2em 1em;
    max-height: 200px;
    overflow: auto;
    text-align: left;
  }
}

.select-orgs {
  overflow: auto;

  select {
    float: left;
    width: 205px;
    margin-top: 20px;
  }
}
