.cy-draw__toolbar {
  display: flex;
  height: 30px;
  box-shadow: 0px 1px 5px rgb(10,10,10, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.cy-draw__toolbar--button {
  height: 30px;
  width: 50px;
  background: white;
  border-radius: 5px;
  margin: 0 5px 0 0;
  outline: none;
}

.cy-draw__toolbar--button:hover {
  cursor: pointer;
  filter: brightness(98%);
}
