@import './shared.scss';

.spec-list__group-icon {
  margin: 0 5px 0 0;
  cursor: pointer;
  position: relative;

}

li.spec-list__group {
  list-style: none;
}

ul.spec-list__group--specs {
  margin: 0 0 0 20px;
  padding: 0;
  position: relative;
  @include dotted-border;
}