@import "../runner-ct-variables.scss";

.spec-list__file {
  list-style: none;
  margin: 4px 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.spec-list__spec-file__radio {
  margin-bottom: 8px;
}

.spec-list__spec-file__radio__input {
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .spec-list__radio-control {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $ct-accent-blue;
  }

  .spec-list__radio-control--unselected {
    border: 1px solid $ct-accent-blue;
  }

  .spec-list__radio-control--selected {
    background: $ct-accent-blue;
  }
}

.spec-list__file--radio {
  margin: 0;
  padding: 0;
}