.spec-list__file {
  list-style: none;
  margin: 4px 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  outline-offset: 4px;
}

.spec-list__spec-file__radio {
  margin-bottom: 8px;
  cursor: pointer;
}

.spec-list__spec-file__radio__input {
  margin-left: 4px; // better focus displaying;

  [role="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  $radio-color: #4299e1;

  .spec-list__radio-control {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $radio-color;
  }

  .spec-list__radio-control--unselected {
    border: 1px solid $radio-color;
  }

  .spec-list__radio-control--selected {
    background: $radio-color;
  }
}

.spec-list__file--radio {
  margin: 0;
  padding: 0;
}