@use 'surfaces' as *;

.focusWrapper {
  &:focus {
    outline: none;
  }
}

.child {
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
}

.focus {
  @include focused;

  &::after {
    // TODO: Improve this
    border-radius: 0;
    // border-width: 1px;
  }
}
