#test-container {
  background-color: #eee;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 33%;
  border-left: 1px solid #191919;
}

#test-specs {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  #specs-container {
    padding-left: 0;
    width: 100%;
    overflow: auto;
    padding-bottom: 30px;

    #specs-region {
      height: 100%;
    }

    #specs-list {
      box-shadow: 0 1px 2px #aaa;
      // margin-bottom: 100px;
    }

    li {
      list-style-type: none;

      &:last-child {
        border-bottom: 0;
      }
    }

  }
.keyboard-shortcuts-helper {
  // this needs to be styled to work like
  // a sticky footer
  color: #aaa;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 25%;

  mark {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 5px;
    display: inline-block;
    color: #888;
  }

}

  #specs-list>.suite>.runnable-wrapper:first-child {

    .suite-title {
      font-weight: bold;
    }

  }

  ul.runnables {
    padding-left: 0;

    li.runnable {
      width: 100%;
      color: #6B6C6B;
      background-color: #fdfdfd;
      overflow: auto;
      line-height: 18px;
      padding-left: 0;

      .runnable-wrapper {
        padding: 5px;
        position: relative;
        overflow: hidden;
        border-left: 10px solid transparent;


        .runnable-content-region {
          overflow: auto;

          .runnable-state {
            width: 80%;
            float: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .suite-title {
              color: #6B6C6B;
            }
          }

          .runnable-controls {
            width: 50px;
            float: right;
            text-align: right;
            margin-right: 7px;
            overflow: hidden;

            label {
              padding: 2px 4px;
            }

            i {
              margin: 0 2px;
              color: #999;
              visibility: hidden;
              font-size: 15px;

              &:hover {
                // color: #DDD;
              }
            }
          }
        }
      }

      pre {
        margin-top: 2px;
        margin-bottom: 0;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 10px;
        white-space: pre-wrap;
        clear: both;

        &:empty {
          display: none;
        }

        &.test-error {
          background-color: $yellow-lightest;
          border-left: 5px solid $fail;
        }
      }

      &.hover {
        background-color: #f7f8f9;
        cursor: pointer;

        &>.runnable-wrapper .runnable-controls i.fa-repeat {
          visibility: visible !important;
        }

      }

      &.active {
        background-color: #f7f8f9;
        // box-shadow: 0 1px 3px #555 inset;

        .runnables .runnable-wrapper {
          background-color: #f7f8f9;
          border-left: 1px solid transparent;
          // box-shadow: 0 1px 3px #555 inset;
        }
      }

      .suite-state, .test-state {
        width: 12px;
        display: inline-block;
        margin-right: 3px;
        text-align: left;
      }

      .suite-state  {
        margin-left: 1px;

        i {
          padding-left: 2px;
          font-size: 14px;
          color: #bbbcbd;
        }
      }

      &.processing > .runnable-wrapper {
        .test-state i {
          @extend .#{$fa-css-prefix}-refresh;
          // @extend .fa-spin;
          color: #888;
        }
      }

      &.test.failed > .runnable-wrapper {
        border-left: 10px solid $fail;

        .fa-warning.has-command-errors {
          visibility: visible;
        }
      }


      &.suite.failed > .runnable-wrapper {
        border-left: 10px solid $fail;
      }

      &.test.passed > .runnable-wrapper {
        border-left: 10px solid $pass;
      }

      &.suite.passed > .runnable-wrapper {
        border-left: 10px solid $pass;
      }

      &.failed > .runnable-wrapper {
        pre {
          color: $fail;
        }

        .suite-title i {
          border-radius: 3px;
          background-color: $fail;
          color: #FFF;
          padding: 0 4px 0 3px;
          font-size: 10px;
          margin-left: 2px;
        }

        .test-state i {
          @extend .#{$fa-css-prefix}-times;
          color: #E94B3B;
        }

        label {
          text-transform: uppercase;
        }
      }

      &.passed > .runnable-wrapper {
        // .suite-state i {
        //   color: #23AE89;
        // }

        .test-state i {
          @extend .#{$fa-css-prefix}-check;
          color: $pass;
        }
      }

      &.pending > .runnable-wrapper {
        // .suite-state {
        //   color: lighten(#428BCA, 20%);
        // }

        .test-title {
          color: lighten(#428BCA, 25%);
        }

        .test-state i {
          @extend .#{$fa-css-prefix}-circle-o-notch;
          color: lighten(#428BCA, 20%);
        }
      }
    }
  }
}