#header-container {
  background-color: #fff;
  overflow: auto;
  border-bottom: 1px solid #ddd;

  #stats-container {
    padding: 0;
    float: left;
    margin-bottom: 0;

    li {
      list-style-type: none;
      float: left;
      padding: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;

      &#tests-passed {
        color: #23AE89;
      }

      &#tests-failed {
        color: #E94B3B;
      }

      &#tests-pending {
        color: #aaa;
      }
    }

    #tests-duration {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  #chosen-runnable {
    position: relative;
    top: 6px;

    .uppercase {
      font-size: 10px;
      display: block;
    }

    label {
      cursor: pointer;
      float: left;
      line-height: 14px;
    }
  }

  #cross-browsers {
    float: right;
    position: relative;
    top: 6px;
    border-radius: 5px;
    background-color: white;
    padding: 2px;
    box-shadow: 0 1px 1px #888;

    li {
      padding: 0 5px;
      border-right: 1px solid #CCC;
      margin: 0 0;
      position: relative;
      top: -1px;

      &:last-child {
        border-right: 0;
      }
    }
  }

  #runner-config {
    float: right;

    i {
      font-size: 17px;
    }

    .btn-link {
      text-decoration: none;

       &:hover {
        text-decoration: none;
      }
    }

    .save-container {
      padding: 0 10px 3px;
      overflow: auto;

      i {
        font-size: 12px;
      }
    }
  }
}