#header-container {
  background-color: #eeeff1;
  padding-left: 20px;
  overflow: visible;
  height: 37px;
  border-left: 1px solid #191919;
  border-bottom: 1px solid #ddd;

  #stats-container {
    // min-width: 330px;
    padding: 0;
    float: left;
    height: 100%;
    margin-bottom: 0;

    li {
      list-style-type: none;
      float: left;
      margin: 0 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      font-weight: 300;
      height: 100%;

      &#tests-passed {
        i {
          color: #23AE89;
        }
      }

      &#tests-failed {
        i {
          color: #E94B3B;
        }
      }

      &#tests-pending {
        i {
          color: #aaa;
        }
      }

      span {
        color: #555;
        font-weight: 500;
      }

      div {
        line-height: 1.1;
      }
    }

    #tests-duration {
      border-left: 1px dotted #CCC;
      border-right: 1px dotted #CCC;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  #chosen-runnable {
    position: relative;
    top: 6px;

    .uppercase {
      font-size: 10px;
      display: block;
    }

    label {
      cursor: pointer;
      float: left;
      line-height: 14px;
    }
  }

  #cross-browsers {
    // position: absolute;
    // right: 0;

    // img {
      // opacity: 0.7;
    // }
    float: right;
    position: relative;
    top: 6px;
    border-radius: 5px;
    background-color: white;
    padding: 2px;
    box-shadow: 0 1px 1px #888;

    li {
      padding: 0 5px;
      border-right: 1px dotted #CCC;
      margin: 0 0;
      position: relative;
      top: -1px;

      &:last-child {
        border-right: 0;
      }
    }
  }

  #runner-config {
    float: right;

    i {
      font-size: 17px;
    }

    .btn-link {
      text-decoration: none;

       &:hover {
        text-decoration: none;
      }
    }

    .save-container {
      padding: 0 10px 3px;
      overflow: auto;

      i {
        font-size: 12px;
      }
    }
  }
}