<!DOCTYPE html>
<html lang="en" class="updates">
<head>
  <meta charset="utf-8" />
  <title>Updates</title>
  {{#each stylesheets}}
    <link rel="stylesheet" href="{{this}}" />
  {{/each}}
</head>
<body>
  <div id="updates"></div>

  <script src="vendor.js"></script>
  {{#each scripts}}
    <script src="{{this}}"></script>
  {{/each}}
  <script>
    window.env = '{{env.NODE_ENV}}'
    App.startUpdateApp()
  </script>
</body>
</html>
