/**
* This is a standalone file that gets included with the assertions menu
* in the user's app html
*/

.highlight {
  background: rgba(159, 196, 231, 0.6);
  border: solid 2px #9FC4E7;
  cursor: pointer;
}

.assertions-menu {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  width: 150px;

  .close {
    position: absolute;
    top: 0;
    right: 5px;

    &:hover, &:focus, &:active {
      cursor: pointer;
    }
  }

  .title {
    font-size: 16px;
    text-align: center;
    margin: 0.75rem 0.5rem 0.5rem;
  }

  .assertions-list {
    .assertion-type {
      cursor: default;
      font-size: 15px;
      padding: 0.4rem 0.4rem 0.4rem 0.6rem;
      position: relative;

      &:last-of-type {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      &:hover {
        background-color: #e9ecef;
      }

      &.single-assertion {
        cursor: pointer;
        font-weight: 600;
      }

      .assertion-type-text {
        align-items: center;
        display: flex;

        .dropdown-arrow {
          margin-left: auto;
        }
      }

      .assertion-options {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        font-size: 14px;
        max-width: 150px;
        overflow: hidden;
        overflow-wrap: break-word;

        .assertion-option {
          cursor: pointer;
          padding: 0.4rem 0.5rem;

          &:hover {
            background-color: #e9ecef;
          }
          
          .assertion-option-value {
            font-weight: 600;
          }
        }
      }
    }
  }
}
