.projects-list {
  .project-name {
    color: $blue-primary;
    font-size: 11.5px;
    font-weight: 500;
    line-height: 13px;
  }

  .project-path {
    color: #8e8e8e;
    font-size: 10px;
    font-style: italic;
    line-height: 13px;
  }

  .add-project {
    font-size: 12px;
  }
}
