$cypress_blue: #3380FF;
$hairline-color: $cypress_blue;
$hairline-thickness: 1px;
$hairline-size: min(60px, 80%);
$hairline-offset: 15px;

.iframes-ct-container {
  margin: 8px;
}

.size-container {
  width: 100%;
  overflow: auto;
  resize: both;
  background: none;
  box-shadow: none;

  &:after, &:before {
    content: "";
    position: absolute;
    background: $hairline-color;
    opacity: .5;
    padding: -2px;
  }

  &:after {
    height: $hairline-size;
    width: $hairline-thickness;
    right: 0;
    bottom: $hairline-offset;
  }

  &:before {
    width: $hairline-size;
    height: $hairline-thickness;
    right: $hairline-offset;
    bottom: 0;
  }
}

.app-ct .runner {
  background: unset;
}
