.iframes-ct-container {
  margin: 8px;
}

.iframes-ct-container-no-margin {
  margin: 0;
}


.size-container {
  width: 100%;
  overflow: auto;
  background: none;
  box-shadow: none;
}

.app-ct .runner {
  background: unset;
}
