.footer {
  height: $footer-height;
  background-color: #252831;
  position: fixed;
  width: 100%;
  border-top: 1px solid #DCDEE4;
  z-index: 10;
  bottom: 0;
  font-size: 11.5px;
  line-height: 18px;
  color: #eee;

  a {
    color: #eee;

    &:hover {
      color: #fff;
    }
  }
}
