#login {
  background-color: #232A34;
  text-align: center;
  padding-top: 100px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #eee;

  h3 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 28px;
  }

  p {
    color: #bbb;
    font-size: $font-size;
  }

  .alert.alert-danger {
    background-color: #e06666;
    border: 0;
    margin: 0px auto 15px;
    width: 100%;
    padding: 10px;
    font-size: 13px;

    p {
      color: #eee;
      line-height: 20px;
    }

    a {
      cursor: pointer;
      color: #eee;
      border-bottom: 1px dashed #fff;
      font-size: 13px;
    }
  }
}

.login-img-wrapper {
  width: 200px;
  margin: 40px auto 20px;

  img {
    width: 100%;
    height: 100%;
  }
}

.login-content {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
  background-color: #fafafa;
  border-radius: 6px;

  a {
    color: #3B94D9;
  }
}

.btn-login {
  line-height: 24px;
  font-size: 16px;
  border-radius: 0;
  margin-bottom: 10px;

  i {
    font-size: 20px;
    position: relative;
    top: 1px;
    padding-right: 3px;
  }
}

.login-spinner {
  margin: 10px 0;
  color: #777;
}
