.componentButton {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.componentButton.wide {
  width: 50%;
}

.componentButton button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 12px;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.componentButton:last-child button {
  margin-right: 0;
}

.componentButton.orange button {
  background-color: #f5923e;
  color: white;
}

@media (min-width: 200px) and (min-height: 200px) {
  .componentButton button {
    font-size: 25px;
  }
}

@media (min-width: 300px) and (min-height: 300px) {
  .componentButton button {
    font-size: 30px;
  }
}

@media (min-width: 400px) and (min-height: 400px) {
  .componentButton button {
    font-size: 35px;
  }
}

@media (min-width: 500px) and (min-height: 500px) {
  .componentButton button {
    font-size: 40px;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .componentButton button {
    font-size: 60px;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  .componentButton button {
    font-size: 70px;
  }
}
