html {
  position: relative;
  height: 100%;
  box-shadow: 5px 2px 2px #333;

  &.updates, &.debug, &.about, &.preferences {
    background-color: #ECECEC;

    body {
      background-color: #ECECEC;
      margin-bottom: 0;
    }
  }

  &.app {

    body {
      margin-bottom: $footer-height;
      padding-top: 12px;
      border-radius: 5px;

      &:before {
        content: "";
        height: 0;
        width: 0;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        border-color: transparent transparent #eee transparent;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.login, &.project-show {
    body:before {
      border-bottom-color: #fff;
    }
  }
}

html, body {
  background-color: transparent;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
}

h3, h4 {
  font-family: "Fira Sans";
}

a {
  color: $blue-primary;
}

a, button {
  &:focus {
    outline: 0;
  }
}