#app {
  background-color: white;
  min-height: 388px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

html.has-updates {
  .helper-line {
    bottom: 80px;
  }

  .alert {
    margin-bottom: 80px;
  }
}

.btn:focus {
  outline: 0 !important;
}
