name: 'Add stale issue/PR to Triage Board'
on:
  issues:
    types: [labeled]
  pull_request:
    types: [labeled]

jobs:
  add-to-triage-project-board:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'stale') || contains(github.event.issue.labels.*.name, 'stale')
    steps:
      - name: Add issue to triage board
        uses: cypress-io/cypress/.github/workflows/triage_add_to_project.yml@develop
      - name: Move to Awaiting Response status
        uses: cypress-io/cypress/.github/workflows/triage_update_status.yml@develop
        with:
          status: 'Awaiting Response'
