.duration {
  border: 1px solid $gray-900;
  border-radius: 18px;
  color: $gray-400;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 8px;
  font-variant-numeric: tabular-nums;
}