.projects-list {
  bottom: 18px;
  top: 40px;
  position: fixed;
  overflow: auto;
  margin-bottom: 0;
  background-color: #fafafa;
  @include list-columns(75%, 20%, 5%);

  .fa-chevron-right {
    color: #666;
  }

  .react-context-menu-wrapper {
    overflow: auto;

    > a {
      display: flex;
      background-color: #fff;

      &.project {
        &.loading {
          pointer-events: none;

          &:hover {
            cursor: wait;
            background-color: #fff;
          }

          .project-name,
          .project-path,
          i {
            color: #ccc;
          }
        }

        &.loaded:hover {
          cursor: pointer;
          background-color: #EEE;
        }
      }

      &:hover,
      &:focus,
      &:active {
        background-color: #f8f8f8;

        .fa-chevron-right,
        .project-name {
          color: #555;
        }

        .remove-link {
          opacity: 1;
        }
      }
    }

    .row-column-wrapper {
      flex-grow: 0;
      flex-shrink: 0;
      float: none;
    }
  }

  .row-column-wrapper {
    display: flex;

    .row-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 20px;
      width: 100%;
    }

    &.arrow {
      align-items: center;
      justify-content: center;
    }
  }

  .project-name {
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    top:5px;

    .label {
      font-size: 9px;
      position: relative;
      top: -2px;
      margin-left: 5px;
    }
  }

  .project-path {
    color: #8e8e8e;
    font-size: 12px;
    font-style: italic;
    line-height: 22px;
  }

  .project-owner {
    font-size: 13px;
    color: #666;
  }

  .last-build-status {
    font-size: 14px;
    color: #555;
    font-weight: 500;

    .passing i {
      color: #39c598;
    }

    .failing i {
      color: #ea6675;
    }

    .running i {
      color: #5793d1;
    }

    .invalid i {
      color: #f0ad4e;
    }
  }

  .last-build-time {
    font-size: 12px;
    color: #888;
    font-style: italic;
  }
}

html.has-updates {
  .projects-list,
  #tests-list-page,
  #config,
  #builds-list-page {
    bottom: 56px;
  }
}

.close-browser {
  .btn {
    margin-top: 7px;
  }
}
